
/* ********************************************************************************** 

* 기본 태그 선언 

* *********************************************************************************** */

/*@CHARSET "UTF-8";*/
@charset "utf-8";
/*
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Poppins);
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900|Roboto:300,400,500,700,900');
@import url(../font/font_notokr/notosans_kr_stylesheet.css);

@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
	word-break:keep-all;
	word-wrap:break-word;
	font-family:'Roboto','notokr','Montserrat',"Malgun Gothic",sans-serif;
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	letter-spacing:-0.04em;
	-webkit-font-smoothing:antialiased;
	font-weight:400;
	line-height: 1.3;
}

body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,select,table,td,textarea,th,tr,ul,address{margin:0;padding:0}

img {border:0; vertical-align:middle; max-width:100%;}   
html {}
body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family:'Roboto','notokr','Montserrat',"Malgun Gothic",sans-serif;
	font-size:15px;
	color:#333;
	letter-spacing:-0.04em;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	line-height: 1.3;
	
}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}

img{border:0;vertical-align:top}

address { text-decoration:none; font-style:normal;}

hr{display:none}

dd,dl,dt,li,ol,ul{padding:0;margin:0;list-style:none}

table,td,th{border-collapse:collapse;border-spacing:0;font-weight:400}

caption {position:absolute; left:-10000px}

legend{display:none;}

blockquote,button,fieldset,iframe{border:0}

cite,em,u{font-style:normal}

a{color:#333;text-decoration:none; /*outline: none;*/}

a:focus,a:hover{color:#333;text-decoration:none}

input{font-family:'notokr',"Open Sans","Malgun Gothic",sans-serif}

label{font-weight:400;margin:0}

strong{font-weight:400}

button{
	background:0;
	cursor:pointer;
	vertical-align:middle;
	font-family:'notokr',"Open Sans","Malgun Gothic",sans-serif;
	line-height:1.2;
	color:#333;
	letter-spacing:-0.04em;
	-webkit-text-size-adjust:none;
	line-height: 1.3;
}

button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:none}

article,aside,footer,header,main,nav,section{display:block}

input[type=date]::-webkit-calendar-picker-indicator,input[type=date]::-webkit-inner-spin-button{display:none}

::-webkit-input-placeholder{color:#aaa}
::-moz-placeholder{color:#aaa}
:-ms-input-placeholder{color:#aaa}
:-moz-placeholder{color:#aaa}
::-ms-clear,::-ms-reveal{display:none}
button,input,select,textarea{border:0;font-size:14px}

select {padding:5px 7px;}

input {vertical-align: middle;}
input[type=radio],
input[type=checkbox] {vertical-align:middle; margin:0 5px 0 0; border:1px solid #cfcfcf;}
input[type=text],
input[type=number],
input[type=password] {vertical-align:middle; border:1px solid #d9d8d8; padding:3px 10px; font-family:'notokr', sans-serif;} 
input[type=file] {vertical-align:middle; border:1px solid #d9d8d8; padding:3px; background:#fff; font-family:'notokr', sans-serif;}
input[type=file] button {font-size:50px;}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {letter-spacing:-0.03em; font-family:'notokr', sans-serif;}

input::-webkit-input-placeholder {letter-spacing:-0.03em; font-family:'notokr', sans-serif;}
input::-moz-placeholder {letter-spacing:-0.03em; font-family:'notokr', sans-serif;}
input:-ms-input-placeholder {letter-spacing:-0.03em; font-family:'notokr', sans-serif;}
input:-moz-placeholder {letter-spacing:-0.03em; font-family:'notokr', sans-serif;}


legend, caption, hr, .blind{position:absolute; left:-9999px; top:0; overflow:hidden; line-height:0.1%; font-size:0.1%; width:0.1%; height:0.1%;}


/* ************************************************************************************** *

* 공통 CSS
* 
/* ************************************************************************************** */

/* 글자넘어가면 점처리 */
.letterOver {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.letterOverTable { max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/* 2줄 이상일때 점처리 */
.letterOver_02 {
	display:-webkit-box;
	height:20px; /* 높이값 추가 */
	overflow:hidden; /* 숨김처리 */
	text-overflow:ellipsis;
	-webkit-line-clamp:2; /*라인수 설정*/
	word-wrap:break-word;
	-webkit-box-orient:vertical;	
}

/* 공통 클래스 Css */
.left {float:left; } 
.right {float:right;} 
.clear {clear: both; } 
.pointer {cursor: pointer; }
.bold {font-weight: bold !important; }  
.bolderLight {font-weight:500 !important;}


/* 공통 클래스 ClearFix Css */
.clearfix:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.clearfix { display: inline-block; *display:inline; *zoom:1; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/* TRANSITION */
.transDefault {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/* TRANSITION */
.transDefault2 {
    -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;

    transition:0.15s all ease;
}

.selectArrowNon {
	appearance:none;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}
.selectArrowNon::-ms-expand{
  display:none;
}



/* TEXT-ALING */
.textC { text-align:center !important; }
.textL { text-align:left !important; }
.textR { text-align:right !important; }



/* MARGIN */
.mgA0 { margin:0; }

.mgT0 { margin-top:0px }
.mgT5 { margin-top:5px }
.mgT10 { margin-top:10px }
.mgT15 { margin-top:15px }
.mgT20 { margin-top:20px }
.mgT25 { margin-top:25px }
.mgT30 { margin-top:30px }
.mgT35 { margin-top:35px }
.mgT40 { margin-top:40px }
.mgT45 { margin-top:45px }
.mgT50 { margin-top:50px }
.mgT55 { margin-top:55px }
.mgT60 { margin-top:60px }
.mgT65 { margin-top:65px }
.mgT70 { margin-top:70px }

.mgL5 { margin-left:5px }
.mgL10 { margin-left:10px }
.mgL15 { margin-left:15px }
.mgL20 { margin-left:20px }
.mgL25 { margin-left:25px }
.mgL30 { margin-left:30px }
.mgL35 { margin-left:35px }
.mgL40 { margin-left:40px }
.mgL45 { margin-left:45px }
.mgL50 { margin-left:50px }
.mgL55 { margin-left:55px }
.mgL60 { margin-left:60px }
.mgL65 { margin-left:65px }

.mgR1 { margin-right:1px }
.mgR5 { margin-right:5px }
.mgR10 { margin-right:10px }
.mgR15 { margin-right:15px }
.mgR20 { margin-right:20px }
.mgR25 { margin-right:25px }
.mgR30 { margin-right:30px }
.mgR35 { margin-right:35px }
.mgR40 { margin-right:40px }
.mgR45 { margin-right:45px }
.mgR50 { margin-right:50px }
.mgR55 { margin-right:55px }
.mgR60 { margin-right:60px }
.mgR80 { margin-right:80px }

.mgB5 { margin-bottom:5px }
.mgB10 { margin-bottom:10px }
.mgB15 { margin-bottom:15px }
.mgB20 { margin-bottom:20px }
.mgB25 { margin-bottom:25px }
.mgB30 { margin-bottom:30px }
.mgB35 { margin-bottom:35px }
.mgB40 { margin-bottom:40px }
.mgB45 { margin-bottom:45px }
.mgB50 { margin-bottom:50px }
.mgB55 { margin-bottom:55px }
.mgB70 { margin-bottom:70px }



/* PADDING */
.pdA0{padding:0 !important;}
.pdA5{padding:5px !important;}
.pdA10{padding:10px !important;}
.pdA20{padding:20px !important;}

.pdT0{padding-top:0px !important}
.pdT5{padding-top:5px !important}
.pdT6{padding-top:6px !important}
.pdT10{padding-top:10px !important}
.pdT15{padding-top:15px !important}
.pdT20{padding-top:20px !important}
.pdT25{padding-top:25px !important}
.pdT30{padding-top:30px !important}
.pdT35{padding-top:35px !important}
.pdT40{padding-top:40px !important}
.pdT45{padding-top:45px !important}
.pdT50{padding-top:50px !important}

.pdL5{padding-left:5px !important}
.pdL10{padding-left:10px !important}
.pdL15{padding-left:15px !important}
.pdL20{padding-left:20px !important}
.pdL25{padding-left:25px !important}
.pdL30{padding-left:30px !important}
.pdL35{padding-left:35px !important}
.pdL40{padding-left:40px !important}
.pdL45{padding-left:45px !important}

.pdR5{padding-right:5px !important}
.pdR10{padding-right:10px !important}
.pdR15{padding-right:15px !important}
.pdR20{padding-right:20px !important}
.pdR25{padding-right:25px !important}
.pdR30{padding-right:30px !important}
.pdR35{padding-right:35px !important}
.pdR40{padding-right:40px !important}
.pdR45{padding-right:45px !important}

.pdB5{padding-bottom:5px !important}
.pdB10{padding-bottom:10px !important}
.pdB15{padding-bottom:15px !important}
.pdB20{padding-bottom:20px !important}
.pdB25{padding-bottom:25px !important}
.pdB30{padding-bottom:30px !important}
.pdB35{padding-bottom:35px !important}
.pdB40{padding-bottom:40px !important}
.pdB45{padding-bottom:45px !important}




/* COLOR */
.colorR {color:#ed1c24 !important;}
.colorB {color:#2a5caa !important;}
.colorOran {color:#f58220 !important;}
.colorGreen {color:#0db14b !important;}
.colorGreenBright {color:#70c043 !important;}
.colorGray {color:#666766 !important;}
.colorGray2 {color:#888 !important;}
.colorPurple {color:#8661a6 !important;}

.blue-c {color:#3f6fb6 !important;}
.red-c {color:#ee0404 !important;}
.purple-c {color:#6a3b81 !important;}

.bor {font-weight: 800 !important;}


/* DISPLAY */
.hide { visibility:hidden; }
.block { display:block; }
.none { display:none; }


/* FLOAT */
.leftF { float:left; }
.rightF { float:right; }
.floatN { float:none; }


/* Box */
.inlinBox {display:inline-block;} 




/*게시물버튼기본*/
.btnTDefault {font-size:15px; border:1px solid #ddd; padding:9px 17px;}


/* Select */
.selectDefault {height:35px; border:1px solid #d9d8d8; vertical-align:middle; font-size:14px; padding:5px 5px 5px 10px;}



/* Input */
.txtDefault {height:35px; border:1px solid #ccc; vertical-align:middle; font-size:14px;}



/* TextArea */
.textareaDefault {width:100%; height:99px;}


/* Width 값 */
.width100Per {width:100%;}
.widthAuto {width:auto;}
.width40per {width:40%;}
.width50per {width:50%;}
.width60per {width:60%;}

.width50 {width:50px !important;}
.width60 {width:60px !important;}
.width70 {width:70px !important;}
.width80 {width:80px !important;}
.width90 {width:90px !important;}
.width130 {width:130px !important;}
.width150 {width:150px !important;}
.width160 {width:160px !important;}
.width170 {width:170px !important;}
.width180 {width:180px !important;}
.width190 {width:190px !important;}
.width200 {width:200px !important;}
.width220 {width:220px !important;}
.width350 {width:350px !important;}
.width370 {width:370px !important;}
.width630 {width:630px !important;}

.height35 {height:35px !important;}
.height50 {height:50px !important;}
.height100 {height:100px !important;}
.height180 {height:180px !important;}
.height200 {height:200px !important;}



/* BACKGROUND - COLOR */
.grayBoxW100 {position:relative;}
.grayBoxW100:before {content:" ";width: 146%;height:100%;background-color:#f9fafb;position:absolute;left: -22%;top:0;z-index:-1;}



/* 모바일 클래스 */
.viewPc {display:block;}
.viewMobile {display:none;}


/* 본문바로가기 */
/*
.skip{display:inline-block; overflow:hidden; height:12px; color:#fff; font-size:12px; margin:0 15px 0 0px; padding-left:1px; line-height:12px; width:0px;}
.txtSkip {text-indent: -9999px !important;}
*/

pre {word-wrap: break-word;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-break:break-all;}

.txtDecoUnderLine {text-decoration:underline;}

/* ********************************************************************************** 
* 세로 가운데 정렬

.layer{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center}
.layer .content{display:inline-block;background:#f00;vertical-align:middle}
.layer .blank{display:inline-block;width:0;height:100%;vertical-align:middle}

* *********************************************************************************** */

.blank {display:inline-block;width:0;height:100%;vertical-align:middle}


.row {width:100%; position:relative;}
.row:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}



/*메인 햄버거 메뉴*/
.main-hamberger span.ham-bar {display:block !important; width:22px; height:2px; background-color:#fff; margin-bottom: 6px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.main-hamberger span.ham-bar:last-of-type {margin-bottom:0;}
.main-hamberger span.ham-bar.bar03 {width:12px;}
.main-hamberger:hover span.ham-bar.bar03 {width:22px;}

/* ********************************************************************************** 
	Flex 메뉴사용 방법 
* *********************************************************************************** */
ul.flexible {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
ul.flexible:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1; }
ul.flexible li {flex-grow:1; cursor:pointer; text-align:center;}

.bg_gray_wide {width:100%; position:relative;}
.bg_gray_wide:before {content:""; width:2000%; height: 100%; background-color: #f6f7f9; position:absolute; left:-100%; top:0; z-index: -1;}


/* ********************************************************************************** 

	반응형

* *********************************************************************************** */

@media all and (max-width:850px){
	
	.width50 {width:100% !important;}
	.width60 {width:100% !important;}
	.width70 {width:100% !important;}
	.width80 {width:100% !important;}
	.width90 {width:100% !important;}
	.width130 {width:100% !important;}
	.width150 {width:100% !important;}
	.width160 {width:100% !important;}
	.width170 {width:100% !important;}
	.width180 {width:100% !important;}
	.width190 {width:100% !important;}
	.width200 {width:100% !important;}
	.width220 {width:100% !important;}
	.width350 {width:100% !important;}
	.width370 {width:100% !important;}
	.width630 {width:100% !important;}
	
	/* Width */	
	.selWSearch {width:100% !important;}
	.txtWSearch {width:100% !important;}
	.btnWSearch {width:100% !important;}
	
	.txtWUploadS {width:90% !important;}
	.txtWUploadM {width:100% !important;}
	.txtWUploadL {width:100% !important;}
	.txtWUploadL2 {width:100% !important;}
	
	/* View*/
	.viewPc {display:none;}
	.viewMobile {display:block;}
	.mobileW100 {width:100%; margin:0 0 5px 0;}
	
	/* Button */	
	.btnTDefault {font-size:13px; border:1px solid #ddd; padding:8px 15px;}
	
	/* 모바일에서 테이블 처리 - 스크롤바 생성 */
	.table_wrap_mobile {overflow-x:scroll;}
	.table_wrap_mobile table {width:750px;}
	.table_wrap_mobile table th {font-size:0.80em !important;}
	.table_wrap_mobile table td {font-size:0.80em !important;}
	/* 스크롤 처리 하지 않을 테이블에 dontwantScroll 클래스 추가 */
	.table_wrap_mobile .dontwantScroll {width:100%;}
	.m_table_wrap { overflow-x:scroll; }
		
}

@media all and (max-width:450px){	
	
}

