@charset "utf-8";
/* CSS Document */


/* #main-con {width: 100%;} */
/* #main-con:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;} */


/* /*메인슬라이드*/ */
/* .main-slider-box {width: 100%; height: 500px; position: relative;} */
/* .main-slider-box .inner {width: 1203px; height: 100%; margin:0 auto;} */
/* .main-slider-box .txt-b {padding:80px 80px; } */
/* .main-slider-box .txt-b h2 {font-size: 28px; color:#fff; font-weight: 500; text-shadow: 2px 2px 3px rgba(0,0,0,0.5);} */
/* .main-slider-box .txt-b h2 b {font-weight: 800;} */
/* .main-slider-box .txt-b h5 {font-size: 18px; color:#fff; font-weight: 500; text-shadow: 2px 2px 3px rgba(0,0,0,0.5); margin-top: 15px;} */

/* .main-slider-box .txt-b .circle-btn-b {width: 132px; height: 132px; margin-top: 50px;} */
/* .main-slider-box .txt-b .circle-btn-b a {display: block; width: 100%; height: 100%; border-radius: 50%; background-color:#6093f0; text-align: center; padding:40px 0 0; transition: all 0.3s ease;} */
/* .main-slider-box .txt-b .circle-btn-b a .txt {font-size: 15px; font-weight: 500; color:#fff;} */
/* .main-slider-box .txt-b .circle-btn-b a .btn {font-size: 14px; font-weight: 500; color:#fff; margin-top: 5px; padding: 2px 10px; border:1px solid #fff; border-radius: 15px; transition: all 0.3s ease;} */
/* .main-slider-box .txt-b .circle-btn-b a:hover {background-color:#4184ff;} */
/* .main-slider-box .txt-b .circle-btn-b a:hover .btn {background-color:#fff; color:#6093f0;} */


/* @media all and (max-width:1203px){ */

/* 	.main-slider-box .inner {width: 100%; height: 100%; margin:0 auto;} */
	
/* } */


/* @media all and (max-width:999px){ */
/* 	.main-slider-box {height: 250px;} */
/* 	.main-slider-box .txt-b {padding:40px 20px; } */
/* 	.main-slider-box .txt-b h2 {font-size: 15px; text-align: justify;} */
/* 	.main-slider-box .txt-b h2 br {display: none;} */
/* 	.main-slider-box .txt-b h5 {font-size: 13px; text-align: justify; margin-top: 10px;} */
/* 	.main-slider-box .txt-b h5 br {display: none;} */

/* 	.main-slider-box .txt-b .circle-btn-b {width: 100%; height: auto; margin-top: 20px;} */
/* 	.main-slider-box .txt-b .circle-btn-b a {border-radius: 30px; padding:8px 10px; text-align: center;} */
/* 	.main-slider-box .txt-b .circle-btn-b a .txt {font-size: 13px; display: inline-block; vertical-align:middle;} */
/* 	.main-slider-box .txt-b .circle-btn-b a .txt br {display:none;} */
/* 	.main-slider-box .txt-b .circle-btn-b a .btn {font-size: 12px; display: inline-block; vertical-align:middle; margin-top: 0px; padding: 2px 10px; border-radius: 15px; margin-left: 5px;} */
/* } */

#main-con {width: 100%;}
#main-con:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}


/*메인슬라이드*/
#main-slide-box {width: 100%; position: relative;}
#main-slide-box .btn-b {position: absolute; top:45%; z-index: 1200;}
#main-slide-box .btn-b button {}
#main-slide-box .btn-b button i {color:#fff; font-size: 70px;}
#main-slide-box .btn-b.prev {left:3%;}
#main-slide-box .btn-b.next {right:3%;}

#main-slide-box .main-slide-page {position: absolute; right:34px; bottom: 24px; z-index: 1500;}
.main-slide-page .slick-dots {}
.main-slide-page .slick-dots:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-slide-page .slick-dots li {float:left; margin:0 8px; position: relative;}
.main-slide-page .slick-dots li:before {content:""; width: 4px; height: 4px; border-radius: 50%; background-color:#fff; position: absolute; left:-8px; top: 40%; }
.main-slide-page .slick-dots li:first-child:before {width: 0; height: 0;}
.main-slide-page .slick-dots li button {color:#fff; font-size: 15px; font-family:'Roboto'; font-weight: 500; display: block; width: 24px; height: 24px; border-radius: 50%; line-height: 22px;}
.main-slide-page .slick-dots li.slick-active button {border:2px solid #fff;}

.main-slide-page .pause {display:inline-block; vertical-align:bottom; padding-top: 2px;}
.main-slide-page .pause i {color:#fff; font-size: 14px;}


.main-slide-ul {width: 100%; height: 500px;}
.main-slide-ul .img-b {width: 100%; height: 500px; background-repeat: no-repeat; background-position: center center; background-size: cover; }

@media all and (max-width:1250px){
	
	.main-slide-ul {height: 400px;}
	.main-slide-ul .img-b {height: 400px;}
}

@media all and (max-width:900px){
	/*메인슬라이드*/
	#main-slide-box {}
	#main-slide-box .btn-b {top:45%;}
	#main-slide-box .btn-b button {}
	#main-slide-box .btn-b button i {font-size: 30px;}

	.main-slide-page .slick-dots li button {font-size: 13px; font-weight: 400; width: 20px; height: 20px; line-height: 20px;}
	.main-slide-page .slick-dots li.slick-active button {border:2px solid #fff;}

	.main-slide-page .pause {display:inline-block; vertical-align:bottom; padding-top: 2px;}
	.main-slide-page .pause i {color:#fff; font-size: 14px;}


	.main-slide-ul {height: 200px;}
	.main-slide-ul .img-b {height: 200px;}
}







/** 밑에 컨텐츠 **/
.main-bottom-wrap {width: 100%; background-color:#f5f4f9; padding:80px 0 70px;
	background-image:url('/resources/culture/img/bg/bg_main_middle_01.png'), url('/resources/culture/img/bg/bg_main_middle_02.png');
	background-repeat:no-repeat, no-repeat;
	background-position:left 3% bottom 0, right 3% bottom 20px;
}
.main-bottom-wrap .col {float: left; padding:0 25px;}
.main-bottom-wrap .col.news {width: 39%;}
.main-bottom-wrap .col.survey {width: 39%;}
.main-bottom-wrap .col.book {width: 22%;}

.main-bottom-wrap .col .title-box {width: 100%; position: relative;}
.main-bottom-wrap .col .title-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-bottom-wrap .col .title-box h2 {float:left; font-size: 20px; color:#333; font-weight: 600; }
.main-bottom-wrap .col .title-box .more {float: right; width: 27px; height: 27px; border:1px solid #ddd; padding:3px 0 0; transition: all 0.3s ease;}
.main-bottom-wrap .col .title-box .more i {font-size: 20px; color:#999;}
.main-bottom-wrap .col .title-box .more:hover {background-color:#6093f0; border-color: #6093f0;}
.main-bottom-wrap .col .title-box .more:hover i {color:#fff;}
.main-bottom-wrap .col .title-box .tab-in {float: left; margin-left: 30px; margin-top: 4px;}
.main-bottom-wrap .col .title-box .tab-in:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-bottom-wrap .col .title-box .tab-in li {float: left; padding:0 5px;}
.main-bottom-wrap .col .title-box .tab-in li a {font-size: 15px; color:#555; display: block; position: relative;}
.main-bottom-wrap .col .title-box .tab-in li.active a {font-weight: 600; color:#6093f0;}
.main-bottom-wrap .col .title-box .tab-in li.active a:after {content:"\25BC"; color:#6093f0; font-size: 10px; padding-left: 5px; display: inline-block; vertical-align: top;}

.main-bottom-wrap .col.board .con-box {margin-top: 35px; }
.main-bottom-wrap .col.board .con-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-bottom-wrap .col.board .main-board-ul {width: 100%;}
.main-bottom-wrap .col.board .main-board-ul li {width: 100%; padding:13px 5px; border-bottom:1px solid #ddd; }
.main-bottom-wrap .col.board .main-board-ul li:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-bottom-wrap .col.board .main-board-ul li .sbj {display: block; float: left; width: 80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 15px; color: #222; font-weight: 500;}
.main-bottom-wrap .col.board .main-board-ul li .sbj .no {font-size: 12px; font-weight: 500; border:1px solid #6093f0; color:#6093f0; border-radius: 10px; padding:1px 10px; display: inline-block; margin-right: 5px;}
.main-bottom-wrap .col.board .main-board-ul li .sbj .num {font-size: 13px; font-weight: 600; padding:0 10px;}
.main-bottom-wrap .col.board .main-board-ul li .date {float: left; width: 20%; text-align: right; font-size: 14px; color:#555;}
.main-bottom-wrap .col.book .con-box {margin-top: 20px; }
.main-bottom-wrap .col.book .main-book-up {width: 100%; height:285px; border:1px solid #ddd; background-repeat: no-repeat; background-size: cover; background-position: center center;}





@media all and (max-width:999px){
	/** 밑에 컨텐츠 **/
	.main-bottom-wrap {padding:20px 10px 20px;}
	.main-bottom-wrap .col {float: none; padding:20px 0px;}
	.main-bottom-wrap .col.news {width: 100%;}
	.main-bottom-wrap .col.survey {width: 100%;}
	.main-bottom-wrap .col.book {width: 100%;}

	.main-bottom-wrap .col .title-box {width: 100%;}
	.main-bottom-wrap .col .title-box h2 {float:left; font-size: 15px;}
	.main-bottom-wrap .col .title-box .more {width: 20px; height: 20px; padding:1px 0 0;}
	.main-bottom-wrap .col .title-box .more i {font-size: 15px;}
	.main-bottom-wrap .col .title-box .tab-in {margin-left: 20px; margin-top: 3px;}
	.main-bottom-wrap .col .title-box .tab-in li {float: left; padding:0 5px;}
	.main-bottom-wrap .col .title-box .tab-in li a {font-size: 13px;}
	.main-bottom-wrap .col .title-box .tab-in li.active a:after {font-size: 8px; padding-left: 5px;}

	.main-bottom-wrap .col.board .con-box {margin-top: 10px; }
	.main-bottom-wrap .col.board .main-board-ul {}
	.main-bottom-wrap .col.board .main-board-ul li {padding:9px 5px;}
	.main-bottom-wrap .col.board .main-board-ul li .sbj {width: 80%; font-size: 13px;}
	.main-bottom-wrap .col.board .main-board-ul li .sbj .no {font-size: 11px;}
	.main-bottom-wrap .col.board .main-board-ul li .sbj .num {font-size: 12px; padding:0 5px;}
	.main-bottom-wrap .col.board .main-board-ul li .date {width: 20%; font-size: 13px;}
	.main-bottom-wrap .col.book .con-box {margin-top: 10px; }
	.main-bottom-wrap .col.book .main-book-up {width: 210px; height: 285px; margin:0 auto; }
}

/* 2020-11-04 메인 시안 CSS */
.jeonnam_culture_new_con {width: 100%; padding:64px 0 70px;}

.jeonnam_culture_new_con .col {float: left; padding:0 25px;}
.jeonnam_culture_new_con .col.gallery {width: 39%;}
.jeonnam_culture_new_con .col.youtube {width: 39%;}
.jeonnam_culture_new_con .col.mahan {width: 22%; padding-right: 0; padding-left: 18px;}

.jeonnam_culture_new_con .col .title-box {width: 100%; position: relative; margin-bottom: 25px;}
.jeonnam_culture_new_con .col .title-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.jeonnam_culture_new_con .col .title-box h2 {float:left; font-size: 20px; color:#333; font-weight: 600; }
.jeonnam_culture_new_con .col .title-box .more {float: right; width: 27px; height: 27px; border:1px solid #ddd; padding:3px 0 0; transition: all 0.3s ease;}
.jeonnam_culture_new_con .col .title-box .more i {font-size: 20px; color:#999;}
.jeonnam_culture_new_con .col .title-box .more:hover {background-color:#6093f0; border-color: #6093f0;}
.jeonnam_culture_new_con .col .title-box .more:hover i {color:#fff;}

.main_youtube1_mahan {height: 292px;}
.main_youtube1_mahan .in {width: 100%; height: 100%;}

.main_gallery_board1 {width: 100%;}
.main_gallery_ul {width: 100%; display: flex; flex-wrap: wrap;}
.main_gallery_ul li {width: 50%; margin-bottom: 12px;}
.main_gallery_ul li a {display: block; padding: 0 7px;}
.main_gallery_ul li .img_box {position: relative; width: 100%; height: 0; padding-top: 60%; overflow: hidden;}
.main_gallery_ul li .img_box img {position: absolute; left: 0; top: 50%; min-width: 100%; min-height: 100%; transform: translateY(-50%);}
.main_gallery_ul li .txt_box {margin-top: 7px; font-size: 14px; font-weight: 500; color: #333; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.main_gallery_ul li a:hover .txt_box {text-decoration: underline;}



@media all and (max-width:1100px){
	.main_youtube1_mahan {height: 230px;}
}



@media all and (max-width:999px){
	.jeonnam_culture_new_con {padding:30px 10px 40px;}

	.jeonnam_culture_new_con .col {float: none; padding:15px 0;}
	.jeonnam_culture_new_con .col.gallery {width: 100%;}
	.jeonnam_culture_new_con .col.youtube {width: 100%;}
	.jeonnam_culture_new_con .col.mahan {width: 100%; padding-right: 0; padding-left: 0; margin-top: 15px; text-align: center;}

	.jeonnam_culture_new_con .col .title-box {width: 100%; margin-bottom: 15px;}
	.jeonnam_culture_new_con .col .title-box h2 {float:left; font-size: 15px;}
	.jeonnam_culture_new_con .col .title-box .more {width: 20px; height: 20px; padding:1px 0 0;}
	.jeonnam_culture_new_con .col .title-box .more i {font-size: 15px;}

	.main_youtube1_mahan {height: auto; width: 100%; padding-top: 60%; overflow: hidden; position: relative;}
	.main_youtube1_mahan .in {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

	.main_gallery_ul li {margin-bottom: 10px;}
	.main_gallery_ul li a {padding: 0 5px;}
	.main_gallery_ul li .txt_box {margin-top: 5px; font-size: 13px;}
}










