@charset "utf-8";
/* CSS Document */







/******** 연구소 소개  ********/
.lab_in_con_box {width: 100%; border:1px solid #ddd; padding:55px 85px;}
.lab_in_con_box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.lab_intro_box .txt-b {width: 100%;}
.lab_intro_box .txt-b h2 {font-size: 25px; font-weight: 500; color:#6093f0; margin-bottom: 30px; text-align: center;}
.lab_intro_box .txt-b h5 {font-size: 16px; font-weight: 400; color:#444; text-align: justify; line-height: 1.6;}
.lab_intro_box .txt-b .btn-b {text-align: right; margin:-10px 0 0;}
.lab_intro_box .txt-b .btn-b .btn-more {width: 135px; height: 41px; border:1px solid #6093f0; border-radius: 10px; font-size: 14px; font-weight: 500; color: #666; transition: all 0.3s ease;}
.lab_intro_box .txt-b .btn-b .btn-more:hover {background-color:#6093f0; color:#fff;}

.lab_intro_box .img-box {width: 100%;}
.lab_intro_box .img-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.lab_intro_box .img-box .img-b {display: inline-block; vertical-align: bottom;}
.lab_intro_box .img-box .sub-txt {display: inline-block; vertical-align: bottom; font-size: 14px; font-weight: 500; color:#333; padding:0 0 35px 20px;}



@media all and (max-width:999px){

	/******** 연구소 소개  ********/
	.lab_in_con_box {padding:25px 15px;}

	.lab_intro_box .txt-b {width: 100%;}
	.lab_intro_box .txt-b h2 {font-size: 18px; margin-bottom: 20px;}
	.lab_intro_box .txt-b h5 {font-size: 13px; line-height: 1.5;}
	.lab_intro_box .txt-b .btn-b {margin:0px 0 20px;}
	.lab_intro_box .txt-b .btn-b .btn-more {width: 100px; height: 36px; font-size: 13px;}

	.lab_intro_box .img-box {}
	.lab_intro_box .img-box .img-b {display: block; width: 100%; margin-bottom: 10px;}
	.lab_intro_box .img-box .sub-txt {display: block; font-size: 13px; padding:0;}
}







/******** 서브페이지 ********/
.sub-in-yellow-title {width: 100%; min-height: 25px; padding-left: 35px; background-image: url('/resources/culture/img/icon/icon_title_circle.png'); background-repeat: no-repeat; background-position: left 0 top 0px; font-size: 18px; font-weight: 600; color: #444; margin-bottom: 20px;}
.sub-in-yellow-title .sm {font-size: 0.9em; font-weight: 400;}
.sub-arrow-title {padding-left:20px; font-size: 18px; font-weight: 500; color:#222; margin:0 0 5px; background:url('/resources/culture/img/icon/icon_sub_arrow.png') no-repeat left 0 top 5px;}

.dot-ul-1 {margin:5px 0;}
.dot-ul-1 > li {padding-left: 12px; position: relative; font-size: 16px; color:#444; margin-top: 10px; font-weight: 500;}
.dot-ul-1 > li:first-of-type {margin-top: 0px;}
.dot-ul-1 > li b {font-weight: 600; }
.dot-ul-1 > li:before {content:""; width: 2px; height: 2px; background-color:#6093f0; border-radius: 50%; position: absolute; left:0; top: 9px; }

.dot-ul-1.sm > li {font-size: 14px; margin-top: 4px; }
.dot-ul-1.sm > li:first-child {margin-top: 0px; }

.dot-ul-1.lg > li {font-size: 17px; margin-top: 5px; }
.dot-ul-1.lg > li:first-child {margin-top: 0px; }

.sub_in_tx {font-size: 16px; font-weight: 500; color: #555; line-height: 1.5;}
 

@media all and (max-width:999px){

	/******** 연혁 및 소개 ********/
	.sub-in-yellow-title {min-height: 20px; padding-left: 23px; background-size: 15px auto; font-size: 15px; margin-bottom: 10px;}
	.sub-arrow-title {padding-left:15px; font-size: 15px; background-size: 5px auto; background-position:0 5px;  }

	.dot-ul-1 {}
	.dot-ul-1 li {font-size: 14px; margin-top: 5px;}
	.dot-ul-1 li:before {top: 7px; }

	.dot-ul-1.sm li {font-size: 13px; }
	.dot-ul-1.lg > li {font-size: 14px;}

	.sub_in_tx {font-size: 14px;}

}







/******** 설립목적 및 연혁 ********/
.lab_history_box {width: 100%;}
.lab_history_box .reason_box {width: 100%; padding:40px 65px 32px; border:1px solid #ddd; background-color:#f5f5f5; text-align: center;}
.lab_history_box .reason_box h2 {font-size: 18px; font-weight: 600; color:#6093f0; margin:0 0 15px;}
.lab_history_box .reason_box h5 {font-size: 16px; color:#555; line-height: 1.5; font-weight: 500;}

.lab_history_box .history_in {padding-left: 20px;}
.lab_history_box .history_in .tab_box {width: 100%; margin-bottom: 35px;}
.lab_history_box .history_tab {width: 100%;}
.lab_history_box .history_tab:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.lab_history_box .history_tab li {float: left; width: 16.66%; padding:0 5px;}
.lab_history_box .history_tab li a {display: block; text-align: center; padding:8px 5px 6px; border:1px solid #cfcfcf; border-radius: 10px; font-size: 18px; font-weight: 500; color:#555; background-color: #fff; transition: all 0.3s ease;}
.lab_history_box .history_tab li.active a {border-color:#6093f0; background-color:#6093f0; color:#fff;}

.lab_history_box .history_in .con-box {width: 100%;}
.lab_history_box .history_tab_con {width: 100%; border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; padding:25px ;}
.lab_history_box .history_tab_con:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.lab_history_box .history_tab_con .year-b {float: left; width: 22%; }
.lab_history_box .history_tab_con .year-b h2 {font-size: 38px; font-weight: 600; color:#6093f0; line-height: 1;}
.lab_history_box .history_tab_con .con-b {float: left; width: 78%; }
.lab_history_box .history_con_ul {width: 100%;}
.lab_history_box .history_con_ul li {width: 100%; border-top: 1px dashed #ddd; padding:18px;}
.lab_history_box .history_con_ul li:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.lab_history_box .history_con_ul li:first-child {border-top: none; padding-top: 0;}
.lab_history_box .history_con_ul li:last-child {padding-bottom: 0;}
.lab_history_box .history_con_ul li .month {float: left; width: 25%; font-size: 18px; font-weight: 600; color:#555; line-height: 1;}
.lab_history_box .history_con_ul li .in_con {float: left; width: 75%; }
.lab_history_box .history_con_ul li .in_con p {font-size: 15px; font-weight: 500; color:#666; margin-top: 5px;}
.lab_history_box .history_con_ul li .in_con p:first-of-type {margin-top: 0;}






@media all and (max-width:999px){
	/******** 설립목적 및 연혁 ********/
	.lab_history_box {}
	.lab_history_box .reason_box {padding:25px 20px 20px;}
	.lab_history_box .reason_box h2 {font-size: 15px; margin:0 0 10px;}
	.lab_history_box .reason_box h5 {font-size: 13px; }

	.lab_history_box .history_in {padding-left: 10px;}
	.lab_history_box .history_in .tab_box {margin-bottom: 15px;}
	.lab_history_box .history_tab {}
	.lab_history_box .history_tab li {width: 33.33%; padding:3px 3px;}
	.lab_history_box .history_tab li a {padding:5px 5px 3px; border-radius: 5px; font-size: 14px; }

	.lab_history_box .history_in .con-box {}
	.lab_history_box .history_tab_con {padding:15px 5px;}
	.lab_history_box .history_tab_con .year-b {float: none; width: 100%; }
	.lab_history_box .history_tab_con .year-b h2 {font-size: 20px; text-align: center; padding:0 0 15px; border-bottom:1px solid #ddd; margin-bottom: 15px;}
	.lab_history_box .history_tab_con .con-b {float: none; width: 100%;}
	.lab_history_box .history_con_ul {}
	.lab_history_box .history_con_ul li {padding:13px 5px 10px;}
	.lab_history_box .history_con_ul li .month {width: 25%; font-size: 13px;}
	.lab_history_box .history_con_ul li .in_con {width: 75%; }
	.lab_history_box .history_con_ul li .in_con p {font-size: 13px;}
}









/******** 조사의뢰 안내 ********/
.sub_survey_info {}
.sub_survey_info .gray_box {width: 100%; padding: 35px 45px 30px; background-color:#f5f5f5; border:1px solid #ddd; text-align: center; margin:0 0 45px;}
.sub_survey_info .gray_box p {line-height: 1.5; font-size: 16px; font-weight: 500;}
.sub_survey_info .in {padding-left: 20px;}
.sub_survey_info .img-box2  {margin:50px 0; padding-left: 80px;}

.btn-surDown {min-width: 480px; height: 74px; border:1px solid #ddd; margin: 10px 0 0; transition: all 0.3s ease; }
.btn-surDown .txt {font-size: 16px; font-weight: 500; color:#6093f0;}
.btn-surDown .down {font-size: 16px; font-weight: 600; color:#444; text-decoration: underline;}
.btn-surDown:hover {background-color:#6093f0; border-color:#6093f0; }
.btn-surDown:hover .txt {color:#fff; }
.btn-surDown:hover .down {color:#fff; }


@media all and (max-width:999px){
	/******** 조사의뢰 안내 ********/
	.sub_survey_info {}
	.sub_survey_info .gray_box {padding: 20px 20px 20px; margin:0 0 25px;}
	.sub_survey_info .gray_box p {font-size: 14px;}
	.sub_survey_info .in {padding-left: 10px;}
	.sub_survey_info .img-box2  {margin:30px 0; padding-left: 0px;}

	.btn-surDown {min-width: 100%; height: 50px; margin: 10px 0 0;}
	.btn-surDown .txt {font-size: 13px;}
	.btn-surDown .down {font-size: 13px;}
}


/******** 관련사이트 ********/
.sub-relate-site-wrap {width: 100%;}
.sub-relate-site-wrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sub-relate-site-wrap .site_list {width: 100%; border:1px solid #ddd; margin-top: 80px;}
.sub-relate-site-wrap .site_list:first-of-type {margin-top: 0px;}
.sub-relate-site-wrap .site_list .site_tit {background-color:#6093f0; border:1px solid #6093f0; text-align: center; padding:15px 5px; color:#fff; font-size: 18px; font-weight: 500;}
.sub-relate-site-wrap .site_list .site_info {width: 100%; padding:25px 50px;}
.sub-relate-site-wrap .site_list .site_info:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sub-relate-site-wrap .site_list .site_info li {float: left; width: 20%; padding:9px 20px; }
.sub-relate-site-wrap .site_list .site_info li:nth-of-type(5n+1) {clear: both;}
.sub-relate-site-wrap .site_list .site_info li a {font-size: 15px; font-weight: 500; color:#555; display: block; line-height: 20px;}
.sub-relate-site-wrap .site_list .site_info li:hover a {color:#6093f0; text-decoration: underline; font-weight: 600;}



@media all and (max-width:999px){
  
  	/******** 관련사이트 ********/
    .sub-relate-site-wrap {}
    .sub-relate-site-wrap .site_list {margin-top: 30px;}
    .sub-relate-site-wrap .site_list .site_tit { padding:9px 5px 8px; font-size: 15px;}
    .sub-relate-site-wrap .site_list .site_info {padding:15px 20px;}
    .sub-relate-site-wrap .site_list .site_info li {width: 50%; padding:5px 10px; }
    .sub-relate-site-wrap .site_list .site_info li:nth-of-type(5n+1) {clear: none;}
    .sub-relate-site-wrap .site_list .site_info li:nth-of-type(2n+1) {clear: both;}
    .sub-relate-site-wrap .site_list .site_info li a {font-size: 13px; line-height: 18px;}
  
}









/******** 마한사 개괄 ********/
.mahan_info_box {background: #133856 url('../resources/img/sub/bg_mahansa.png') repeat-y top right; background-size: 100% 100%; padding: 100px 95px 130px 50px;}
.mahan_info_box .top_title {margin-bottom: 35px;}
.mahan_info_box .top_title h2 {font-size: 40px; font-weight: 600; color: #fff;}
.mahan_info_box .top_title h2 b {font-weight: 600; color: #e8cc83;}

.mahan_info_box .mid_title {margin-bottom: 30px;}
.mahan_info_box .mid_title h3 {font-size: 35px; font-weight: 600; color: #e8cc83;}
.mahan_info_box .mid_title h4 {font-size: 23px; font-weight: 500; color: #fff;}
.mahan_info_box .mid_title h4 b {color: #fec465; font-weight: 500;}

.mahan_info_box .row_box {display: flex;}
.mahan_info_box .row_box .txt_box {}
.mahan_info_box .row_box .txt_box h5.yellow {font-size: 23px; font-weight: 600; color: #fbca5a; padding-left: 17px; position: relative; margin-bottom: 13px;}
.mahan_info_box .row_box .txt_box h5.yellow::before {content: ""; display: block; width: 4px; height: 19px; background-color: #fbca5a; position: absolute; left: 0; top: 5px;}
.mahan_info_box .row_box .txt_box p {font-size: 16px; font-weight: 500; color: #fff; margin-bottom: 5px; line-height: 1.5; word-break: keep-all;}
.mahan_info_box .row_box .txt_box p span.red-c {font-weight: 500; color: #ff3030;}
.mahan_info_box .row_box .txt_box p.dot {padding-left: 17px;}
.mahan_info_box .row_box .txt_box p.dot::before {content: "·"; margin-left: -15px; margin-right: 7px;}

.mahan_info_box .row_box.n01 {margin-bottom: 70px;}
.mahan_info_box .row_box.n01 .lb {width: 62%; padding-right: 12px;}
.mahan_info_box .row_box.n01 .lb .one {display: flex;}
.mahan_info_box .row_box.n01 .lb .one .img_box {margin-right: auto;}
.mahan_info_box .row_box.n01 .lb .one:first-of-type {border-bottom: 1px solid #899cab; padding-bottom: 25px;}
.mahan_info_box .row_box.n01 .lb .one:first-of-type .txt_box {padding-top: 10px; padding-left: 10px;}
.mahan_info_box .row_box.n01 .lb .one:nth-of-type(2) {padding-top: 25px;}

.mahan_info_box .row_box.n01 .rb {width: 38%; border-left: 1px solid #899cab; padding-left: 20px;}
.mahan_info_box .row_box.n01 .rb .img_box {margin-bottom: 32px;}

.mahan_info_box .row_box.n02 .lb {padding-right: 18px; padding-top: 25px; border-right: 1px solid #899cab;}
.mahan_info_box .row_box.n02 .lb .txt_box {margin-bottom: 17px;}
.mahan_info_box .row_box.n02 .lb .txt_box .yellow_tit {font-size: 23px; font-weight: 600; color: #fec465;}
.mahan_info_box .row_box.n02 .rb {padding-left: 20px;}
.mahan_info_box .row_box.n02 .detail_box {margin-top: 8px;}
.mahan_info_box .row_box.n02 .detail_box .tit2 {font-size: 14px; font-weight: 500; color: #eeea38;}
.mahan_info_box .row_box.n02 .detail_box ul {display: flex;}
.mahan_info_box .row_box.n02 .detail_box ul li {margin-left: 5px;}
.mahan_info_box .row_box.n02 .detail_box ul li:first-of-type {margin-left: 0;}
.mahan_info_box .row_box.n02 .detail_box ul li .white_txt {text-align: center; color: #fff; font-size: 13px; margin-top: 4px;}


@media all and (max-width:999px){
	.mahan_info_box {background: #133856 url('../resources/img/sub/bg_mahansa2.png') repeat-y top right 5px; background-size: 30px; padding: 50px 40px 50px 15px;}
	.mahan_info_box .top_title {margin-bottom: 20px;}
	.mahan_info_box .top_title h2 {font-size: 20px;}

	.mahan_info_box .mid_title {margin-bottom: 15px;}
	.mahan_info_box .mid_title h3 {font-size: 18px;}
	.mahan_info_box .mid_title h4 {font-size: 16px;}

	.mahan_info_box .row_box {display: block;}
	.mahan_info_box .row_box .txt_box {}
	.mahan_info_box .row_box .txt_box h5.yellow {font-size: 18px; padding-left: 14px; margin-bottom: 10px;}
	.mahan_info_box .row_box .txt_box h5.yellow::before {width: 3px; height: 13px; top: 3px;}
	.mahan_info_box .row_box .txt_box p {font-size: 14px;}
	.mahan_info_box .row_box .txt_box p.dot::before {content: "·"; margin-left: -15px; margin-right: 5px;}

	.mahan_info_box .row_box.n01 {margin-bottom: 50px;}
	.mahan_info_box .row_box.n01 .lb {width: 100%; padding-right: 12px;}
	.mahan_info_box .row_box.n01 .lb .one {display: block;}
	.mahan_info_box .row_box.n01 .lb .one .img_box {text-align: center;}
	.mahan_info_box .row_box.n01 .lb .one:first-of-type {border-bottom: 1px solid #899cab; padding-bottom: 15px;}
	.mahan_info_box .row_box.n01 .lb .one:first-of-type .txt_box {padding-top: 20px; padding-left: 0px;}
	.mahan_info_box .row_box.n01 .lb .one:nth-of-type(2) {padding-top: 20px;}

	.mahan_info_box .row_box.n01 .rb {border-left:none; border-top: 1px solid #899cab; padding: 20px 10px 0 0; width: 100%; margin-top: 20px;}
	.mahan_info_box .row_box.n01 .rb .img_box {margin-bottom: 15px;}

	.mahan_info_box .row_box.n02 .lb {padding-right: 10px; padding-top: 0px; border-right: none;}
	.mahan_info_box .row_box.n02 .lb .txt_box {margin-bottom: 15px;}
	.mahan_info_box .row_box.n02 .lb .txt_box .yellow_tit {font-size: 20px;}
	.mahan_info_box .row_box.n02 .rb {padding: 20px 10px 0 0;}
	.mahan_info_box .row_box.n02 .detail_box {margin-top: 10px;}
	.mahan_info_box .row_box.n02 .detail_box ul {display: flex; flex-wrap: wrap;}
	.mahan_info_box .row_box.n02 .detail_box ul li {margin-left: 5px;}
	.mahan_info_box .row_box.n02 .detail_box ul li .white_txt {font-size: 13px; margin: 4px 0;}
}












/******** ********/



@media all and (max-width:999px){

}










/******** ********/



@media all and (max-width:999px){

}






