@charset "utf-8";
/* CSS Document */

button {-webkit-tap-highlight-color : transparent;}
a {-webkit-tap-highlight-color : transparent;}
input {-webkit-tap-highlight-color : transparent;}



/**** 본문바로가기 ****/
#accessibility {width:100%; text-align: center; background-color:#333; position:absolute; top:-31px; left:0; z-index: 500; height:30px;}
#accessibility a {color:#fff; font-size: 13px; display: inline-block; padding:6px 10px 6px;}

.skip-navi{display:block;position:absolute;left:0;top:0;overflow:hidden;width:1px;height:1px;text-align:center;color:#fff !important;z-index:9999;}
.skip-navi:focus,.skip-navi:active{padding:5px 0;width:100%; color:#fff; height:auto; background:#333}


/**** 본문 ****/
#wrap {position:relative; width:100%; height:100%; overflow: hidden; min-height: 100vh;}

.inner1300 {width:1300px; margin:0 auto; position:relative;}
.inner1300:after {content: ""; display: block; clear: both;}

.dpnone {display: none !important;}


@media all and (max-width:1300px){
	.inner1300 {width:100%; padding:0 10px;}
}





/******* 헤더 *******/
#hd {width: 100%; height: 90px; position: relative; z-index: 1888; text-align: center; padding: 0 230px; border-bottom: 1px solid #eee;}
#hd .center_b {display: inline-flex; margin-top: 15px; flex-wrap: wrap; align-items: center;}
#hd .logo_l {position: absolute; left: 30px; top: 23px;}
#hd .center_b .selec_box {margin-right: 20px; display: inline-flex; align-items: center;}
#hd .center_b .selec_box .tit {margin-right: 10px; font-size: 15px; font-weight: 400; color: #222;}
#hd .center_b .selec_box .tit::before {content: "·"; margin-right: 3px; font-size: 2.5em; vertical-align: middle; color: #008e51;}
#hd .center_b .selec_box .sel2 {height: 36px; min-width: 170px; border: 1px solid #ddd; font-size: 15px; background-image: url('../resources/img/icon/icon_select_arrow2.png');}
#hd .center_b .btn_hd_t {height: 38px; min-width: 98px; background-color: #008e51; color: #fff; font-size: 15px; font-weight: 500; border-radius: 20px; color: #fff; transition: all .25s ease;}
#hd .center_b .btn_hd_t i {font-size: 1.15em; vertical-align: middle; margin-top: -5px;}
#hd .center_b .btn_hd_t:hover,
#hd .center_b .btn_hd_t:focus {background-color: #005f36;}


@media all and (max-width:1300px){
	#hd {padding: 0 10px 0 200px; border-bottom: 1px solid #eee;}
	#hd .logo_l {left: 20px; top: 25px;}
	#hd .logo_l img {width: 180px;}
}


@media all and (max-width:1000px){
	#hd {height: auto; padding: 18px 10px 15px;}
	#hd .center_b {margin-top: 0; padding: 0 0px; justify-content: center;}
	#hd .center_b > img {width: 120px;}

	#hd {}
	#hd .logo_l {position: relative; left: 0; top: 0; margin-bottom: 10px;}
	#hd .logo_l img {width: 120px;}
	#hd .center_b .selec_box {margin-right: 3px; width: auto; margin-bottom: 7px;}
	#hd .center_b .selec_box .tit {margin-right: 5px; font-size: 13px; line-height: 13px; text-align: center;}
	#hd .center_b .selec_box .sel2 {height: 30px; min-width: 80px; font-size: 13px;}
	#hd .center_b .btn_box {width: 100%;}
	#hd .center_b .btn_hd_t {height: 28px; min-width: 80px; font-size: 12px; font-weight: 400;}
	#hd .center_b .btn_hd_t i {margin-top: -2px;}
}









/******* 풋터 *******/
#ft {width: 100%; background-color: #333333; padding:30px 28px; display: flex; flex-wrap: wrap; align-items: center;}
#ft .lb {margin-right: auto;}
#ft address {}
#ft address .up {font-size: 14px; font-weight: 400; color: #717171;}
#ft address .up b {font-weight: 400; color: #b8b8b8;}
#ft address .down {font-size: 13px; font-weight: 300; color: #717171;}
#ft .btn_a {font-size: 14px; font-weight: 400; color: #717171; margin: 3px; transition: all .25s ease;}
#ft .btn_a:hover,
#ft .btn_a:focus {text-decoration: underline; color: #aaa;}



@media all and (max-width:1000px){
	/******* 풋터 *******/
	#ft {padding:25px 20px; text-align: center;}
	#ft .lb {margin-right: auto; margin-bottom: 10px; width: 100%;}
	#ft .rb {width: 100%;}
	#ft address {}
	#ft address .up {font-size: 12px;}
	#ft address .down {font-size: 12px;}
	#ft .btn_a {font-size: 13px;}
}









/** new 메인 컨텐츠 **/
.main_contents {width: 100%; position: relative;}
.main_contents .inner {width: 910px; height: 100%; position: absolute; top: 0; left: calc(50% - 455px); z-index: 10; display: flex; flex-direction: column; align-items: center; justify-content: center;  padding-top: 70px;}
.main_contents .inner .txt_box {margin-bottom: 35px; text-align: center;}
.main_contents .inner .txt_box h5 {font-size: 50px; font-weight: 300; color: #fff; line-height: 1.2; margin-bottom: 5px;}
.main_contents .inner .txt_box h2 {font-size: 60px; font-weight: 500; color: #fff; line-height: 1.2;}
.main_contents .inner .search_box {width: 100%; height: 65px; background-color: #fff; display: flex; border-radius: 40px; overflow: hidden;}
.main_contents .inner .search_box select {width: 38%; height: 100%; border: none; border-left: 1px solid #ddd; padding-left: 30px; font-size: 16px; font-weight: 400;}
.main_contents .inner .search_box select:first-of-type {border-left: none;}
.main_contents .inner .search_box .btn_search_ma {width: 25%; height: 100%;background-color: #ffc002; transition: all .25s ease; color: #fff; font-size: 20px; font-weight: 400;}
.main_contents .inner .search_box .btn_search_ma i {font-size: 1.25em; vertical-align: middle; margin-top: -3px;}
.main_contents .inner .search_box .btn_search_ma:hover,
.main_contents .inner .search_box .btn_search_ma:focus {background-color: #ff9900;}
.main_contents .inner .main_slide_nav {margin-top: 27px; display: flex; align-items: center;}
.main_contents .inner .main_slide_nav nav {display: inline-block !important; vertical-align: middle; margin-right: 10px;}
.main_contents .inner .main_slide_nav .swiper-pagination-bullet {width: 12px; height: 12px; border-radius: 20px; margin: 0 5px; background-color: #d2d2d3; transition: all .25s ease; opacity: 1;}
.main_contents .inner .main_slide_nav .swiper-pagination-bullet-active {background-color: #e06700; width: 30px;}
.main_contents .inner .main_slide_nav .btn_pause {color: #fff; font-size: 17px;}
.main_contents .inner .main_slide_nav .btn_pause i {line-height: 1; vertical-align: middle; margin-top: -4px;}

.main_contents .img_slide_box {width: 100%; height: 100%;}
.main_contents .img_slide_box .one {width: 100%; min-height: calc(100vh - 90px); height: 700px; position: relative;}
.main_contents .img_slide_box .one .img_s {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-position: top center; background-size: cover;}


/* 홍보영상 */
.main_promoVideo_box {width: 386px; margin: 35px auto 0; background-color: #000000; padding: 22px 35px 15px;}
.main_promoVideo_box .video_box {width: 100%; height: 0; padding-top: 63%; position: relative;}
.main_promoVideo_box .video_box > a {display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 10;}
.main_promoVideo_box .img_thumb {display:block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.main_promoVideo_box .icon_yout {position: absolute; left: 50%; top: 50%; z-index: 11; transform: translate(-50%, -50%);}

.main_promoVideo_box .sbj {margin-top: 10px; text-align: center; font-size: 16px; font-weight: 500; color: #fff;}



@media all and (max-width:1200px){
	.main_contents .inner {padding-top: 30px;}
}

@media all and (max-width:1000px){
	.main_contents .inner {width: 100%; left: 0; top: 0;}
}

@media all and (max-width:700px){
	/** 메인 컨텐츠 **/
	.main_contents {}
	.main_contents .inner {width: 100%;}
	.main_contents .inner .txt_box {margin-bottom: 20px;}
	.main_contents .inner .txt_box h5 {font-size: 18px; margin-bottom: 10px;}
	.main_contents .inner .txt_box h2 {font-size: 22px;}
	.main_contents .inner .search_box {width: 95%; height: 45px;}
	.main_contents .inner .search_box select {padding-left: 20px; font-size: 14px;}
	.main_contents .inner .search_box .btn_search_ma {font-size: 13px;}
	.main_contents .inner .main_slide_nav {margin-top: 15px;}
	.main_contents .inner .main_slide_nav nav {margin-right: 5px;}
	.main_contents .inner .main_slide_nav .swiper-pagination-bullet {width: 9px; height: 9px; margin: 0 3px;}
	.main_contents .inner .main_slide_nav .swiper-pagination-bullet-active {width: 20px;}
	.main_contents .inner .main_slide_nav .btn_pause {font-size: 15px;}

	.main_contents .img_slide_box {}
	.main_contents .img_slide_box .one {min-height: calc(100vh - 60px); height: 500px;}

	/* new 홍보영상 */
	.main_promoVideo_box {width: 90%; margin: 25px auto 0; padding: 15px 20px 10px;}
	.main_promoVideo_box .video_box {}
	.main_promoVideo_box .icon_yout {position: absolute; left: 50%; top: 50%; z-index: 11; transform: translate(-50%, -50%);}
	.main_promoVideo_box .icon_yout img {width: 60px;}

	.main_promoVideo_box .sbj {margin-top: 8px; font-size: 14px;}
}







/*********** 컨텐츠  ***********/
/* 공통 */
.contents {width: 100%; min-height: calc(100vh - 90px); position: relative;}
.contents:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}


/* 블라인드 */
span.tn {display: block; width: 0; height: 0; overflow:hidden; text-indent: -9999px;}


@media all and (max-width:1000px){
	.contents {width: 100%; min-height: calc(100vh - 134px); overflow: hidden;}
}









/** 컨텐츠 내용 **/

/* 지도 */
.map_con_box {width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1;}
.map_con_box .img_s {display:block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1; background-size: cover; background-position: center center;}

/* 버튼 */
.loca_btn_box {width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1;}
.loca_btn_box .btn_loca {position: absolute;}

.loca_btn_box.loc1 .btn_loca.n01 {left: 50%; top: 30%;}
.loca_btn_box.loc1 .btn_loca.n02 {left: 40%; top: 20%;}
.loca_btn_box.loc1 .btn_loca.n03 {left: 50%; top: 10%;}
.loca_btn_box.loc1 .btn_loca.n04 {left: 40%; top: 40%;}
.loca_btn_box.loc1 .btn_loca.n05 {left: 45%; top: 30%;}
.loca_btn_box.loc1 .btn_loca.n06 {left: 55%; top: 50%;}

.loca_btn_box.loc2 .btn_loca.n01 {left: 10%; top: 30%;}
.loca_btn_box.loc2 .btn_loca.n02 {left: 20%; top: 40%;}
.loca_btn_box.loc2 .btn_loca.n03 {left: 70%; top: 50%;}
.loca_btn_box.loc2 .btn_loca.n04 {left: 50%; top: 40%;}
.loca_btn_box.loc2 .btn_loca.n05 {left: 10%; top: 10%;}
.loca_btn_box.loc2 .btn_loca.n06 {left: 60%; top: 70%;}
.loca_btn_box.loc2 .btn_loca.n07 {left: 75%; top: 20%;}
.loca_btn_box.loc2 .btn_loca.n08 {left: 10%; top: 80%;}
.loca_btn_box.loc2 .btn_loca.n09 {left: 60%; top: 10%;}






/* new 팝업 위치개요 */
.popUp_black_01 {display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.25); z-index: 10;}

/* 팝업 */
.popUp_loca_01 {display: none; position: absolute; left: calc(50% - 412px); top: 18%; z-index: 15; width: 824px; background-color: #fff; box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);}
.popUp_loca_01 .btn_close {border: 1px solid #5d5d5d; width: 27px; height: 27px; color:#333; transition: all .25s ease;}
.popUp_loca_01 .btn_close:hover,
.popUp_loca_01 .btn_close:focus {background-color: #333; color: #fff;}


/* 탭 */
.pop_in_tab_wrap {width: 100%; margin-bottom: 10px;}
.pop_in_tab {width: 100%; display: flex; flex-wrap: wrap;}
.pop_in_tab > li {flex-grow: 1; text-align: center;}
.pop_in_tab > li > a {display: block; border-left: 1px solid #d5d5db; background-color: #dddddd; border-bottom: 1px solid #d5d5db; color: #999; font-size: 18px; font-weight: 400; padding: 15px 5px;}
.pop_in_tab > li > a .sm {font-size: 0.8em;}
.pop_in_tab > li:first-child > a {border-left: none;}
.pop_in_tab > li.active > a {background-color: #fff; border-bottom: none; position: relative; color: #978620;}
.pop_in_tab > li.active > a::before {content: ""; display: block; width: 100%; height: 4px; background-color: #d9c448; position: absolute; left: 0; top: 0;}

/* 슬라이드정보 */
.row_top_data_box {display: flex; align-items: center; padding: 10px 50px;}
.row_top_data_box .lb {margin-right: auto;}
.row_top_data_box .popSlide1_nav {font-size: 16px; font-weight: 400; color: #666666;}
.row_top_data_box .popSlide1_nav em {font-size: 0.8em; padding: 0 5px;}
.row_top_data_box .popSlide1_nav .c_num {font-size: 1.5em; font-weight: 500; color: #333;}
.row_top_data_box .popSlide1_nav .t_num {font-size: 1.5em; font-weight: 500; color: #333;}

/* 슬라이드 버튼 */
.btn_slPop1 {width: 80px; height: 80px; border-radius: 50%; background-color: rgba(102, 102, 102, 0.5); color: #fff; font-size: 30px; transition: all .25s ease; position: absolute; z-index: 70; top: calc(50% - 40px);}
.btn_slPop1:hover {background-color: rgba(102, 102, 102, 1);}
.btn_slPop1.prev {left: -40px;}
.btn_slPop1.next {right: -40px;}


/* 슬라이드 */
.popUp_loca_01 .slide_in {padding: 10px 55px 30px;}
.popUp_loca_01 .info_box {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.popUp_loca_01 .info_box .img_box {width: 49%; background-size: cover; background-position: center center; border: 1px solid #eee;}
.popUp_loca_01 .info_box .txt_box {width: 48%; padding: 20px 0 15px;}
.popUp_loca_01 .info_box .txt_box .title {border-bottom: 1px solid #ddd; display: flex; flex-wrap: wrap; padding-bottom: 5px; align-items: flex-end; margin-bottom: 20px; padding-left: 5px;}
.popUp_loca_01 .info_box .txt_box .title h2 {font-size: 20px; font-weight: 500; color: #222;}
.popUp_loca_01 .info_box .txt_box .title h5 {font-size: 14px; font-weight: 300; color: #222; margin-left: 5px;}
.popUp_loca_01 .info_box .txt_box .detail_ul {padding-left: 10px;}
.popUp_loca_01 .info_box .txt_box .detail_ul > li {margin-top: 10px; display: flex; flex-wrap: wrap;}
.popUp_loca_01 .info_box .txt_box .detail_ul > li:first-child {margin-top: 0;}
.popUp_loca_01 .info_box .txt_box .detail_ul > li .cate {width: 30%; font-size: 14px; font-weight: 500; color: #222; padding-left: 12px; position: relative;}
.popUp_loca_01 .info_box .txt_box .detail_ul > li .cate::before {content: ""; width: 4px; height: 4px; border-radius: 50%; background-color: #008e51; position: absolute; left: 0; top: 8px;}
.popUp_loca_01 .info_box .txt_box .detail_ul > li .con {width: 70%; padding-left: 5px; font-size: 14px; font-weight: 400;}

.popUp_loca_01 .btn_box01 {margin-top: 27px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.popUp_loca_01 .btn_box01 button {height: 56px; border-radius: 10px; text-align: center; font-size: 17px; font-weight: 400; padding: 12px 10px 10px; transition: all .25s ease;}
.popUp_loca_01 .btn_box01 button i {font-size: 1.5em; vertical-align: middle; line-height: 1; margin-top: -5px;}
.popUp_loca_01 .btn_box01 .btn_share {width: 18%; border: 1px solid #dcdcdc; color: #707070;}
.popUp_loca_01 .btn_box01 .btn_youtube {width: 35%; background-color: #e74c3c; color: #fff;}
.popUp_loca_01 .btn_box01 .btn_detail {width: 45%; background-color: #666666; color: #fff;}

.popUp_loca_01 .btn_box01 .btn_share:hover,
.popUp_loca_01 .btn_box01 .btn_share:focus {background-color: #777; color: #fff;}
.popUp_loca_01 .btn_box01 .btn_youtube:hover,
.popUp_loca_01 .btn_box01 .btn_youtube:focus {background-color: #ff260e;}
.popUp_loca_01 .btn_box01 .btn_detail:hover,
.popUp_loca_01 .btn_box01 .btn_detail:focus {background-color: #444;}




@media all and (max-width:1000px){
	/* 팝업 위치개요 */
	.popUp_black_01 {}

	.popUp_loca_01 {left: 5%; top: 5%; width: 90%; max-height: 90%; overflow-y: auto;}
	.popUp_loca_01 .btn_close {width: 20px; height: 20px; font-size: 13px;}
		
	/* 탭 */
	.pop_in_tab_wrap {margin-bottom: 5px;}
	.pop_in_tab > li > a {font-size: 14px; padding: 10px 3px 7px;}
	.pop_in_tab > li.active > a::before {height: 3px;}

	/* 슬라이드정보 */
	.row_top_data_box {padding: 5px 30px;}
	.row_top_data_box .popSlide1_nav {font-size: 14px;}
	.row_top_data_box .popSlide1_nav em {padding: 0 2px;}
	.row_top_data_box .popSlide1_nav .c_num {font-size: 1.3em;}
	.row_top_data_box .popSlide1_nav .t_num {font-size: 1.3em;}

	/* 슬라이드 버튼 */
	.btn_slPop1 {width: 30px; height: 30px; font-size: 15px; top: calc(50% - 40px);}
	.btn_slPop1:hover {background-color: rgba(102, 102, 102, 1);}
	.btn_slPop1.prev {left: 3px;}
	.btn_slPop1.next {right: 3px;}


	/* 슬라이드 */
	.popUp_loca_01 .slide_in {padding: 5px 40px 30px;}

	.popUp_loca_01 .info_box {}
	.popUp_loca_01 .info_box .img_box {width: 100%; height: 0; padding-top: 50%;}
	.popUp_loca_01 .info_box .txt_box {width: 100%; padding: 15px 0 10px;}
	.popUp_loca_01 .info_box .txt_box .title {padding-bottom: 3px; margin-bottom: 15px;}
	.popUp_loca_01 .info_box .txt_box .title h2 {font-size: 17px;}
	.popUp_loca_01 .info_box .txt_box .title h5 {font-size: 13px;}
	.popUp_loca_01 .info_box .txt_box .detail_ul {padding-left: 5px;}
	.popUp_loca_01 .info_box .txt_box .detail_ul > li {margin-top: 7px;}
	.popUp_loca_01 .info_box .txt_box .detail_ul > li .cate {font-size: 13px; padding-left: 8px;}
	.popUp_loca_01 .info_box .txt_box .detail_ul > li .cate::before {width: 2px; height: 2px; top: 7px;}
	.popUp_loca_01 .info_box .txt_box .detail_ul > li .con {font-size: 13px;}

	.popUp_loca_01 .btn_box01 {margin-top: 15px;}
	.popUp_loca_01 .btn_box01 button {height: auto; border-radius: 5px; font-size: 12px; padding: 10px 3px 9px; letter-spacing: -0.05em;}
	.popUp_loca_01 .btn_box01 button i {font-size: 1.2em; margin-top: -3px;}
	.popUp_loca_01 .btn_box01 .btn_share {width: 25%; border: 1px solid #dcdcdc; color: #707070;}
	.popUp_loca_01 .btn_box01 .btn_youtube {width: 32%; background-color: #e74c3c; color: #fff;}
	.popUp_loca_01 .btn_box01 .btn_detail {width: 40%; background-color: #666666; color: #fff;}

	.popUp_loca_01 .btn_box01 .btn_share:hover,
	.popUp_loca_01 .btn_box01 .btn_share:focus {background-color: #777; color: #fff;}
	.popUp_loca_01 .btn_box01 .btn_youtube:hover,
	.popUp_loca_01 .btn_box01 .btn_youtube:focus {background-color: #ff260e;}
	.popUp_loca_01 .btn_box01 .btn_detail:hover,
	.popUp_loca_01 .btn_box01 .btn_detail:focus {background-color: #444;}

}






/* sns공유 팝업 */
.popUp_sns_01_black {display:none; position: absolute; left: 0; top: 0; z-index: 20; width: 100%; height: 100%; background-color: rgba(0,0,0,0.25);}

.popUp_sns_01 {display:none; position: absolute; left: calc(50% - 250px); top: 20%; background-color: #fff; z-index: 25; width: 500px; box-shadow: 0 0 20px rgba(0,0,0,0.2); padding: 30px 30px;}
.popUp_sns_01 .btn_close {position: absolute; right: 10px; top: 10px; width: 25px; height: 25px; border: 1px solid #aaa;}
.popUp_sns_01 .title {margin-bottom: 25px; text-align: center;}
.popUp_sns_01 .title h2 {font-size: 30px; line-height: 1.2;}
.popUp_sns_01 .addr_box {width: 100%; display: flex; justify-content: space-between;}
.popUp_sns_01 .addr_box .addr_txt {width: 80%; border: 1px solid #ddd; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; line-height: 20px; font-size: 14px; padding: 5px 10px; color: #666;}
.popUp_sns_01 .addr_box .btn_copy {width: 18%; background-color: #008e51; color: #fff; font-weight: 400; font-size: 14px; transition: all .25s ease;}
.popUp_sns_01 .addr_box .btn_copy:hover,
.popUp_sns_01 .addr_box .btn_copy:focus {background-color: #00b667;}
.popUp_sns_01 .sns_box {margin-top: 15px;}
.popUp_sns_01 .sns_box ul {display: flex; flex-wrap: wrap; justify-content: space-between;}
.popUp_sns_01 .sns_box ul > li {width: 19%; margin-top: 10px;}
.popUp_sns_01 .sns_box ul > li > a {display: block; text-align: center;}
.popUp_sns_01 .sns_box ul > li > a .icon {display: inline-flex; justify-content: center; align-items: center; width: 50px; height: 50px; border-radius: 50%; background-color: #aaa; color: #fff; font-size: 20px; transition: all .25s ease;}
.popUp_sns_01 .sns_box ul > li > a .txt {font-size: 14px; font-weight: 300; margin-top: 5px; word-break: keep-all; transition: all .25s ease;}
.popUp_sns_01 .sns_box ul > li > a:hover .icon,
.popUp_sns_01 .sns_box ul > li > a:focus .icon {background-color: #00b667;}
.popUp_sns_01 .sns_box ul > li > a:hover .txt,
.popUp_sns_01 .sns_box ul > li > a:focus .txt {color: #00b667;}



@media all and (max-width:1000px){
	/* sns공유 팝업 */
	.popUp_sns_01_black {}

	.popUp_sns_01 {left: 10%; top: 20%; width: 80%; padding: 20px 20px;}
	.popUp_sns_01 .btn_close {width: 20px; height: 20px; font-size: 13px;}
	.popUp_sns_01 .title {margin-bottom: 20px;}
	.popUp_sns_01 .title h2 {font-size: 20px;}
	.popUp_sns_01 .addr_box {}
	.popUp_sns_01 .addr_box .addr_txt {width: 74%; font-size: 13px;}
	.popUp_sns_01 .addr_box .btn_copy {width: 25%; font-size: 13px;}
	.popUp_sns_01 .sns_box {margin-top: 7px;}
	.popUp_sns_01 .sns_box ul {}
	.popUp_sns_01 .sns_box ul > li {width: 19%;}
	.popUp_sns_01 .sns_box ul > li > a {}
	.popUp_sns_01 .sns_box ul > li > a .icon {width: 40px; height: 40px; font-size: 18px;}
	.popUp_sns_01 .sns_box ul > li > a .txt {font-size: 13px;}
}





/** 유튜브 바로가기 **/
.popUp_youtube_01_black {display: none; position: absolute; left: 0; top: 0; z-index: 20; width: 100%; height: 100%; background-color: rgba(0,0,0,0.25);}

.popUp_youtube_01 {display: none; position: absolute; left: calc(50% - 600px); top: 5%; background-color: #222; z-index: 25; width: 1200px; box-shadow: 0 0 20px rgba(0,0,0,0.2); padding: 20px 70px 30px;}
.popUp_youtube_01 .btn_close {position: absolute; right: 20px; top: 20px; width: 25px; height: 25px; border: 1px solid #fff; color: #fff; transition: all .25s ease;}
.popUp_youtube_01 .btn_close:hover,
.popUp_youtube_01 .btn_close:focus {background-color: #fff; color: #222;}

.popUp_youtube_01 .video_box {width: 100%; height: 0; padding-top: 56.2%; position: relative;}
.popUp_youtube_01 .video_box .in_box {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

.popUp_youtube_01 .btn_box {margin-top: 20px; text-align: right;}
.popUp_youtube_01 .btn_youtubeGo {background-color: #f04444; min-width: 350px; height: 54px; z-index: 5; position: relative; overflow: hidden; padding-top: 5px;}
.popUp_youtube_01 .btn_youtubeGo::before {content:""; position: absolute; right: -50px; top: -0px; width: 130px; height: 100%; background-color: #e92525; z-index: 0; transition: all .4s ease; transform: skewX(-30deg);}
.popUp_youtube_01 .btn_youtubeGo img {margin-left: 5px; z-index: 10; position: relative; vertical-align: middle; margin-top: -5px;}
.popUp_youtube_01 .btn_youtubeGo .txt { font-size: 16px; font-weight: 500; z-index: 10; position: relative; color: #fff; transition: all .4s ease;}

.popUp_youtube_01 .btn_youtubeGo:hover::before,
.popUp_youtube_01 .btn_youtubeGo:focus::before {width: 120%;}
.popUp_youtube_01 .btn_youtubeGo:hover .txt,
.popUp_youtube_01 .btn_youtubeGo:focus .txt {color: #ffd203; }


@media all and (max-width:1200px){
	.popUp_youtube_01 {left: 3%; top: 5%; width: 92%;}
}

@media all and (max-width:1000px){
	.popUp_youtube_01 {padding: 40px 20px 20px; top: 10%;}

	.popUp_youtube_01 .btn_close {right: 20px; top: 10px; width: 20px; height: 20px; font-size: 13px;}

	.popUp_youtube_01 .btn_box {margin-top: 10px;}
	.popUp_youtube_01 .btn_youtubeGo {min-width: 150px; height: 40px; padding-top: 3px; padding: 0 20px;}
	.popUp_youtube_01 .btn_youtubeGo::before {width: 100px;}
	.popUp_youtube_01 .btn_youtubeGo img {margin-top: 0px; margin-left: 2px; width: 30px;}
	.popUp_youtube_01 .btn_youtubeGo .txt { font-size: 13px; font-weight: 400;}
	
	.popUp_youtube_01 .btn_youtubeGo:hover::before,
	.popUp_youtube_01 .btn_youtubeGo:focus::before {width: 130%;}
}






/** new 상세팝업 **/
.popUp_detail_1_black {position: absolute; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; background-color: rgba(0,0,0,0.25);}

.popUp_detail_1_wrap {position: absolute; right: 0; top: 0; z-index: 15; width: 1085px; height: 100%;}
.popUp_detail_1_wrap .btn_open {position: absolute; top: 100px; left: 0; width: 50px; height: 92px; border-radius: 15px 0 0 15px; background-color: #6a6a6a; padding: 3px 5px 15px 0; transition: all .25s ease;}
.popUp_detail_1_wrap .btn_open span {display: block;}
.popUp_detail_1_wrap .btn_open .icon {margin-bottom: 10px;}
.popUp_detail_1_wrap .btn_open .icon img {transition: all .25s ease;}
.popUp_detail_1_wrap .btn_open .txt {transform: rotate(-90deg); color: #fff; font-size: 16px; width: 50px; font-weight: 400;}
.popUp_detail_1_wrap .btn_open .txt::before {content: "접기";}

/* 클래스 추가 */
.popUp_detail_1_wrap .btn_open.on {background-color: #e54b3c;}
.popUp_detail_1_wrap .btn_open.on .icon {margin-bottom: 15px;}
.popUp_detail_1_wrap .btn_open.on .icon img {transform: rotate(180deg);}
.popUp_detail_1_wrap .btn_open.on .txt {}
.popUp_detail_1_wrap .btn_open.on .txt::before {content: "펼치기";}


/* new */
.popUp_detail_1 {position: absolute; right: 0; top: 0; background-color: #fff; z-index: 25; width: 1040px; height: 100%; overflow-y: auto; padding: 20px 100px 20px 120px;}

/* 상단 공유 */
.popUp_detail_1 .top_share_box {width: 100%; text-align: right; margin-bottom: 3px;}
.popUp_detail_1 .top_share_box .btn_share {height: 27px; border-radius: 25px; border: 1px solid #ddd; background-color: #f9f9f9; color: #666; font-size: 13px; font-weight: 400; padding: 0 10px; transition: all .25s ease;}
.popUp_detail_1 .top_share_box .btn_share i {font-size: 1.2em; color: #aeaeae;}
.popUp_detail_1 .top_share_box .btn_share:hover,
.popUp_detail_1 .top_share_box .btn_share:focus {background-color: #2786fb; border-color: #2786fb; color: #fff;}
.popUp_detail_1 .top_share_box .btn_share:hover i,
.popUp_detail_1 .top_share_box .btn_share:focus i {color: #fff; font-size: 0.9em;}

/* 상단 내용 */
.popUp_detail_1 .top_info_box {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 33px;}
.popUp_detail_1 .top_info_box .lb_pic {width: 49%;}
.popUp_detail_1 .top_info_box .lb_pic > a {display: block; border: 1px solid #ddd; position: relative; width: 100%; height: 0; padding-top: 65%;}
.popUp_detail_1 .top_info_box .lb_pic > a .thumbs {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-position: center center;}
.popUp_detail_1 .top_info_box .lb_pic > a .icon {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.popUp_detail_1 .top_info_box .rb_detail {width: 49%; padding-top: 5px;}
.popUp_detail_1 .top_info_box .rb_detail .top_cate_1 {padding: 0 5px 2px; font-size: 13px; font-weight: 400;}
.popUp_detail_1 .top_info_box .rb_detail .title {border-bottom: 1px solid #ddd; display: flex; padding:0px 5px 8px;}
.popUp_detail_1 .top_info_box .rb_detail .title .lb {margin-right: auto; font-size: 14px; color: #222;}
.popUp_detail_1 .top_info_box .rb_detail .title .lb b {font-weight: 500; font-size: 1.4em;}
.popUp_detail_1 .top_info_box .detail_ul {margin-top: 15px; padding-left: 10px;}
.popUp_detail_1 .top_info_box .detail_ul > li {margin-top: 7px; display: flex; font-size: 14px;}
.popUp_detail_1 .top_info_box .detail_ul > li:first-child {margin-top: 0;}
.popUp_detail_1 .top_info_box .detail_ul > li .cate {padding-left: 15px; flex-basis: 80px; font-weight: 500; position: relative; flex-shrink: 0;}
.popUp_detail_1 .top_info_box .detail_ul > li .cate::before {content: ""; width: 4px; height: 4px; border-radius: 50%; background-color: #008e51; position: absolute; left: 0; top: 8px;}
.popUp_detail_1 .top_info_box .detail_ul > li .con {padding-left: 10px; font-weight: 400; color: #666;}

/* 탭 */
.slide_in_tab02_wrap {width: 100%; margin-bottom: 30px;}
.slide_in_tab02 {width: 100%; display: flex; flex-wrap: wrap;}
.slide_in_tab02 > li {flex-grow: 1; text-align: center;}
.slide_in_tab02 > li > a {display: block; border-right: 1px solid #d5d5db; background-color: #dddddd; border-bottom: 1px solid #d5d5db; color: #999; font-size: 18px; font-weight: 400; padding: 15px 5px 13px;}
.slide_in_tab02 > li > a .sm {font-size: 0.8em;}
.slide_in_tab02 > li:first-child > a {border-left: 1px solid #d5d5db;}
.slide_in_tab02 > li.active > a {background-color: #fff; position: relative; color: #978620;}
.slide_in_tab02 > li.active > a::before {content: ""; display: block; width: 100%; height: 4px; background-color: #d9c448; position: absolute; left: 0; top: 0;}

/* 탭 제목 */
.detail_in_title_box {margin-bottom: 10px; width: 100%; border-bottom: 1px solid #f5f5f5; padding: 0 85px 9px; text-align: center; position: relative;}
.detail_in_title_box h2 {font-size: 20px; font-weight: 500; color: #222;}
.detail_in_title_box .btn_tabSl {position: absolute;  top: -5px;}
.detail_in_title_box .btn_tabSl.prev {left: 0;}
.detail_in_title_box .btn_tabSl.next {right: 0;}
.detail_in_title_box .btn_tabSl .circle {display: inline-flex; justify-content: center; align-items: center; color: #fff; font-size: 17px; vertical-align: middle; transition: all .25s ease; width: 37px; height: 37px; border-radius: 50%; background-color: rgba(102,102,102, 0.5);}
.detail_in_title_box .btn_tabSl .txt {display: inline-block; vertical-align: middle; font-size: 15px; font-weight: 500; color: #666; padding: 0 5px;}
.detail_in_title_box .btn_tabSl:hover .circle {background-color: rgba(102,102,102, 1);}

/* 탭 정보 내용 */
.popUp_detail_1 .explain_box {padding: 20px 0 40px;}
.popUp_detail_1 .explain_box h2 {font-size: 14px; font-weight: 500; color: #222; margin-bottom: 8px;}
.popUp_detail_1 .explain_box .nor {font-size: 14px; line-height: 1.5; color: #222; text-align: justify;}
.popUp_detail_1 .explain_box .detail_info_list {width: 100%; padding: 0 10px;}
.popUp_detail_1 .explain_box .detail_info_list > li {margin-top: 7px; display: flex;}
.popUp_detail_1 .explain_box .detail_info_list > li:first-child {margin-top: 0;}
.popUp_detail_1 .explain_box .detail_info_list > li .cate {flex-shrink: 0; padding-left: 15px; width: 95px; font-size: 14px; font-weight: 500; color: #111; position: relative;}
.popUp_detail_1 .explain_box .detail_info_list > li .cate::before {content: ""; display: block; width: 5px; height: 5px; border-radius: 50%; background-color: #008e51; position: absolute; left: 0; top: 8px;}
.popUp_detail_1 .explain_box .detail_info_list > li .con {font-size: 14px; font-weight: 400; color: #111; text-align: justify; line-height: 1.7; padding-left: 10px;}


/* 슬라이드 */
.popUp_detail_1 .slide_box {width: 100%; display: flex; justify-content: space-between;}
.popUp_detail_1 .slide_box .lb_slider {width: 85%; padding-right: 18px;}
.popUp_detail_1 .slide_box .lb_slider .gallery-main {position: relative; border: 1px solid #f5f5f5;}
.popUp_detail_1 .slide_box .lb_slider .gallery-main img {width: 100%;}
.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn {position: absolute; z-index: 20; background-color: rgba(27,27,27,0.7); width: 64px; height: 64px; border-radius: 50%; color: #fff; top: 45%; font-size: 25px; transition: all .25s ease;}
.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn:hover,
.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn:focus {background-color: rgba(0,0,0,0.7);}
.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn.prev {left: 20px;}
.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn.next {right: 20px;}

.popUp_detail_1 .slide_box .rb_slider {width: 15%;}
.popUp_detail_1 .slide_box .gallery-thumbs {height: 380px; background-color: #fff;}
.popUp_detail_1 .slide_box .gallery-thumbs .swiper-slide-thumb-active {border: 3px solid #ee7300;}
.popUp_detail_1 .slide_box .gallery-thumbs .swiper-slide {position: relative; overflow: hidden;}
.popUp_detail_1 .slide_box .gallery-thumbs .swiper-slide img {position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%;}



@media all and (max-width:1200px){
	/** 상세팝업 **/
	.popUp_detail_1_wrap {width: 980px;}
	.popUp_detail_1 {width: 930px; padding: 20px 50px 20px 60px;}
}



@media all and (max-width:1000px){
	.popUp_detail_1_black {}

	.popUp_detail_1_wrap {right: 0; top: auto; bottom: 0; width: 100%; height: 80%;}
	.popUp_detail_1_wrap .btn_open {top: auto; bottom: 100%; left: 10px; width: auto; height: auto; padding: 10px 20px 7px; border-radius: 10px 10px 0 0;}
	.popUp_detail_1_wrap .btn_open span {display: inline-block;}
	.popUp_detail_1_wrap .btn_open .icon {margin:0 5px 0 0;}
	.popUp_detail_1_wrap .btn_open .icon img {width: 12px; transform: rotate(90deg);}
	.popUp_detail_1_wrap .btn_open .txt {font-size: 13px; width: auto; transform: rotate(0);}

	/* 클래스 추가 */
	.popUp_detail_1_wrap .btn_open.on .icon {margin:0 5px 0 0;}
	.popUp_detail_1_wrap .btn_open.on .icon img {transform: rotate(-90deg);}

	/* 상단 공유 */
	.popUp_detail_1 .top_share_box {margin-bottom: 7px;}
	.popUp_detail_1 .top_share_box .btn_share {height: 25px; font-size: 12px;}

	/* 상단내용 */
	.popUp_detail_1 {right: 0; top: 0; width: 100%; height: 100%; padding: 10px 20px 20px 20px;}
	.popUp_detail_1 .top_info_box {margin-bottom: 20px;}
	.popUp_detail_1 .top_info_box .lb_pic {width: 100%; margin-bottom: 5px;}
	.popUp_detail_1 .top_info_box .lb_pic > a {padding-top: 50%;}
	.popUp_detail_1 .top_info_box .lb_pic > a .thumbs {}
	.popUp_detail_1 .top_info_box .lb_pic > a .icon {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
	.popUp_detail_1 .top_info_box .lb_pic > a .icon img {width: 50px;}

	.popUp_detail_1 .top_info_box .rb_detail {width: 100%;}
	.popUp_detail_1 .top_info_box .rb_detail .top_cate_1 {padding: 0 5px 2px; font-size: 12px;}
	.popUp_detail_1 .top_info_box .rb_detail .title {padding:0px 5px 5px; align-items: center;}
	.popUp_detail_1 .top_info_box .rb_detail .title .lb {font-size: 12px;}
	.popUp_detail_1 .top_info_box .detail_ul {margin-top: 10px;}
	.popUp_detail_1 .top_info_box .detail_ul > li {margin-top: 5px; font-size: 13px;}
	.popUp_detail_1 .top_info_box .detail_ul > li .cate {padding-left: 13px; font-size: 13px;}
	.popUp_detail_1 .top_info_box .detail_ul > li .cate::before {width: 3px; height: 3px; top: 8px;}
	.popUp_detail_1 .top_info_box .detail_ul > li .con {font-size: 13px;}

	/* 탭 */
	.slide_in_tab02_wrap {margin-bottom: 20px;}
	.slide_in_tab02 > li > a {font-size: 14px; padding: 10px 3px 8px;}
	.slide_in_tab02 > li.active > a::before {height: 2px;}

	
	/* 탭 제목 */
	.detail_in_title_box {margin-bottom: 5px; padding: 0 60px 9px;}
	.detail_in_title_box h2 {font-size: 17px;}
	.detail_in_title_box .btn_tabSl {top: 0;}
	.detail_in_title_box .btn_tabSl .circle {font-size: 13px; width: 25px; height: 25px;}
	.detail_in_title_box .btn_tabSl .txt {font-size: 13px; padding: 0 3px;}

	/* 탭 정보 내용 */
	.popUp_detail_1 .explain_box {padding: 10px 5px 10px; margin-bottom: 15px;}
	.popUp_detail_1 .explain_box h2 {font-size: 14px; margin-bottom: 5px;}
	.popUp_detail_1 .explain_box .nor {font-size: 13px;}
	.popUp_detail_1 .explain_box .detail_info_list {padding: 0 0px;}
	.popUp_detail_1 .explain_box .detail_info_list > li {margin-top: 5px;}
	.popUp_detail_1 .explain_box .detail_info_list > li .cate {padding-left: 10px; width: 80px; font-size: 13px;}
	.popUp_detail_1 .explain_box .detail_info_list > li .cate::before {width: 3px; height: 3px; top: 10px;}
	.popUp_detail_1 .explain_box .detail_info_list > li .con {font-size: 13px; padding-left: 5px;}

	/* 슬라이드 */
	.popUp_detail_1 .slide_box {flex-wrap: wrap;}
	.popUp_detail_1 .slide_box .lb_slider {width: 100%; padding-right: 0px; padding-bottom: 10px;}
	.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn {width: 40px; height: 40px; top: 45%; font-size: 18px;}
	.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn.prev {left: 10px;}
	.popUp_detail_1 .slide_box .lb_slider .gallery-main .swiper01_btn.next {right: 10px;}

	.popUp_detail_1 .slide_box .rb_slider {width: 100%;}
	.popUp_detail_1 .slide_box .gallery-thumbs {height: 50px;}
	.popUp_detail_1 .slide_box .gallery-thumbs .swiper-slide-thumb-active {border: 3px solid #ee7300;}
	.popUp_detail_1 .slide_box .gallery-thumbs .swiper-slide {position: relative; overflow: hidden;}
	.popUp_detail_1 .slide_box .gallery-thumbs .swiper-slide img {position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%;}

}








/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}









/** **/





@media all and (max-width:1000px){}











/******* 프린트 *******/
@media print {	
	
}




@media all and (max-width:1000px){}








