/* 로딩박스 */
.loading_box{width:100%; height:100%; position: fixed; top:0; left:0; z-index: 20000 ; display: none; }
.loading_box .bg{width:100%; position: absolute; top:0; left: 0; height: 100%; background-color: #000; opacity : 0.5; }
.loading_box img{position: absolute; top:50%; margin-top: -150px; left: 50%; margin-left: -150px; }




/*
layout.css

.navWrapSubMenu .rightPicBox .imgCultureGw {background:url(/resources/img/layout/img_subMenu_01.jpg) no-repeat center center; background-size:cover;}
.subMenu > li > .subMenu_Sub > li > .subMoreBtn .subMenu_SubInner:before {content:""; position:absolute; left:-7px; top:12px; z-index:1200; width:7px; height:13px; background:url(/resources/img/icon/icon_subMenu_SubArrow.png) no-repeat center center; }
.footerTopWrap .footerMenu li {float:left; font-size:14px; padding:0 13px; background:url(/resources/img/layout/line_gray_01.jpg) no-repeat right bottom;}
.subTopNaviBox .naviBox ul {padding:0 0 0 28px; background:url(/resources/img/icon/icon_subHome_01.png) no-repeat left center;}
.subTopNaviBox .naviBox ul li {float:left; padding:0 13px 0 0; margin:0 4px; background:url(/resources/img/icon/icon_arrow_right_subNavi_01.png) no-repeat right 7px;}
.subRightContentsTopWrap .titleBox .printBox {float:right; width:137px; height:20px; margin:10px 0 0; background:url(/resources/img/sub/img_subTopPrintFont_01.jpg) no-repeat center center;}
.subMenuRow li.active {border:1px solid #e22931; position:relative; z-index:500; background:url(/resources/img/sub/bg_subTab_01_red.jpg);}
.mobileSubMenuTab {margin:-20px 0 20px -10px; width:calc(100% + 20px); padding:10px 10px; background:url(/resources/img/bg_subTab_01_red.jpg); position:relative;}

rest.css

.ulDefault li {padding:0 0 0 10px; margin:0 0 5px 0; background:url(/resources/img/icon/icon_ulDefault.png) no-repeat left 8px; font-size:14px; color:#777; }


*/