@charset "utf-8";
/* CSS Document */

/********* 메인 공통 css ********/
#main-content {width:100%; position:relative;}




/*********** 메인 슬라이드 **************/
.main-slide-section {width:100%; position:relative;}
/*슬라이드이미지*/
.main-slide-section .main-slide-ul {width:100%; position:relative; height: 1000px;}
.main-slide-section .main-slide-ul {width:100%;}
.main-slide-section .main-slide-ul li {width:100%; position:relative;}
.main-slide-section .main-slide-ul li h3 {position:absolute; top:550px; left:9%; color:#fff; z-index: 2000; font-size: 40px; font-weight: 500; text-shadow: 2px 2px 2px rgba(0,0,0,0.5); letter-spacing: -0.08em;}
.main-slide-section .main-slide-ul li .img-box {position:relative; width:100%; height:1000px;}
.main-slide-section .main-slide-ul li .img-box .slider-bg {position:absolute; left:0; top:0; width:100%; height:100%; background-repeat:no-repeat; background-position:50% 0; background-size:cover !important;}
[class^="mask-"]{position:absolute; top:0; left:0; width:100%; height:100%;}
.main-slide-section .main-slide-ul li .img-box .mask-black-dot {background-image:url(/resources/tour/img/main/mask_bl_dot_pattern.png);}

.main-slide-ul .slick-slide > div {width:100%; height:100%;}
.main-slide-ul .slick-slide li {}

/*슬라이드 글자 효과*/
.main-slide-ul li h3 {
    opacity:0;filter:Alpha(opacity=0);
    
    -ms-transform: translateX(-10px); 
    -o-transform: translateX(-10px); 
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px); 
     transform: translateX(-10px);
     
    -webkit-transition:opacity 0.8s, transform 0.8s;
    -moz-transition:opacity 0.8s, transform 0.8s;
    -o-transition:opacity 0.8s, transform 0.8s;
    -ms-transition:opacity 0.8s, transform 0.8s;
    transition:opacity 0.8s, transform 0.8s;
}

.main-slide-ul li.active h3 {
    opacity:1.0;filter:Alpha(opacity=100);
    -ms-transform: translateX(0px); 
    -o-transform: translateX(0px); 
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px); 
     transform: translateX(0px);
}

/*슬라이드 페이징*/
.m-slide-paging-box {position:absolute; right:2%; bottom:116px; z-index: 500;}

.m-slide-paging-box .slick-dots {}
.m-slide-paging-box .slick-dots:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m-slide-paging-box .slick-dots li {float:left; margin-right:15px;}
.m-slide-paging-box .slick-dots li button {width:43px; height:43px; color:#fff; border-radius: 50%; font-size:16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.m-slide-paging-box .slick-dots li.slick-active button {border:1px solid #fff; background:rgba(0,0,0,0.15);}


/*고흥글자*/
.main-slide-section .letter-box {position:absolute; top:260px; left:9%; z-index: 100;}


/*아이콘*/
.main-slide-section .icon-box {position:absolute; left:9%; bottom:248px; z-index: 100;}
.main-slide-section .icon-box ul {}
.main-slide-section .icon-box ul:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-slide-section .icon-box ul li {float:left; margin-right:15px; width:100px; height:100px; }
.main-slide-section .icon-box ul li:last-of-type {margin-right:0;}
.main-slide-section .icon-box ul li a {display: block; width:100%; height:100%; border-radius: 50%; background-color:rgba(0,0,0,0.45);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-slide-section .icon-box ul li a .icon-b {text-align: center;}
.main-slide-section .icon-box ul li a .icon-b .icon {display:inline-block; width:55px; height: 51px; background:url(/resources/tour/img/icon/icon_main_slide_inner.png) no-repeat left top; margin-top:22px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-slide-section .icon-box ul li a .icon-b .icon.icon01 {background-position: 0 0;}
.main-slide-section .icon-box ul li a .icon-b .icon.icon02 {background-position: -55px 0;}
.main-slide-section .icon-box ul li a .icon-b .icon.icon03 {background-position: -110px 0}
.main-slide-section .icon-box ul li a .icon-b .icon.icon04 {background-position: -165px 0}
.main-slide-section .icon-box ul li a .icon-b .icon.icon05 {background-position: -220px 0}

.main-slide-section .icon-box ul li a h3 {display:none; font-size:17px; font-weight: 500; color:#fff; padding-top:38px; text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-slide-section .icon-box ul li a h3.two-line {padding-top:30px; line-height: 1.2;}
.main-slide-section .icon-box ul li a:hover {background-color:#42b8c1;}
.main-slide-section .icon-box ul li a:hover .icon-b {display:none;}
.main-slide-section .icon-box ul li a:hover h3 {display:block;}
.main-slide-section .icon-box ul li.active a {background-color:#42b8c1;}
.main-slide-section .icon-box ul li.active a .icon-b {display:none;}
.main-slide-section .icon-box ul li.active a h3 {display:block;}



/*투어지도*/
.main-slide-section .m-s-tour-map-box {position:absolute; top:130px; right:13%; z-index: 100;}
.m-s-tour-map-box .img-map-b {position:relative;}

.m-s-tour-map-box .mobile-btn {display: none;}

.m-s-tour-map-box .tour-detail-b {position:absolute; z-index: 150;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.m-s-tour-map-box .tour-detail-b .red-circle {position:relative;}
.m-s-tour-map-box .tour-detail-b .red-circle a {display:block; width:12px; height:12px; border-radius: 50%; background-color:#dddedf;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.m-s-tour-map-box .tour-detail-b .name {position:absolute; left:0; top:-2px; font-size:12.5px; color:#dddedf; padding-left:18px; cursor: pointer; line-height: 1.2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.m-s-tour-map-box .tour-detail-b .name.right-txt {left:auto; right:0; padding-left:0; padding-right:18px;}
.m-s-tour-map-box .tour-detail-b.active {z-index: 1000;}

.m-s-tour-map-box .tour-detail-b.active .red-circle a {background-color:#ed1c24;}
.m-s-tour-map-box .tour-detail-b.active .name {color:#fff;}


.m-s-tour-map-box .tour-detail-b .more-tour-box {position:absolute; top:28px; width:385px; height:114px; background-color:#fff; display:none; box-shadow: 2px 2px 2px rgba(0,0,0,0.3);}
.m-s-tour-map-box .tour-detail-b.left-tour .more-tour-box {left:8px;}
.m-s-tour-map-box .tour-detail-b.right-tour .more-tour-box {right:8px;}

.m-s-tour-map-box .tour-detail-b .more-tour-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .img-b {width:154px; height:100%; position:relative;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .img-b img {position:absolute; left:0; bottom:0;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .img-b .moImg {display:none;}
.m-s-tour-map-box .tour-detail-b.left-tour .more-tour-box .img-b {float:left;}
.m-s-tour-map-box .tour-detail-b.right-tour .more-tour-box .img-b {float:right;}

.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b {float:left; width:calc(100% - 154px); height:100%; padding:20px 20px 0;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b a:hover {text-decoration: underline;}
.m-s-tour-map-box .tour-detail-b.left-tour .more-tour-box .letter-b {padding-right:25px;}
.m-s-tour-map-box .tour-detail-b.right-tour .more-tour-box .letter-b {padding-left:25px; text-align: right;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b .close-b {position:absolute; top:5px;}
.m-s-tour-map-box .tour-detail-b.left-tour .more-tour-box .letter-b .close-b {right:5px;}
.m-s-tour-map-box .tour-detail-b.right-tour .more-tour-box .letter-b .close-b {left:7px;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b .close-b button i {font-size: 25px;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b h2 {font-size:15px; font-weight: 900; color:#333; line-height: 1.1; letter-spacing: -0.08em; margin-bottom: 5px;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b h3 {font-size:13px; color:#555;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; letter-spacing: -0.08em;}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b .more-btn {padding:4px 10px 3px; border:1px solid #002a76; font-size:13px; margin-top:12px; display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.m-s-tour-map-box .tour-detail-b .more-tour-box .letter-b a:hover .more-btn {background-color:#002a76; color:#fff;}

/*투어지도 위치*/
.tour-detail-b.xy-lo-R-01 {right: 23px; bottom:57px;} /*나로우주센터우주과학관*/
.tour-detail-b.xy-lo-R-02 {right: 108px; bottom:76px;} /*애도*/
.tour-detail-b.xy-lo-R-03 {right: 82px; bottom:182px;} /*국립청소년우주센터*/
.tour-detail-b.xy-lo-R-04 {right: 57px; bottom:261px;} /*우주발사전망대*/
.tour-detail-b.xy-lo-R-05 {right: 139px; bottom:297px;} /*팔영산 편백 치유의숲*/
.tour-detail-b.xy-lo-R-06 {right: 114px; bottom:316px;} /*팔영산*/


.tour-detail-b.xy-lo-L-01 {left: -2px; bottom:67px;} /*연홍도*/
.tour-detail-b.xy-lo-L-02 {left: 17px; bottom:151px;} /*소록도*/
.tour-detail-b.xy-lo-L-03 {left: 46px; bottom:217px;} /*우주천문과학관*/
.tour-detail-b.xy-lo-L-04 {left: 280px; bottom:310px;} /*고흥분청문화박물관*/


/*투어지도 모바일*/
@media all and (max-width:1300px){

    .main-slide-section .m-s-tour-map-box.mobile {position:absolute; top:auto; right:0; bottom:0; width:100%; height:150px; background:rgba(0,0,0,0.5);}

    .m-s-tour-map-box .img-map-b {display:none;}

    .tour-mobile-slide .mobile-btn {display: block; position: absolute; top:40%; z-index: 5000;}
    .tour-mobile-slide .mobile-btn {}
    .tour-mobile-slide .mobile-btn i {color:#fff;}
    .tour-mobile-slide .mobile-btn.prev {left:20px;}
    .tour-mobile-slide .mobile-btn.next {right:20px;}

    .tour-mobile-slide {width:100%; height: 100%;}
    .tour-mobile-slide .slick-list {height: 100%;}

    .m-s-tour-map-box.mobile .tour-detail-b:first-of-type {display: block;}

    .m-s-tour-map-box.mobile .tour-detail-b {position:absolute; left:0; top:0; width:100%; height: 100%;  padding:20px 100px;}

    .m-s-tour-map-box.mobile .tour-detail-b .red-circle {display: none;}
    .m-s-tour-map-box.mobile .tour-detail-b .name {display: none;}

    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box {position:relative; top:0; width:100%; height:100%; background-color:transparent; display:block; box-shadow:none;}
    .m-s-tour-map-box.mobile .tour-detail-b.left-tour .more-tour-box {left:0px;}
    .m-s-tour-map-box.mobile .tour-detail-b.right-tour .more-tour-box {right:0px;}

    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .img-b {width:20%; height:110px; position:relative;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .img-b img {position: relative; left:0; bottom:0; width:100%; height: 100%;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .img-b .pcImg {display:none;}    
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .img-b .moImg {display:block;}

    .m-s-tour-map-box.mobile .tour-detail-b.left-tour .more-tour-box .img-b {float:left;}
    .m-s-tour-map-box.mobile .tour-detail-b.right-tour .more-tour-box .img-b {float:left;}

    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b a {color:#fff;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b {float:left; width:80%; height:100%; padding:13px 20px 0;}
    .m-s-tour-map-box.mobile .tour-detail-b.left-tour .more-tour-box .letter-b {padding-right:20px;}
    .m-s-tour-map-box.mobile .tour-detail-b.right-tour .more-tour-box .letter-b {padding-left:20px; text-align: left;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b .close-b {display: none;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b h2 {color:#fff;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b h3 {color:#ddd;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b .more-btn {color:#fff;}

}


@media all and (max-width:700px){

    .main-slide-section .m-s-tour-map-box.mobile {height:100px;}

    .m-s-tour-map-box.mobile .tour-detail-b {padding:20px 50px;}

    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .img-b {height:60px;}

    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b h2 {font-size:13px; margin-bottom: 3px;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b h3 {font-size:12px; overflow:hidden; white-space:none; text-overflow:none;}
    .m-s-tour-map-box.mobile .tour-detail-b .more-tour-box .letter-b .more-btn {display: none}
}  


/*마우스 움직임*/
.slide-mouse-move-b {position:absolute; left:46.5%; z-index: 1000; text-align: center;
    animation-name: bounce;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;}
.slide-mouse-move-b h2 {color:#fff; font-size: 14px; font-weight: 500; letter-spacing: 1.5px; margin-bottom: 15px;}
.slide-mouse-move-b a {display:inline-block;}

@keyframes bounce {

  from {
    bottom: 100px;
    animation-timing-function: ease-out;
  }

  25% {
    bottom: 130px;
    animation-timing-function: ease-in;
  }

  50% {
    bottom: 90px;
    animation-timing-function: ease-out;
  }

  75% {
    bottom: 130px;
    animation-timing-function: ease-in;
  }

  to {
    bottom: 100px;
  }

}

@media all and (max-width:1500px){

    /*투어지도 위치 */
    .main-slide-section .m-s-tour-map-box {right:150px;}
    
    /*고흥글자*/
    .main-slide-section .letter-box {left:50px;}

    /*아이콘*/
    .main-slide-section .icon-box {left:50px;}
    .main-slide-section .icon-box ul li {margin-right:10px;}
    
    /*슬라이드 글자*/
    .main-slide-section .main-slide-ul li h3 {left:50px;}
}

@media all and (max-width:1300px){    
    /*투어지도*/
    .main-slide-section .m-s-tour-map-box {}

    /*고흥글자*/
    .main-slide-section .letter-box {left:0; width:100%; text-align: center;}

    /*아이콘*/
    .main-slide-section .icon-box {left:0%; width:100%; text-align: center;}
    .main-slide-section .icon-box ul {display:inline-block;}
    
    /*슬라이드 글자*/
    .main-slide-section .main-slide-ul li h3 { left:0; width:100%; text-align: center;}

    /*슬라이드 페이징*/
    .m-slide-paging-box {bottom:170px;}

    /*마우스 움직임*/
    .slide-mouse-move-b {display:none;}
}

@media all and (max-width:999px){	
    .main-slide-section {}
    
    /*슬라이드이미지*/
    .main-slide-section .main-slide-ul {height:670px;}
    .main-slide-section .main-slide-ul {}
    .main-slide-section .main-slide-ul li {}
    .main-slide-section .main-slide-ul li h3 {bottom:auto; top:280px; font-size: 20px;}
    .main-slide-section .main-slide-ul li .img-box {position:relative; width:100%; height:670px; background-size:100% 100%;}

    /*슬라이드 페이징*/
    .m-slide-paging-box {right:0; bottom:120px; text-align: center; width:100%;}
    .m-slide-paging-box .slick-dots {display: inline-block;}
    .m-slide-paging-box .slick-dots li {margin-right:10px;}
    .m-slide-paging-box .slick-dots li:last-child {margin-right:0px;}
    .m-slide-paging-box .slick-dots li button {width:25px; height:25px; font-size:11px; color:rgba(255,255,255,0.4);}
    .m-slide-paging-box .slick-dots li.slick-active button { color:#fff; }

    /*고흥글자*/
    .main-slide-section .letter-box {position:absolute; top:110px;}
    .main-slide-section .letter-box img {width:200px;}

    /*아이콘*/
    .main-slide-section .icon-box {position:absolute; bottom:180px; width:100%; padding:0 10px;}
    .main-slide-section .icon-box ul li {float:none; display: inline-block; margin:1px 10px; width:75px; height:75px; vertical-align: top;}
    .main-slide-section .icon-box ul li:last-of-type {margin-right:0;}
    .main-slide-section .icon-box ul li a {}
    .main-slide-section .icon-box ul li a .icon-b {}
    .main-slide-section .icon-box ul li a .icon-b .icon {display:inline-block; width:30px; height: 25px; margin-top:2px; background-size:150px; }
    .main-slide-section .icon-box ul li a .icon-b .icon.icon01 {background-position: 0 0;}
    .main-slide-section .icon-box ul li a .icon-b .icon.icon02 {background-position: -30px 0;}
    .main-slide-section .icon-box ul li a .icon-b .icon.icon03 {background-position: -60px 0}
    .main-slide-section .icon-box ul li a .icon-b .icon.icon04 {background-position: -90px 0}
    .main-slide-section .icon-box ul li a .icon-b .icon.icon05 {background-position: -120px 0}

    .main-slide-section .icon-box ul li a h3 {font-size:12px; display:block; font-weight: 500; padding-top:12px; text-align: center; }
    .main-slide-section .icon-box ul li a h3.two-line {padding-top:12px; font-size:11px;}

    .main-slide-section .icon-box ul li a:hover {background-color:#42b8c1;}
    .main-slide-section .icon-box ul li a:hover .icon-b {display:inline-block;}
    .main-slide-section .icon-box ul li a:hover h3 {display:block;}
    .main-slide-section .icon-box ul li.active a .icon-b {display:inline-block;}

}






/*********** 메인 축제&예약 **************/
.main-title-box {width:100%; text-align: center; margin-bottom:40px;}
.main-title-box h1 {font-size:45px; font-weight: 500; color:#222;}
.main-title-box h3 {font-size:16px; color:#6d6e71; letter-spacing: -0.03em;}

.main-festival-section {width:100%; padding:90px 0 120px;}
.main-festival-section .inner1200 {}

.main-festival-section .content-box {width:100%;}
.main-festival-section .content-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.main-festival-section .common-b {float:left; width:26%; height:425px; margin-top:35px; background-color:#eee; padding:44px 42px 20px;} 
.main-festival-section .common-b .title-box {margin-bottom:20px; position:relative;} 
.main-festival-section .common-b .title-box .name {position:absolute; right:10px; top:-8px; font-size:15px; color:#dcf2f4; letter-spacing: 0;} 
.main-festival-section .common-b .con-box {padding-left:10px; width:100%;}

/*페스티벌*/
.main-festival-section .festival-box {background-color:#41bac5;}
.main-festival-section .festival-box .go-festi-box {width:100%;}
.main-festival-section .festival-box .go-festi-box .img-box {margin-bottom:7px; height: 138px; overflow: hidden;}
.main-festival-section .festival-box .go-festi-box .img-box img {}
.main-festival-section .festival-box .go-festi-box .title-ul {width:100%;}
.main-festival-section .festival-box .go-festi-box .title-ul li {margin-bottom:3px;}
.main-festival-section .festival-box .go-festi-box .title-ul li a {display:block; padding:12px 5px 11px 15px; font-size:16px; color:#fff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.main-festival-section .festival-box .go-festi-box .title-ul li.active a {border:2px solid #fff; font-weight: bold;}
.main-festival-section .festival-box .go-festi-box .title-ul li:hover a {font-weight: bold;}

/*예약*/
.main-festival-section .reservate-box {background-color:#f26935;}
.main-festival-section .reservate-box .con-box {padding:0;}
.main-festival-section .reservate-box .m-go-service-box {width:100%; position:relative;}
.main-festival-section .reservate-box .m-go-service-box:before {content:""; position:absolute; left:0; top:10px; width:1px; height:100%; background-color:#fff;}
.main-festival-section .reservate-box .m-go-service-box .one {margin-bottom:18px; padding-left:20px; position:relative;}
.main-festival-section .reservate-box .m-go-service-box .one:last-of-type {margin-bottom:0px;}
.main-festival-section .reservate-box .m-go-service-box .one .circle {position:absolute; left:-7px; top:5px; width:14px; height:14px; background-color:#fff; border-radius: 50%; }
.main-festival-section .reservate-box .m-go-service-box .one .iner-con {width:100%; color:#fff; }
.main-festival-section .reservate-box .m-go-service-box .one .iner-con h3 {padding-bottom:12px;}
.main-festival-section .reservate-box .m-go-service-box .one .iner-con h3 a {font-size:16px; color:#ffe3d7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 {display:none; padding-bottom:10px;}
.main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 h5 {font-size:13px;}
.main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 button {font-size:14px; vertical-align: middle; color:#fff; border:1px solid #fff; padding:6px 12px 4px; margin-top:12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 button i {vertical-align: middle; font-size:1.3em;}
.main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 button:hover {background-color:rgba(255,255,255,0.3);}

.main-festival-section .reservate-box .m-go-service-box .one.active h3 a { font-weight:bold; color:#fff;}

 
/*달력*/
.main-festival-section .calendar-box {float:left; width:48%; padding:0 17px;} 
.main-festival-section .calendar-inner {width:100%; border:6px solid #99a2b8; padding:50px 26px 40px;} 
.main-festival-section .calendar-inner .day-box {width:100%; padding:0 10px 25px; border-bottom:1px solid #cbcbcb; text-align: center;} 
.main-festival-section .calendar-inner .day-box .day-arrow {display:inline-block; vertical-align: middle;  margin:0 15px;}
.main-festival-section .calendar-inner .day-box .day-arrow .arrow {display:inline-block; width:47px; height:31px; background:url(/resources/tour/img/icon/icon_main_cal_arrow.png) no-repeat left top;}
.main-festival-section .calendar-inner .day-box .day-arrow .arrow.prev {background-position:0 0; }
.main-festival-section .calendar-inner .day-box .day-arrow .arrow.next {background-position:-47px 0; }

.main-festival-section .calendar-inner .day-box .day-txt {display:inline-block; vertical-align: middle; font-size:78px; font-weight: bold; color:#3aad6a; line-height: 1;}
.main-festival-section .calendar-inner .day-box .year-txt {display:inline-block; vertical-align: middle; font-size:27px; color:#414042; margin-left:15px;}
.main-festival-section .calendar-inner .content-box {width:100%; padding:27px 0 0;}
.main-festival-section .calendar-inner .content-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.main-festival-section .calendar-inner .content-box .img-box {float:left; width:200px; margin-right:35px;}
.main-festival-section .calendar-inner .content-box .letter-box {float:left; width:calc(100% - 235px); padding:20px 20px 0 0;}
.main-festival-section .calendar-inner .content-box .letter-box h2 {font-size:20px; font-weight: bold; color:#231f20; line-height: 1.3; margin-bottom: 10px;}
.main-festival-section .calendar-inner .content-box .letter-box h5 {font-size:13px; font-weight: 500; color:#6d6e71; line-height: 1.3; margin-bottom: 13px;}
.main-festival-section .calendar-inner .content-box .letter-box ul {margin-bottom:20px;}
.main-festival-section .calendar-inner .content-box .letter-box ul li {margin-bottom:8px; font-size: 14px;}
.main-festival-section .calendar-inner .content-box .letter-box ul li {margin-bottom:8px; font-size: 14px;}
.main-festival-section .calendar-inner .content-box .letter-box ul li .icon {display:inline-block; vertical-align: middle; margin-right: 5px;}
.main-festival-section .calendar-inner .content-box .letter-box .more-btn {margin-top:10px; font-size:15px; font-weight: 500; color:#6d6e71; min-width: 160px; padding:10px; border:1px solid #aaa;}
.main-festival-section .calendar-inner .content-box .letter-box .more-btn i {vertical-align: middle;}


@media all and (max-width:999px){	
    .main-title-box {width:85%; margin:0 auto 25px;}
    .main-title-box h1 {font-size:22px; font-weight: bold; margin-bottom: 5px}
    .main-title-box h3 {font-size:14px;}

    .main-festival-section { padding:30px 0 20px;}

    .main-festival-section .content-box {}

    .main-festival-section .common-b {float:none; width:100%; height:auto; margin-top:0px; padding:30px 40px 20px;} 
    .main-festival-section .common-b .title-box {margin-bottom:10px; text-align: center;} 
    .main-festival-section .common-b .title-box img {width:150px;} 
    .main-festival-section .common-b .title-box .name {right:18%; top:-8px; font-size:13px;} 
    .main-festival-section .common-b .con-box {padding-left:5px;}

    /*페스티벌*/
    .main-festival-section .festival-box .go-festi-box .img-box {margin-bottom:6px; height: 138px; overflow: hidden;}
    .main-festival-section .festival-box .go-festi-box .img-box img {width:100%;}
    .main-festival-section .festival-box .go-festi-box .title-ul li {margin-bottom:3px;}
    .main-festival-section .festival-box .go-festi-box .title-ul li a {padding:5px 5px 5px 15px; font-size:14px;}

    /*예약*/
    .main-festival-section .reservate-box {padding-bottom:15px;}
    .main-festival-section .reservate-box .title-box {margin-bottom:15px;} 
    .main-festival-section .reservate-box .title-box img {width:140px;} 
    .main-festival-section .reservate-box .m-go-service-box:before {height:93%;}
    .main-festival-section .reservate-box .m-go-service-box .one .circle {left:-6px; top:4px; width:12px; height:12px; }
    .main-festival-section .reservate-box .m-go-service-box .one .iner-con {}
    .main-festival-section .reservate-box .m-go-service-box .one .iner-con h3 {padding-bottom:10px;}
    .main-festival-section .reservate-box .m-go-service-box .one .iner-con h3 a {font-size:15px;}
    .main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 {}
    .main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 h5 {font-size:12px;}
    .main-festival-section .reservate-box .m-go-service-box .one .iner-con .hire-01 button {font-size:12px; padding:6px 10px 4px; margin-top:10px;}
     
    /*달력*/
    .main-festival-section .calendar-box {float:none; width:100%; padding:0 0px;} 
    .main-festival-section .calendar-inner {width:100%; border:5px solid #99a2b8; padding:30px 15px 25px;} 
    .main-festival-section .calendar-inner .day-box {padding:0 0 10px;} 
    .main-festival-section .calendar-inner .day-box .day-arrow {margin:0 10px; padding-top:10px;}
    .main-festival-section .calendar-inner .day-box .day-arrow .arrow {width:25px; height:25px; background-size:50px;}
    .main-festival-section .calendar-inner .day-box .day-arrow .arrow.prev {background-position:0 0; }
    .main-festival-section .calendar-inner .day-box .day-arrow .arrow.next {background-position:-25px 0; }

    .main-festival-section .calendar-inner .day-box .day-txt {font-size:30px;}
    .main-festival-section .calendar-inner .day-box .year-txt {font-size:18px; margin-left:10px;}

    .main-festival-section .calendar-inner .content-box {padding:20px 0 0;}
    .main-festival-section .calendar-inner .content-box .img-box {float:none; width:100%; margin:0 0 15px; text-align: center;}
    .main-festival-section .calendar-inner .content-box .img-box img {display:inline-block;}
    .main-festival-section .calendar-inner .content-box .letter-box {float:none; width:100%; padding:0px 15px;}
    .main-festival-section .calendar-inner .content-box .letter-box h2 {font-size:16px;}
    .main-festival-section .calendar-inner .content-box .letter-box h5 {font-size:12px;}
    .main-festival-section .calendar-inner .content-box .letter-box ul {margin-bottom:5px;}
    .main-festival-section .calendar-inner .content-box .letter-box ul li {margin-bottom:8px; font-size: 13px;}
    .main-festival-section .calendar-inner .content-box .letter-box .more-btn {margin-top:10px; font-size:12px; min-width: 130px; padding:5px;}
    .main-festival-section .calendar-inner .content-box .letter-box .more-btn i {vertical-align: middle; font-size:13px;}

}






/*********** 메인 이야기 고흥 여행 **************/
.main-story-section {width: 100%; background-color:#f2f2f4; padding:80px 0 130px;}
.main-story-section .inner1200 {}

.main-story-section .main-story-slide-box {width:100%; position:relative;}
.main-story-section .main-story-slide-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.main-story-slide-box .story-slide-btn {float:left; width:7.5%; text-align: center; padding-top:150px;}
.main-story-slide-box .story-slide-btn.prev {text-align: left;}
.main-story-slide-box .story-slide-btn.next {text-align: right;}

.main-story-slide-box .story-slide-btn button span.arrow_01 {display:inline-block; width:23px; height:44px; background:url(/resources/tour/img/main/main_story_sl_arrow.png) no-repeat left top;}
.main-story-slide-box .story-slide-btn button span.arrow_01.prev {background-position: 0 0;}
.main-story-slide-box .story-slide-btn button span.arrow_01.next {background-position: -23px 0;}

.main-story-slide-box .m-story-slider-iner-box {float:left; width:85%;}
.m-story-slide-ul {width:100%; position:relative;}
.m-story-slide-ul li {position:relative;}
.m-story-slide-ul li:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m-story-slide-ul li .img-box {width:100%; height:355px; position:relative; background-size: cover;}
.m-story-slide-ul li .img-box img {}

.m-story-slide-ul li .letter-box {position:absolute; right:0; top:0; width:30%; height:100%; background-color:rgba(0,0,0,0.7); z-index: 100; padding:60px 30px 50px;}
.m-story-slide-ul li .letter-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m-story-slide-ul li .letter-box h2 {font-size:23px; font-weight: 500; color:#fff; margin-bottom: 10px;}
.m-story-slide-ul li .letter-box h3 {font-size:16px; color:#fff; line-height: 1.5; height:168px; overflow: hidden;}
.m-story-slide-ul li .letter-box .more-btn {font-size:14px; color:#fff; padding:7px 20px; border:1px solid #fff; margin-top:22px;}
.m-story-slide-ul li .letter-box .more-btn:hover {background-color:rgba(255,255,255,0.2);
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

/*dot*/
.main-story-slide-box .slick-dots{position:absolute; width:100%; text-align:center; bottom:-50px; left:0; z-index: 100; padding:0 0 0 0;}
.main-story-slide-box .slick-dots li {display:inline-block; margin:0 3px;}
.main-story-slide-box .slick-dots li button{font-size: 0;  width:22px; height:22px; border-radius: 50%; position:relative;}
.main-story-slide-box .slick-dots li button:before {content:""; width:30%; height:30%; border-radius: 50%; background-color:#777; position:absolute; top:35%; left:35%;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.main-story-slide-box .slick-dots li.slick-active button {border:1px solid #666;}
.main-story-slide-box .slick-dots li.slick-active button:before {background-color:#333;}

.main-story-slide-box .slick-dots li.slide-Play a {display:inline-block; vertical-align: middle; padding:4px 0 0 5px;}
.main-story-slide-box .slick-dots li.slide-Play a i {font-size:1.1em; color:#666;}


@media all and (max-width:999px){	
    .main-story-section {width: 100%; background-color:#f2f2f4; padding:30px 0 70px;}

    .main-story-section .main-story-slide-box {}

    .main-story-slide-box .story-slide-btn {width:10%; text-align: center; padding-top:150px;}
    .main-story-slide-box .story-slide-btn.prev {text-align: left;}
    .main-story-slide-box .story-slide-btn.next {text-align: right;}

    .main-story-slide-box .story-slide-btn button span.arrow_01 {width:15px; height:30px; background-size:30px auto;}
    .main-story-slide-box .story-slide-btn button span.arrow_01.prev {background-position: 0 0;}
    .main-story-slide-box .story-slide-btn button span.arrow_01.next {background-position: -15px 0;}

    .main-story-slide-box .m-story-slider-iner-box {float:left; width:80%;}
    .m-story-slide-ul {width:100%; position:relative;}
    .m-story-slide-ul li {position:relative;}
    .m-story-slide-ul li .img-box {width:100%; height:400px;}

    .m-story-slide-ul li .letter-box {right:0; top:auto; bottom: 0; width:100%; height:50%; padding:20px;}
    .m-story-slide-ul li .letter-box h2 {font-size:18px; margin-bottom: 5px;}
    .m-story-slide-ul li .letter-box h3 {font-size:13px; height:95px; overflow: hidden;}
    .m-story-slide-ul li .letter-box .more-btn {font-size:12px; padding:5px 20px; margin-top:10px;}

    /*dot*/
    .main-story-slide-box .slick-dots{bottom:-35px;}
}






/*********** 판타지 고흥 페스티벌 **************/
.main-fantasy-section {width:100%; background:url(/resources/tour/img/main/img_main_fantasyGoheung_bg.jpg) no-repeat center center; background-size:cover; padding:100px 0 60px; max-height:500px;}
.main-fantasy-section .letter-box {width:880px; margin:0 auto; position:relative;}
.main-fantasy-section h2 {margin:0 0 13px -35px;}
.main-fantasy-section h3 {margin:0 0 15px;}
.main-fantasy-section .welcom-txt-box {width: 100%; color:#dededd;}
.main-fantasy-section .welcom-txt-box .wel-para {font-size:24px; font-weight:500;}
.main-fantasy-section .welcom-txt-box .line-w {display:inline-block; width:57px; height: 2px; background-color:#fff; margin:17px 0 13px;}
.main-fantasy-section .welcom-txt-box .date-txt {font-size:19px; font-weight:500; line-height: 1.4;}

.main-fantasy-section .welcom-txt-box .detail-btn-b {float:right; margin-top:-40px; padding-right:150px;}
.main-fantasy-section .welcom-txt-box .detail-btn-b button {color:#fff; text-align: left;}
.main-fantasy-section .welcom-txt-box .detail-btn-b button .icon {display:block; margin:-10px 0px 0 -5px;}


@media all and (max-width:999px){	
    .main-fantasy-section {padding:60px 25px 40px; max-height:auto;}
    .main-fantasy-section .letter-box {width:100%; }
    .main-fantasy-section h2 {margin:0 0 13px 0px;}
    .main-fantasy-section h3 {margin:0 0 15px;}
    .main-fantasy-section .welcom-txt-box {}
    .main-fantasy-section .welcom-txt-box .wel-para {font-size:16px;}
    .main-fantasy-section .welcom-txt-box .line-w {width:40px; margin:13px 0 10px;}
    .main-fantasy-section .welcom-txt-box .date-txt {font-size:14px;}

    .main-fantasy-section .welcom-txt-box .detail-btn-b {float:none; margin-top:20px; padding:0 0 0 10px;}
    .main-fantasy-section .welcom-txt-box .detail-btn-b button {color:#fff; text-align: left;}
    .main-fantasy-section .welcom-txt-box .detail-btn-b button .txt {font-size:12px;}
    .main-fantasy-section .welcom-txt-box .detail-btn-b button .icon {margin:-10px 0px 0 -5px;}
    .main-fantasy-section .welcom-txt-box .detail-btn-b button .icon img {width:100px;}

}


















