@charset "utf-8";
/* CSS Document */



/* 관광명소 - 전체 */
/*관광명소 찾기*/
.sightseeing-search-wrap {width:100%; height:485px; border:1px solid #ddd; margin:0 0 40px;}
.sightseeing-search-wrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.sightseeing-search-wrap .map-box {float:left; width:826px; height: 100%;}
.sightseeing-search-wrap .map-box img {width:100%; height: 100%;}

.sightseeing-search-wrap .search-box {float:left; width:calc(100% - 826px); height: 100%; padding:44px 38px 32px 53px;}
.sightseeing-search-wrap .search-box .title-box {width:100%; text-align: left; position:relative; margin:0 0 17px;}
.sightseeing-search-wrap .search-box .title-box:before {content:""; width:100%; height: 1px; background:#ddd; position: absolute; bottom:8px; right:0; z-index: -1;}
.sightseeing-search-wrap .search-box .title-box h2 {display: inline-block; font-size: 21px; font-weight: 700; color:#406fb7; letter-spacing: -0.01em; background:#fff; padding-right: 5px;}

.sightseeing-search-wrap .search-box .town-box {width:100%; margin-bottom: 15px;}
.sightseeing-search-wrap .search-box .town-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sightseeing-search-wrap .search-box .town-box .one {float:left; width:23.875%; border:1px solid #ddd; border-radius: 5px; text-align: center; margin:0 0 5px 1.5%; height: 32px;}
.sightseeing-search-wrap .search-box .town-box .one:nth-of-type(4n+1) {margin-left:0%;}
.sightseeing-search-wrap .search-box .town-box .one a {display: block; height: 100%; padding:9px 3px 6px; color:#555; font-size:14.5px; line-height: 1;}
.sightseeing-search-wrap .search-box .town-box .one.active {border:1px solid #3f6fb7;}
.sightseeing-search-wrap .search-box .town-box .one.active a {color:#3f6fb7;}

.sightseeing-search-wrap .search-box .alpha-box {width:100%; padding-bottom: 15px; border-bottom: 1px solid #ddd;}
.sightseeing-search-wrap .search-box .alpha-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sightseeing-search-wrap .search-box .alpha-box .one {float:left; width:15.667%; margin:0 0 4px 1%; border:1px solid #bbb; height: 36px; border-radius: 5px; text-align: center;}
.sightseeing-search-wrap .search-box .alpha-box .one.town {width:32.335%;}
.sightseeing-search-wrap .search-box .alpha-box .one a {display: block; height: 100%; padding:7px 5px 0 ; font-size: 15px; color:#777;}
.sightseeing-search-wrap .search-box .alpha-box .one.active {background-color:#3f6fb7;}
.sightseeing-search-wrap .search-box .alpha-box .one.active a {color:#fff;}

.sightseeing-search-wrap .search-box .input-search-box {width:100%; margin:16px 0 0; height: 48px;}
.sightseeing-search-wrap .search-box .input-search-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sightseeing-search-wrap .search-box .input-search-box .text-b {float:left; width:80%; height: 100%;}
.txt-search-see {width:100%; height: 100%; border:1px solid #ddd;}
.sightseeing-search-wrap .search-box .input-search-box .btn-b {float:left; width:20%; height: 100%;}
.btn-search-see {width:100%; height: 100%; text-align: center; background-color:#3f6fb7; color:#fff;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;}
.btn-search-see:hover {background-color:#244c88;}
.btn-search-see i {font-size: 30px;}

@media all and (max-width:1200px){
	/*관광명소 찾기*/
	.sightseeing-search-wrap {width:100%; height:auto; margin:0 0 20px;}

	.sightseeing-search-wrap .map-box {float:none; width:100%; height: 300px;}
	.sightseeing-search-wrap .map-box img {width:100%; height: 100%;}

	.sightseeing-search-wrap .search-box {float:none; width:100%; height: auto; padding:20px 20px;}
	.sightseeing-search-wrap .search-box .title-box {margin:0 0 17px;}
	.sightseeing-search-wrap .search-box .title-box h2 {font-size: 17px;}

	.sightseeing-search-wrap .search-box .town-box {margin-bottom: 10px;}
	.sightseeing-search-wrap .search-box .town-box .one {height: 30px;}
	.sightseeing-search-wrap .search-box .town-box .one a {font-size:13px; padding-top: 8px;}

	.sightseeing-search-wrap .search-box .alpha-box {padding-bottom: 10px;}
	.sightseeing-search-wrap .search-box .alpha-box .one {height: 32px;}
	.sightseeing-search-wrap .search-box .alpha-box .one a {padding:6px 5px 0 ; font-size: 14px;}

	.sightseeing-search-wrap .search-box .input-search-box {height: 40px;}
	.btn-search-see i {font-size: 25px;}
}


/*관광명소 탭부분*/
.sightseeTabWrap {width:100%; margin-bottom:30px;}
.sightseeTabUl {width:100%; border:1px solid #ddd; height: 68px;}
.sightseeTabUl:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sightseeTabUl li {float:left; width:16.667%; height: 100%; border-left: 1px solid #ddd; text-align: center;}
.sightseeTabUl li:first-child {border-left:none;}
.sightseeTabUl li a {display: block; height: 100%; text-align: center; padding-top:20px;}
.sightseeTabUl li a .icon {display: inline-block; vertical-align: middle; width:30px; height: 25px; background:url(../img/sub/sub_sightseeing_icon_gray.png) no-repeat 0 0; margin-right: 5px;}
.sightseeTabUl li a .icon.icon1 {background-position:0 0;}
.sightseeTabUl li a .icon.icon2 {background-position:-30px 0;}
.sightseeTabUl li a .icon.icon3 {background-position:-60px 0;}
.sightseeTabUl li a .icon.icon4 {background-position:-90px 0;}
.sightseeTabUl li a .icon.icon5 {background-position:-120px 0;}
.sightseeTabUl li a .icon.icon6 {background-position:-150px 0;}
.sightseeTabUl li a .text {display: inline-block; vertical-align: bottom; text-align: 16px; color:#555; padding:0 0 1px;}
.sightseeTabUl li.active .icon {background-image:url(../img/sub/sub_sightseeing_icon_blue.png);}
.sightseeTabUl li.active .text {color:#3f6fb7;}

@media all and (max-width:999px){
	/*관광명소 탭부분*/
	.sightseeTabWrap {margin-bottom:25px;}
	.sightseeTabUl {height: auto; border:1px solid #ddd;}
	.sightseeTabUl li {width:50%; border-top:1px solid #ddd; height: 40px;}
	.sightseeTabUl li:first-child {border-left:none;}
	.sightseeTabUl li:nth-of-type(2n+1) {border-left:none;}
	.sightseeTabUl li:nth-of-type(1) {border-top:none;}
	.sightseeTabUl li:nth-of-type(2) {border-top:none;}
	.sightseeTabUl li a {padding-top:8px;}
	.sightseeTabUl li a .icon {width:25px; height: 20px; background-size:150px;}
	.sightseeTabUl li a .icon.icon1 {background-position:0 0;}
	.sightseeTabUl li a .icon.icon2 {background-position:-25px 0;}
	.sightseeTabUl li a .icon.icon3 {background-position:-50px 0;}
	.sightseeTabUl li a .icon.icon4 {background-position:-75px 0;}
	.sightseeTabUl li a .icon.icon5 {background-position:-100px 0;}
	.sightseeTabUl li a .icon.icon6 {background-position:-125px 0;}
	.sightseeTabUl li a .text {font-size: 13px;}
}


/*관광명소 목록 부분*/
.sightseeTabContentWrap {width:100%;}
.sightseeTabContentWrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.sightseeListBox {width:100%; margin-bottom:28px;}
.sightseeListBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sightseeListBox > .one {float:left; width: 24.25%; margin-left:1%; min-height: 345px; border:1px solid #ddd; margin-bottom: 10px;}
.sightseeListBox > .one:nth-of-type(4n+1) {margin-left:0%; clear: both;}

.sightseeListBox .one .picture-box {width:100%; height: 200px; overflow: hidden; position: relative; }
.sightseeListBox .one .picture-box .img-b {width:100%; height:100%; }
.sightseeListBox .one .picture-box .img-b img {min-width:100%; min-height: 100%;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;}
.sightseeListBox .one:hover .picture-box .img-b img {transform: scale(1.1);}

.sightseeListBox .one .picture-box .over-b {position:absolute; top:0; left:0; width:100%; height: 100%; background-color:transparent; padding:30px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;}
.sightseeListBox .one:hover .picture-box .over-b {background-color:rgba(0,0,0,0.7);} 

.sightseeListBox .one .picture-box .over-b .blackbox {position:relative; height: 100%;}

.sightseeListBox .one .picture-box .over-b .blackbox:before,
.sightseeListBox .one .picture-box .over-b .blackbox:after {
	border-color: transparent;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	border-style: solid;
	border-width: 0;
	content: "";
	height: 30px;
	position: absolute;
	width: 30px;
}
.sightseeListBox .one .picture-box .over-b .blackbox:before {
	border-right-width: 1px;
	border-top-width: 1px;
	right: -1px;
	top: -1px;
}
.sightseeListBox .one .picture-box .over-b .blackbox:after {
	border-bottom-width: 1px;
	border-left-width: 1px;
	bottom: -1px;
	left: -1px;
}
.sightseeListBox .one:hover .picture-box .over-b .blackbox:before,
.sightseeListBox .one.hover .picture-box .over-b .blackbox:before,
.sightseeListBox .one:hover .picture-box .over-b .blackbox:after,
.sightseeListBox .one.hover .picture-box .over-b .blackbox:after {
	border-color: #fff;
	height: 100%;
	width: 100%;
}

.sightseeListBox .one .picture-box .over-b .blackbox .plus {width:50px; height: 50px; position:absolute; top:50%; left: 50%; margin:-25px 0 0 -25px;}
.sightseeListBox .one .picture-box .over-b .blackbox .plus .bar {background-color:#fff; position:absolute;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;}
.sightseeListBox .one .picture-box .over-b .blackbox .plus .bar.bar1 {top:50%; left:0; width:0%; height: 1px;}
.sightseeListBox .one .picture-box .over-b .blackbox .plus .bar.bar2 {top:0%; left:50%; width:1px; height: 0%; }
.sightseeListBox .one:hover .picture-box .over-b .blackbox .plus .bar.bar1 {width:100%;}
.sightseeListBox .one:hover .picture-box .over-b .blackbox .plus .bar.bar2 {height: 100%; }



.sightseeListBox .one .letter-box {width:100%; padding:13px 15px 16px; border-bottom: 1px solid #ddd;}
.sightseeListBox .one .letter-box .title-b {width:100%; margin-bottom: 12px; padding-right:50px; position:relative;}
.sightseeListBox .one .letter-box .title-b h2 {font-size:16px; font-weight: 500;}
.sightseeListBox .one .letter-box .title-b .icon-list {position:absolute; top:-3px; right:10px;}

.icon-list {display: inline-block; width:30px; height: 25px; background:url(../img/sub/sub_sightseeing_icon_green.png) no-repeat 0 0;}
.icon-list.green {background:url(../img/sub/sub_sightseeing_icon_green.png) no-repeat 0 0;}
.icon-list.all {background-position:0 0;}
.icon-list.location {background-position:-30px 0;}
.icon-list.island {background-position:-60px 0;}
.icon-list.mountain {background-position:-90px 0;}
.icon-list.beach {background-position:-120px 0;}
.icon-list.sight {background-position:-150px 0;}

.sightseeListBox .one .letter-box .con-b {width:100%; font-size: 14px; color:#666; line-height: 1.3; padding-right: 5px;
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: box; 
	margin-top:1px; 
	height:32px; 
	overflow:hidden; 
	vertical-align:top; 
	text-overflow: ellipsis; 
	word-break:break-word; 
	-webkit-box-orient:vertical; 
	-webkit-line-clamp:2;
}

.sightseeListBox .one .info-box {width:100%; padding:12px 14px 10px 22px;}
.sightseeListBox .one .info-box .one {display: inline-block; vertical-align:middle; margin-right: 12px;}
.sightseeListBox .one .info-box .one:last-of-type {margin-right:0;}
.sightseeListBox .one .info-box .one .icon {display: inline-block; vertical-align:middle; margin-right: 2px;}
.sightseeListBox .one .info-box .one .icon i {color:#aaa; font-size: 20px;}
.sightseeListBox .one .info-box .one .text {display: inline-block; vertical-align:middle; font-size: 14px; color:#888; margin-top: -2px; line-height: 1;}


@media all and (max-width:999px){
	/*관광명소 목록 부분*/
	.sightseeTabContentWrap {width:100%;}

	.sightseeListBox {margin-bottom:15px;}
	.sightseeListBox > .one {float:left; width: 49%; min-height: auto; margin-bottom: 10px;}
	.sightseeListBox > .one:nth-of-type(2n+1) {margin-left:0%; clear: both;}

	.sightseeListBox .one .picture-box {width:100%; height: 110px; overflow: hidden; position: relative; }
	.sightseeListBox .one .picture-box img {width:100%; min-height: 100%;}

	.sightseeListBox .one .letter-box {padding:12px 10px 10px;}
	.sightseeListBox .one .letter-box .title-b {margin-bottom: 8px; padding-right:40px;}
	.sightseeListBox .one .letter-box .title-b h2 {font-size:14px;}
	.sightseeListBox .one .letter-box .title-b .icon-list {position:absolute; top:-3px; right:5px;}

	.icon-list {width:25px; height: 20px; background-size:150px;}
	.icon-list.green {background-size:150px;}
	.icon-list.all {background-position:0 0;}
	.icon-list.location {background-position:-25px 0;}
	.icon-list.island {background-position:-50px 0;}
	.icon-list.mountain {background-position:-75px 0;}
	.icon-list.beach {background-position:-100px 0;}
	.icon-list.sight {background-position:-125px 0;}

	.sightseeListBox .one .letter-box .con-b {width:100%; font-size: 12px; height: 28px;}

	.sightseeListBox .one .info-box {width:100%; padding:8px 14px 5px 22px;}
	.sightseeListBox .one .info-box .one {margin-right: 10px;}
	.sightseeListBox .one .info-box .one .icon i {color:#aaa; font-size: 15px;}
	.sightseeListBox .one .info-box .one .text {font-size: 12px;}

	.sightseeListBox .one .picture-box .over-b .blackbox .plus {width:25px; height: 25px; margin:-12.5px 0 0 -12.5px;}
}







/* 관광명소 - 자세히 (팔영산) */
.sightsee-Iner-content-wrap {width:100%; position:relative; padding:55px 0 30px;}
.sightsee-Iner-content-wrap:before {content:""; width:2000%; height: 100%; background-color: #f6f7f9; position:absolute; left:-100%; top:0; z-index: -1;}
.sightsee-Iner-content-wrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

/*타이틀*/
.sigthsee-iner-title-box {text-align: center; margin: 0 0 20px;}
.sigthsee-iner-title-box h2 {font-size:40px; color:#555; font-weight:300; line-height: 1.2;}
.sigthsee-iner-title-box .arrow {}
.sigthsee-iner-title-box .arrow i {font-size:45px; color:#6d6648; margin-top: -5px;}

/*윗 내용*/
.sigthsee-iner-loca-box {width:100%; height:293px; border:1px solid #ccc; margin:0 0 35px;}
.sigthsee-iner-loca-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sigthsee-iner-loca-box .img-box {float:left; width:398px; overflow: hidden;}
.sigthsee-iner-loca-box .map-box {float:left; width:398px;}
.sigthsee-iner-loca-box .loca-box {float:left; width:calc(100% - 796px); padding:28px 30px 30px 30px;}
.sigthsee-iner-loca-box .loca-box .text-box1 {padding-bottom:20px; border-bottom:1px solid #ddd;}
.sigthsee-iner-loca-box .loca-box .text-box1 .one {width:100%; position:relative; margin-top:13px; padding-left:25px;}
.sigthsee-iner-loca-box .loca-box .text-box1 .one:first-of-type {margin-top:0px;}
.sigthsee-iner-loca-box .loca-box .text-box1 .one .icon {position:absolute; left:0; top:2px;}
.sigthsee-iner-loca-box .loca-box .text-box1 .one .icon i {font-size:16px; color:#aaa;}
.sigthsee-iner-loca-box .loca-box .text-box1 .one p {font-size: 15px; color:#666; line-height: 1.4;}
.sigthsee-iner-loca-box .loca-box .text-box2 {padding:20px 5px 0; font-size:14px; color:#777; line-height: 1.5;
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: box; 
	margin-top:1px; 
	height:120px; 
	overflow:hidden; 
	vertical-align:top; 
	text-overflow: ellipsis; 
	word-break:break-word; 
	-webkit-box-orient:vertical; 
	-webkit-line-clamp:5;
}

/*컨텐츠내용*/
.sigthsee-iner-content {width:100%; margin:0 0 30px; }
.sigthsee-iner-content h3 {font-size:18px; font-weight: 500; color:#6d6648; margin-bottom: 17px; }
.sigthsee-iner-content p {font-size:16px;}

/*슬라이드*/
.sigthsee-iner-slide {width:100%; border:1px solid #ddd; margin-bottom: 60px; position:relative;}
/*슬라이드 - 내용*/
.sightsee-slide-for {position:relative; width: 100%; height: 670px;}
.sightsee-slide-for .itme {width:100%; height: 670px;}
.sightsee-slide-for .itme span {display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center center;}
/*슬라이드 - 네비*/
.sightsee-slide-nav-wrap {position:absolute; bottom:0; left:0; width:100%; height: 130px; background:rgba(0,0,0,0.8); text-align: center; padding:28px 0 0;}
.sightsee-slide-nav {display: inline-block; width: 450px;}
.sightsee-slide-nav:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sightsee-slide-nav .item { height: 75px;}

.sightsee-slide-nav-wrap .sightsee-slide-nav .slick-current .item a {border:3px solid #ffcb05;}

.sightsee-slide-nav-wrap .sightsee-slide-nav .item a {display: block; height: 100%; border:3px solid #acacac;  margin: 0 10px;}
.sightsee-slide-nav-wrap .sightsee-slide-nav .item img {height: 100%; width: 100%;}

.sightsee-slide-nav-wrap .arrow {position:absolute; top:40px;}
.sightsee-slide-nav-wrap .arrow button {}
.sightsee-slide-nav-wrap .arrow button i {font-size: 50px; color:#fff;}
.sightsee-slide-nav-wrap .arrow.prev {left:25%;}
.sightsee-slide-nav-wrap .arrow.next {right:25%;}





/*교통정보*/
.sightsee-title-2 {width:100%; margin-bottom: 20px; font-size: 25px; font-weight: 500; color:#333;}

.sigthsee-iner-traffic {width:100%; margin-bottom: 50px; background-color:#fff; padding:50px 48px 45px; box-shadow: 5px 5px 5px rgba(0,0,0,0.1);}
.sigthsee-iner-traffic .map-box {margin-bottom: 32px;}
.sigthsee-iner-traffic .letter-box {}
.sigthsee-iner-traffic .letter-box h3 {font-size: 18px; font-weight: 500; color:#333; margin-bottom: 12px;}
.sigthsee-iner-traffic .letter-box .detail-box {width:100%;}
.sigthsee-iner-traffic .letter-box .detail-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sigthsee-iner-traffic .letter-box .detail-box .table-box {float:left; width:80%; padding-right:10px;}
.sigthsee-iner-traffic .letter-box .detail-box .btn-box {float:left; width:20%;}
.btn-traffic-go {width:100%; height: 157px; background-color:#918b73; text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;}
.btn-traffic-go .icon {display: block; }
.btn-traffic-go .text {display:block; padding-top:16px; font-size: 18px; font-weight: 500; color:#fff; }
.btn-traffic-go:hover {background-color:#6a634c;}

/*주변정보*/
.sigthsee-iner-around {width:100%; background:#fff; border:1px solid #ddd; overflow-y:scroll;}
.sigthsee-iner-around:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sigthsee-iner-around .item {float:left; width:50%; height: 160px; border-right:1px solid #ddd; border-top:1px solid #ddd;  border-bottom:1px solid #ddd; overflow: hidden; padding:17px 22px 13px; margin-top:-1px;}
.sigthsee-iner-around .item:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.sigthsee-iner-around .item:nth-of-type(1) {border-top:none;}
.sigthsee-iner-around .item:nth-of-type(2) {border-top:none;}
.sigthsee-iner-around .item .img-box {float:left; width:190px; height: 118px; }
.sigthsee-iner-around .item .letter-box {float:left; width:calc(100% - 190px); padding:10px 0 0 15px;}
.sigthsee-iner-around .item .letter-box h2 {font-size:18px; margin-bottom: 15px;}
.sigthsee-iner-around .item .letter-box .loca-txt {margin-bottom: 10px}
.sigthsee-iner-around .item .letter-box .loca-txt .one {display: inline-block; margin-left: 10px;}
.sigthsee-iner-around .item .letter-box .loca-txt .one:first-of-type {margin-left:0px;}
.sigthsee-iner-around .item .letter-box .loca-txt .one .icon {display: inline-block; vertical-align: middle;}
.sigthsee-iner-around .item .letter-box .loca-txt .one .icon i {font-size: 18px; color:#8bb4a2;}
.sigthsee-iner-around .item .letter-box .loca-txt .one .txt {display:inline-block; vertical-align: middle; font-size:13.5px; color:#555; margin-top: -2px;}
.sigthsee-iner-around .item .letter-box .btn-box {}
.btn-more-insi {min-width: 113px; height: 33px; border-radius: 5px; border:1px solid #888;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;}
.btn-more-insi:hover {background:#555; color:#fff;}

@media all and (max-width:1200px){
	/*윗 내용*/
	.sigthsee-iner-loca-box {height:auto; margin:0 0 20px;}
	.sigthsee-iner-loca-box .img-box {float:none; width:100%; height: 200px;}
	.sigthsee-iner-loca-box .img-box img {min-width: 100%; min-height: 100%;}

	.sigthsee-iner-loca-box .map-box {float:none; width:100%; height: 200px; overflow: hidden;}

	.sigthsee-iner-loca-box .loca-box {float:none; width:100%; padding:20px;}
	.sigthsee-iner-loca-box .loca-box .text-box1 {padding-bottom:15px;}
	.sigthsee-iner-loca-box .loca-box .text-box1 .one {margin-top:10px;}
	.sigthsee-iner-loca-box .loca-box .text-box1 .one .icon i {font-size:15px;}
	.sigthsee-iner-loca-box .loca-box .text-box1 .one p {font-size: 13px;}
	.sigthsee-iner-loca-box .loca-box .text-box2 {padding:10px 5px 0; font-size:13px; height: 105px;}
}

@media all and (max-width:999px){
	/* 관광명소 - 자세히 (팔영산) */
	.sightsee-Iner-content-wrap {padding:20px 0 20px;}

	/*타이틀*/
	.sigthsee-iner-title-box {margin: 0 0 15px;}
	.sigthsee-iner-title-box h2 {font-size:23px;}
	.sigthsee-iner-title-box .arrow {}
	.sigthsee-iner-title-box .arrow i {font-size:25px; margin-top: 0px;}


	/*컨텐츠내용*/
	.sigthsee-iner-content {margin:0 0 20px; }
	.sigthsee-iner-content h3 {font-size:15px; margin-bottom: 10px; }
	.sigthsee-iner-content p {font-size:13px;}

	/*슬라이드*/
	.sigthsee-iner-slide {margin-bottom: 20px;}
	/*슬라이드 - 내용*/
	.sightsee-slide-for {height: 300px;}
	.sightsee-slide-for .itme {height: 300px;}
	/*슬라이드 - 네비*/
	.sightsee-slide-nav-wrap {height: 90px; padding:20px 0 0;}
	.sightsee-slide-nav {display: inline-block; width: 75%;}
	.sightsee-slide-nav .item { height: 50px;}

	.sightsee-slide-nav-wrap .arrow {top:30px;}
	.sightsee-slide-nav-wrap .arrow button {}
	.sightsee-slide-nav-wrap .arrow button i {font-size: 25px;}
	.sightsee-slide-nav-wrap .arrow.prev {left:3%;}
	.sightsee-slide-nav-wrap .arrow.next {right:2%;}

	/*교통정보*/
	.sightsee-title-2 {margin-bottom: 10px; font-size: 18px;}

	.sigthsee-iner-traffic {margin-bottom: 20px; padding:20px;}
	.sigthsee-iner-traffic .map-box {margin-bottom: 15px;}
	.sigthsee-iner-traffic .letter-box {}
	.sigthsee-iner-traffic .letter-box h3 {font-size: 16px; margin-bottom: 5px;}
	.sigthsee-iner-traffic .letter-box .detail-box .table-box {float:none; width:100%; padding-right:0px;}
	.sigthsee-iner-traffic .letter-box .detail-box .btn-box {float:none; width:100%;}
	.btn-traffic-go {width:100%; height: 45px;}
	.btn-traffic-go .icon {display: inline-block; width:20px;}
	.btn-traffic-go .text {display:inline-block; padding:2px 0 0 10px; font-size: 13px;}

	/*주변정보*/
	.sigthsee-iner-around {height: 300px; }
	.sigthsee-iner-around .item {float:left; width:100%; height: auto; overflow: hidden; padding:10px 15px 9px;}
	.sigthsee-iner-around .item .img-box {float:left; width:140px; height: auto; }
	.sigthsee-iner-around .item .letter-box {float:left; width:calc(100% - 140px); padding:0px 0 0 10px;}
	.sigthsee-iner-around .item .letter-box h2 {font-size:14px; margin-bottom: 5px; font-weight: 500;}
	.sigthsee-iner-around .item .letter-box .loca-txt {margin-bottom: 5px;}
	.sigthsee-iner-around .item .letter-box .loca-txt .one {display: inline-block; margin-left: 0px; width: 95%;}
	.sigthsee-iner-around .item .letter-box .loca-txt .one .icon i {font-size: 15px;}
	.sigthsee-iner-around .item .letter-box .loca-txt .one .txt {font-size:12px; }
	.sigthsee-iner-around .item .letter-box .btn-box {}
	.btn-more-insi {min-width: 113px; height: 25px; font-size: 12px;}
	.btn-more-insi:hover {background:#888; color:#fff;}


}






/* */

@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}


/* */


@media all and (max-width:999px){}

