@charset "utf-8";
/* CSS Document */

.inner1080 {width:1080px; margin:0 auto; position:relative;}
.inner1080:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

@media all and (max-width:1080px){	
	.inner1080 {width:100%;}
}
.blind{ display: none;}
/* 배너 */
.bannerTopWrap {width:100%; position:relative;}
.bannerImgBox {position:relative; width:100%;}
.bannerImgBox .imgBoxInner {width:100%; position:relative;}

.bannerImgBox .btnWrap {position:absolute;bottom: 0px;right:0;}
.bannerImgBox .btnWrap .bannerUpDownBox {float:right; margin-bottom:15px;}
.bannerImgBox .btnWrap .bannerUpDownBox .btnBox button {padding:5px 8px; background-color:#d7d7d7; margin-bottom:5px;}
.bannerImgBox .btnWrap .bannerUpDownBox .btnBox button svg {color:#fff !important; font-size:0.9em;}
.bannerImgBox .btnWrap .oneCloseBoxWrap {margin-bottom: 8px;font-size:12px;color:#666666;}

.bannerImgBox .btnWrap .playStopBox {margin-right:10px; display:inline-block; vertical-align:middle;}
.bannerImgBox .btnWrap .playStopBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.bannerImgBox .btnWrap .playStopBox .circleBox {display:inline-block; margin-right:5px;}
.bannerImgBox .btnWrap .playStopBox .circleBox a {margin:0 3px; height:5px; width:20px; display:inline-block; border:1px solid #999999;}
.bannerImgBox .btnWrap .playStopBox .circleBox a.active {background-color:#999;}
.bannerImgBox .btnWrap .playStopBox button {font-size:8px; color:#999; margin:0 3px; display:none;}

.bannerImgBox .btnWrap .oneCloseBox {display:inline-block; margin-bottom:10px; font-size:12px; color:#666666;}
.bannerImgBox .btnWrap .oneCloseBox svg {margin-left:5px;}
.bannerImgBox .btnWrap .oneCloseBox input[type=checkbox] {border:1px solid #ddd !important; background-color:#fff !important;}

@media all and (max-width:1200px){	
	.bannerImgBox {position:relative; width:100%;}
	.bannerImgBox .imgBoxInner {width:1186px; height:120px;  overflow:hidden;}
	.bannerImgBox .imgBoxInner img {width:1186px; height:120px;}	

}


@media all and (max-width:1050px){	
	.bannerImgBox .imgBoxInner img {transform:translateX(-10%);}	

}

@media all and (max-width:920px){	
	.bannerTopWrap {display:none;}	
}




/* 헤더 */

/*남색 헤더*/
.headTopWrap {width:100%;background-color:#2c3640;padding: 9px 0 9px;}
.headTopWrap .headerTopBtn {float:right; margin:4px 15px 0 0;}
.headTopWrap .headerTopBtn li {float:left;margin-left: 15px;position:relative;padding-left: 8px;}
.headTopWrap .headerTopBtn li:before {content:"";position:absolute;left:0;top: 11px;width: 2px;height: 2px;border-radius:50%;background-color:#fff;}
.headTopWrap .headerTopBtn li a {color:#fafafa; font-size:12px;}
.headTopWrap .searchBox_header {float:right; margin-right:10px;}
.headTopWrap .searchBox_header .txtSearchHeader {height:28px; width:195px; border:1px solid #aaa; background-color:#3b4651; color:#fff;}
.txtSearchHeader::-webkit-input-placeholder {color:#eee !important; font-weight:400;}
.txtSearchHeader:-ms-input-placeholder {color:#eee !important; font-weight:400;}
.headTopWrap .searchBox_header .btnSearchHeader {font-size:20px; color:#fff; vertical-align:middle; margin:0px 5px 0;}

/*하얀색 헤더*/
.headerMainWrap	{width:100%; position:relative;}
.headerMainWrap .inner1080 {padding:17px 0 13px; height:74px;}
.headerMainWrap	.logoBox {float:left;width: 25%;}

/*메인메뉴*/
.headerMainWrap	.menuBoxWrap {float:right;width: 75%;}
.mainMenuUl {width:100%; padding-top:16px;}
/* .mainMenuUl > li {float:left; width:13.66%; text-align:center; position:relative;} */
.mainMenuUl > li {float:left; width:16.66%; text-align:center; position:relative;}
.mainMenuUl > li > a {font-size:16px; font-weight:500; color:#333;}
.mainMenuUl > li:hover > a {color:#005aab; font-weight:bold;}
.mainMenuUl > li.active > a {color:#005aab; font-weight:bold;}

.mainSubMenuUl {position:absolute;top: 40px;left:0;z-index:3001;width:100%;padding:0 7px;border-right: 1px solid #ddd;height: 280px;}
.mainMenuUl > li:first-of-type .mainSubMenuUl {border-left: 1px solid #ddd;}
.mainSubMenuUl li {margin: 14px 0px;}
.mainSubMenuUl li a {font-size: 13.5px;word-break:keep-all;color:#666;}
.mainSubMenuUl li:hover a {color:#005aab; font-weight:500;}

.bgSubMenuWrap_01 {width:100%;border-top:1px solid #ddd;border-bottom:1px solid #005aab;background-color:#fff;position:absolute;top:73px;left:0;height: 280px;z-index:3000;}


/* 모바일 헤더 */
.headerMobileMain {display:none;}
.mobileMainMenuWrap {display:none;}

@media all and (max-width:920px){	
	.headTopWrap {display:none;}
	.headerMainWrap	{display:none;}
	
	.headerMobileMain {display:block;}
	
	
	/*모바일 헤더*/
	.headerMobileMain {width:100%; height:50px; padding:10px; position:relative; text-align:center;}
	.headerMobileMain .menuIcon {position:absolute;left: 16px;top: 10px;}
	.headerMobileMain .menuIcon button {font-size: 15px;color:#838486;border:1px solid #838486;padding: 4px 7px;}
	.headerMobileMain .logoBox {}
	.headerMobileMain .logoBox img {width:170px;}
	.headerMobileMain .searchIcon {position:absolute;right: 18px;top: 10px;}
	.headerMobileMain .searchIcon button {font-size: 20px;color:#838486;}
	
	.searchHeaderMobileWrap {width:100%; background-color:#fff; z-index:1000; position:absolute; top:50px; left:0; padding:10px; border-top:1px solid #ddd; display:none;}
	.searchMobileHeader {display:block; float:left; width:80%; height:32px;}
	.btnSearchMoHeader {display:block; float:left; width:10%; line-height:32px; font-size:18px; background-color:#005aab ; color:#fff;}
	.btnCloseSearchMoHeader {display:block; float:left; width:10%; line-height:32px; font-size:18px; background-color:#eee;}
	
	
	
	/* 모바일 메인 메뉴 */
	.mobileMainMenuWrap {display:none;}
	.mobileMainMenuWrap {height:100%; width:100%; position:absolute; top:0px; left:0; z-index:2000;}
	.mobileMainMenuWrap .mobileMenuBlackBox {width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
	.mobileMainMenuWrap .mobileMenuInnerWrap {height:100%;width: 85%;position:absolute;top:0;left:0;z-index:2050;background-color:#494c51;}
	.mobileMainMenuWrap .mobileMenuInnerWrap a {color:#fff;}
	.mobileMenuInnerWrap .closeBtn {position:absolute;top:10px;right: -12%;color:#fff;z-index:2051;}
	.mobileMenuInnerWrap .closeBtn svg {color:#fff; font-size:1.9em;}
	
	.mobileMenuInnerWrap .mobileOtherHomepageBox {padding:5% 7%; background-color:#58595b;}
	.mobileMenuInnerWrap .mobileOtherHomepageBox .otherPageUl {}
	.mobileMenuInnerWrap .mobileOtherHomepageBox .otherPageUl li {float:left; width:48%; margin-left:4%; padding:6px 0 8px; border:1px solid #717274; border-radius:5px; text-align:center;}
	.mobileMenuInnerWrap .mobileOtherHomepageBox .otherPageUl li a {font-size:12px;}
	.mobileMenuInnerWrap .mobileOtherHomepageBox .otherPageUl li:first-child {margin-left:0%;}
		
	.mobileMenuInnerWrap .mobieMainMenuBox {}
	.mobileMenuInnerWrap .mobileMaMenu {}
	.mobileMenuInnerWrap .mobileMaMenu li {}
	.mobileMenuInnerWrap .mobileMaMenu > li > a {display:block; width:100%; padding:12px 5px 10px 15px; border-bottom:1px solid #707173; font-size:14px;}
	.mobileMenuInnerWrap .mobileSubMenu {width:100%; background-color:#fff; display:none;}
	.mobileMenuInnerWrap .mobileSubMenu li {}
	.mobileMenuInnerWrap .mobileSubMenu li a {display:block; width:100%; padding:10px 5px 9px 20px; border-bottom:1px solid #ddd; color:#707173; font-size:12px;}
	
	
	
}



/* 170713 서브 프린터, 폰트크기 수정 */
.subRightContentsTopWrap {width:100%; margin:0 0 30px 0;}
.subRightContentsTopWrap .titleBox {padding:5px 0 5px; border-bottom:1px solid #aaaaaa; margin:0 0 7px 0;}
.subRightContentsTopWrap .titleBox h1 {font-size:26px; color:#222222; float:left;}
.subRightContentsTopWrap .titleBox .printBox {float:right; margin:10px 0 0;}
.printBox {position: absolute; right: 0;}
.printBox .text_size {display:inline-block;}
.printBox .text_size:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.printBox .text_size li {float:left;}
/* .printBox .text_size li:last-of-type {margin-top:-2px;} */
.printBox .text_size .text_print {margin-right:10px; }
.printBox .text_size .text_print a {display:block; }
.printBox .text_size .text_increase a {display:block;}
.printBox .text_size .text_decrease a {display:block; }
@media all and (max-width:920px){	
	.printBox {position: absolute; right: 13px;}
}




/* 푸터 */

.footer_Wrap {width:100%; background-color:#252525;}
.footer_Wrap .inner1080 {padding:34px 0 29px;color:#a7a9ac;}

.footer_Wrap .footerSnsBox {float:right; padding-left:16px; text-align:right;}
.footer_Wrap .footerSnsBox .footerSnsUl {margin:0 15px 0 0; display:inline-block; vertical-align:middle;}
.footer_Wrap .footerSnsBox .footerSnsUl li {float:left; margin:0 15px;}
.footer_Wrap .footerSnsBox .footerSnsUl li:last-of-type {margin-right:0;}
.footer_Wrap .footerSnsBox .footerSnsUl li a {color:#a7a9ac; font-size:21px;}
.footer_Wrap .footerSnsBox .footerSiteGoBox {display:inline-block;}
.footer_Wrap .footerSnsBox .footerSiteGoBox select {background-color:#252525; color:#d7d7d7; border:1px solid #d7d7d7; min-width:190px; height:28px; margin-right:3px; vertical-align:middle;}
.footer_Wrap .footerSnsBox .footerSiteGoBox .btnFooterWebGo {background-color:#d7d7d7; color:#252525; height:28px; width:54px; text-align:center; font-weight:500; vertical-align:middle;}

.footer_Wrap .footerAddBox {float:left;}
.footer_Wrap .footerAddBox .footerMenuUl {margin-bottom:16px;}
.footer_Wrap .footerAddBox .footerMenuUl li {float:left;position:relative;padding: 0 9px 0 8px;}
.footer_Wrap .footerAddBox .footerMenuUl li:first-of-type {padding-left:0;}
.footer_Wrap .footerAddBox .footerMenuUl li:before {content:"";position:absolute;right:0;top: 4px;width:1px;height: 13px;background-color:#a7a9ac;}
.footer_Wrap .footerAddBox .footerMenuUl li:last-of-type:before {width:0px;}
.footer_Wrap .footerAddBox .footerMenuUl li a {font-size:15px; color:#a7a9ac; font-weight:500;}
.footer_Wrap .footerAddBox .addressBox {}
.footer_Wrap .footerAddBox .addressBox address {}
.footer_Wrap .footerAddBox .addressBox address p {color:#a7a9ac; font-size:14px; margin-bottom:11px;}
.footer_Wrap .footerAddBox .addressBox address p.copy {font-size:11px; font-weight:500;}
.footer_Wrap .footerAddBox .addressBox address p:last-of-type {margin-bottom:0px;}

.footerScrollUp {position:absolute;top:0;right: -100px;background-color:#0e0f11;color:#fff;}
.footerScrollUp button {color:#fff;padding: 14px 20px;}
.footerScrollUp button svg {font-size: 35px;}

.footerSiteMobileWrap {display:none;}



@media all and (max-width:1080px){	
	.footer_Wrap {padding:0 10px;}
}

@media all and (max-width:920px){	

	.footer_Wrap {padding:0 0px;}
	.footer_Wrap .inner1080 {padding:25px 10px 30px;}

		
	.footer_Wrap .footerSnsBox {float:none; width:100%; text-align:center; margin-bottom:20px;}
	.footer_Wrap .footerSnsBox .footerSnsUl {margin-bottom:0px; float:none; display:inline-block;}
	.footer_Wrap .footerSnsBox .footerSnsUl li a {font-size:17px;}
	.footer_Wrap .footerSnsBox .footerSiteGoBox { display:none;}
	
	.footer_Wrap .footerAddBox {float:none; width:100%;}
	.footer_Wrap .footerAddBox .footerMenuUl {margin-bottom:15px;}
	.footer_Wrap .footerAddBox .footerMenuUl li a {font-size:14px;}
	.footer_Wrap .footerAddBox .addressBox {}
	.footer_Wrap .footerAddBox .addressBox address {}
	.footer_Wrap .footerAddBox .addressBox address p {color:#a7a9ac; font-size:13px; margin-bottom:0px; line-height:1.5; word-break:keep-all;}
	.footer_Wrap .footerAddBox .addressBox address p.copy {font-size:11px; font-weight:500;}
	.footer_Wrap .footerAddBox .addressBox address p:last-of-type {margin-top:10px;}
	
	.footerScrollUp {display:none;}
	
	/*모바일 관련사이트*/
	.footerSiteMobileWrap {display:block;}
	.footerSiteMobileWrap .titleBox {width:100%;}
	.footerSiteMobileWrap .titleBox a {display:block; color:#fff; font-size:14px; padding:10px; background-color:#0e0e10; position:relative;}
	.footerSiteMobileWrap .titleBox a:before {content:"\002B"; position:absolute; right:15px; top:10px; color:#fff; font-size:1.2em;}
	.footerSiteMobileWrap .titleBox a.active:before {content:"\2212";}
	
	.footerSiteMobileWrap .contentBox {width:100%; background-color:#eee; padding:13px 18px; display:none;}
	.footerSiteMobileWrap .contentBox ul {width:100%;}
	.footerSiteMobileWrap .contentBox ul li {float:left; width:49%; margin:1% 0.5%;}
	.footerSiteMobileWrap .contentBox ul li:nth-of-type(2n-1) {clear:both;}
	.footerSiteMobileWrap .contentBox ul li a {font-size:12px; }
	

}



/* 탭부분 */
.subTabWrap {width:100%; text-align:center;}
.subTabWrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.subTabUl {display:inline-block; margin-bottom:30px;}
.subTabUl:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.subTabUl li {float:left; background-color:#fff; border:1px solid #d6d7d7; padding:10px 5px; margin-left:-1px;}
.subTabUl li a {font-size:15px; color:#444;}
.subTabUl li.active {background-color:#105baa; border-color:#105baa;}
.subTabUl li.active a {color:#fff;}


@media all and (max-width:920px){	
	
	.subTabUl {display:inline-block; margin-bottom:15px; width:100%;}
	.subTabUl:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
	.subTabUl li {float:left; width:50% !important; margin-top:-1px; padding:5px;}
	.subTabUl li a {font-size:13px; line-height:1.1;}
	.subTabUl li.active {background-color:#105baa; border-color:#105baa;}
	.subTabUl li.active a {color:#fff;}
	
}



/* 팝업 레이아웃 */
.requestPopUp {width:720px; border:1px solid #eee; border-top:7px solid #005aab; position:fixed; top:20%; left:30%; background-color:#fff; box-shadow:3px 3px 5px rgba(50,50,50,0.2); z-index:2000; padding:20px 40px; }
.requestPopUp .inner {}
.requestPopUp .titleBox {padding-top:30px; margin-bottom:20px;}
.requestPopUp .titleBox .imgBox {float:right; padding-top:20px;}
.requestPopUp .titleBox .letterBox {float:left; width:calc(100% - 90px); padding-right:20px;  user-select: none;}
.requestPopUp .titleBox .letterBox h2 {font-size:30px; font-weight:bold; color:#444; margin-bottom:7px;}
.requestPopUp .titleBox .letterBox h4 {font-size:16px; font-weight:500; color:#666; margin-bottom:0px;}
.requestPopUp .titleBox .letterBox h3 {font-size:20px; font-weight:500; color:#005aab; margin-bottom:5px;}
.requestPopUp .titleBox .letterBox p {font-size:14px; font-weight:400; color:#666; text-align:justify;}

.requestPopUp .popUpTitleBox {margin:30px 0 10px;}
.requestPopUp .popUpTitleBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.requestPopUp .popUpTitleBox:first-of-type {margin-top:0px;}
.requestPopUp .popUpTitleBox h3 {float:left; font-size:17px; font-weight:500; color:#005aab;}
.requestPopUp .popUpTitleBox .btnMoreMinusBox {float:right;}

.btnMoreMinus {font-size:12px; font-weight:500; padding:3px 10px; border:1px solid #005aab; border-radius:20px; margin:0 3px; color:#666;}
.btnMoreMinus:hover {background-color:#005aab; color:#fff;}

.btnSearch_01 {height:30px; background-color:#f2f2f2; color:#444; font-size:13px; padding:5px 10px;}

.popUpInputWrap {width:100%;}
.expert_table1 {width:100%; vertical-align:middle;}
.expert_table1 tr {border-top:1px solid #e8e8e8;}
.expert_table1 tr:first-of-type {border-top:1px solid #bbbbbb;}
.expert_table1 tr:last-of-type {border-bottom:1px solid #bbbbbb;}

.expert_table1 th {padding:7px; font-size:15px; font-weight:500;}
.expert_table1 th span {color:#2167b0; font-size:0.9em;}
.expert_table1 th label {font-size:14px; font-weight:500;}
.expert_table1 td {padding:7px; font-size:14px;}

.normal_01 {font-size:13px; color:#888888; margin-top:5px;}

.txtPopSelect {height:30px; border:1px solid #cfcfcf ;}
.txtPopDefault {height:30px; border:1px solid #cfcfcf;}
.txtSizeS_1 {width:130px;}
.txtSizeL_1 {width:100%;}
.txtSizeL_2 {width:80%;}

.txtSizeMo100 {width:auto;}

.requestPopUp .confirmBox {width:100%; margin:20px 0 20px;}
.requestPopUp .confirmBox .contentBox_01 {width:100%; height:150px; border:1px solid #ddd; padding:20px; font-size:13px; font-weight:400; color:#888; overflow-y:scroll; line-height:1.5;}
.requestPopUp .confirmBox .confirmInnerBox {margin-top:10px;}
.requestPopUp .confirmBox .confirmInnerBox label {font-size:14px;}


.requestPopUp .btnBox {padding:20px 0 10px; text-align:center;}
.requestPopUp .btnBox_02 {padding:15px 0 10px; border-top:1px solid #ddd; text-align:center; margin-top:20px;}

.requestPopUp .titleBox2 {padding:5px 0 20px;;}
.requestPopUp .titleBox2 h2 {font-size:30px; font-weight:bold; letter-spacing:-1px;}

.requestPopUp .contentBox, .requestPopUp .contentBox_01 { user-select: none;}
.requestPopUp .contentBox p {font-size:14px; color:#666; font-weight:400;}

.requestPopUp .contentBox .upContent {font-size:15px; color:#666; font-weight:500; margin-bottom:10px;}

.requestPopUp .contentBox .normal {margin:12px 0;}
.requestPopUp .contentBox h2 {font-size:16px; font-weight:500; color:#005aab; margin:15px 0;}

.requestPopUp .contentBox .numPara {margin:10px 0 5px;}
.requestPopUp .contentBox .numInnerPara {margin:5px 0 15px; padding-left:10px;}

.requestPopUp .contentBox .askPara {font-size:17px; font-weight:500; color:#005aad;}
.requestPopUp .contentBox .askPara .btnSiteGo {border:1px solid #aaaaaa; padding:4px 13px; font-size:16px; font-weight:500; margin-left:10px;}
.requestPopUp .contentBox .askPara .btnSiteGo:hover {background-color:#aaaaaa; color:#fff;}


/*뉴스레터신청*/
.newsletterServiceWrap {display:none; padding:20px 80px; top:15%; left:calc(50% - 360px);}


/*전문가 디비 등록 */
.masterDBRegisterWrap {top:0; height:80%; top:10%; overflow-y:scroll; width:800px; left:28%; display:none; padding:20px 80px;}
.masterDBRegisterWrap .inner {height:100%;}


/*개인정보 보호정책*/
.popUpPrivacyWrap {top:0; height:80%; top:10%; overflow-y:scroll; display:none;}


/*이메일무단수집거부*/
.popUpPrivacyEmailWrap {display:none;}


/*저작권정책*/
.popUpCopyrightWrap {display:none;}
.popUpCopyrightWrap .grayCopyBox_01 {padding:10px; background-color:#e8e8e8; font-size:17px; font-weight:bold; color:#444444; text-align:center; margin:15px 0;}
.popUpCopyrightWrap .grayCopyBox_01 img {margin-left:5px;;}


@media all and (max-width:920px){
		
	
	/* 팝업 레이아웃 */
	.requestPopUp {width:90%; border-top:5px solid #005aab; position:fixed; top:5%; height:90%; left:5%; padding:20px 20px; overflow-y:scroll;}
	.requestPopUp .inner {height:100%;}
	.requestPopUp .titleBox {padding-top:10px; margin-bottom:10px;}
	.requestPopUp .titleBox .imgBox {float:none; width:100%; padding:0px 5px 20px; text-align:center;}
	.requestPopUp .titleBox .letterBox {float:none; width:100%;  padding-right:0px;}
	.requestPopUp .titleBox .letterBox h2 {font-size:20px; margin-bottom:5px;}
	.requestPopUp .titleBox .letterBox h4 {font-size:16px;}
	.requestPopUp .titleBox .letterBox h3 {font-size:14px;}
		
	.expert_table1 th {display:block; width:100%; font-size:13px; background-color:#f8f8f8;}
	.expert_table1 th label {font-size:13px;}
	.expert_table1 td {display:block; width:100%; font-size:13px; text-align:center;}
	
	.normal_01 {font-size:12px; margin-top:5px;}
	
	.txtPopSelect {margin:3px 0px;}
	.txtPopDefault {margin:3px 0;}
	
	.txtSizeS_1 {width:100%;}
	.txtSizeL_1 {width:100%;}
	.txtSizeL_2 {width:100%;}
	.txtSizeMo100 {width:100% !important;}
	
	.txtEmail90 {width:90%;}
	
	.requestPopUp .btnBox {padding:20px 0 10px; text-align:center;}
	
	.requestPopUp .btnBox_02 {padding:15px 0 10px; border-top:1px solid #ddd; text-align:center; margin-top:20px;}
	
	.requestPopUp .titleBox2 {padding-bottom:5px 0 10px;;}
	.requestPopUp .titleBox2 h2 {font-size:20px; letter-spacing:-0.5px;}
	
	.requestPopUp .contentBox {}
	.requestPopUp .contentBox p {font-size:13px;}
	
	.requestPopUp .contentBox .upContent {font-size:14px;}
	
	.requestPopUp .contentBox h2 {font-size:15px;}

	.requestPopUp .contentBox .askPara {font-size:15px;}
	.requestPopUp .contentBox .askPara .btnSiteGo {display:block; font-size:15px; margin:10px 0 0; text-align:center;}
	.requestPopUp .contentBox .askPara .btnSiteGo:hover {background-color:#aaaaaa; color:#fff ;}
	
	
	/*이메일무단수집거부*/
	.popUpPrivacyEmailWrap {height:50%; top:25%;}
	
	
	/*저작권정책*/
	.popUpCopyrightWrap {}
	.popUpCopyrightWrap .grayCopyBox_01 {padding:10px; font-size:14px; margin:10px 0;}
	.popUpCopyrightWrap .grayCopyBox_01 img {margin-left:5px; width:90px;}

	.requestPopUp .confirmBox {width:100%; margin:20px 0;}
	.requestPopUp .confirmBox .contentBox_01 {font-size:12px; height:120px;}
	.requestPopUp .confirmBox .confirmInnerBox label {font-size:13px;}
		
}





/* 테이블 */
.tbl_normal {width:100%; vertical-align:middle; position:relative; text-align:center;}
.tbl_normal:before {content:""; position:absolute; left:0; top:-1px; width:2px; height:calc(100% + 1px); background-color:#fff;}
.tbl_normal thead tr:first-of-type {border-top:2px solid #105baa;}
.tbl_normal tr {border-bottom:1px solid #ddd;}
.tbl_normal th {padding:12px 5px; border-left:1px solid #ddd; font-size:15px; font-weight:500; background-color:#f5f6f7;}
.tbl_normal td {padding:12px 5px; border-left:1px solid #ddd; font-size:15px;}
.tbl_normal .text_left {padding-left:15px; padding-right:15px; text-align:left;}

.btnBoard_01 {min-width:113px; padding:8px 5px; border:1px solid #105baa; text-align:center; color:#444; font-weight:500; font-size:15px; border-radius:30px; margin:0 5px;}
.btnBoard_01:hover {border:1px solid #105baa; background-color:#105baa; color:#fff;}


/* innerTop */
.subContentTopWrap {width:100%; margin-bottom:30px;}

.subContentTopWrap .subConBottomOfTop {width:100%; padding-top:10px; text-align:right; overflow:hidden;}
.subContentTopWrap .subConBottomOfTop:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.subContentTopWrap .subConBottomOfTop .subNavUl_01 {display:inline-block; vertical-align:middle;}
.subContentTopWrap .subConBottomOfTop .subNavUl_01:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.subContentTopWrap .subConBottomOfTop .subNavUl_01 li {float:left; padding-right:18px; position:relative; font-size:14px; color:#888888;}
.subContentTopWrap .subConBottomOfTop .subNavUl_01 li:last-child {padding-right:0px;}
.subContentTopWrap .subConBottomOfTop .subNavUl_01 li:after {content:"\276F"; position:absolute; right:5px; top:0; color:#999;}
.subContentTopWrap .subConBottomOfTop .subNavUl_01 li:last-child:after {content:"";}
.subContentTopWrap .subConBottomOfTop .subNavUl_01 li.active {color:#0d4e96; font-weight:500;}


.snsSubTitle {display:inline-block; vertical-align:middle; margin:0 10px 0 10px;}
.snsSubTitle button {font-size:20px; color:#888;}

.subSnsBtnBox {display:inline-block; vertical-align:middle; overflow:hidden; margin-right:-110px;}
.subSnsBtnBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.subSnsBtnBox li {float:left; margin:0 5px;}
.subSnsBtnBox li .subSnsIconBox {display:block; width:26px; height:25px; background:url(/resources/jcia/img/icon/icon_subTopSnsBtn.png) no-repeat 0 0; background-size:79px;}
.subSnsBtnBox li .facebook {background-position:0 0;}
.subSnsBtnBox li .twitter {background-position:-26px 0;}
.subSnsBtnBox li .blog {background-position:-52px 0;}




/* 서브타이틀 */
.subTopTitleBox {}
.subTopTitleBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.subTopTitleBox h2 {text-align:center; font-size:42px; color:#444444; margin:28px 0 60px;} /* 큰 타이틀 */
.subTopTitleBox h3 {text-align:left; font-size:34px; color:#444444; margin:28px 0 18px;} /* 작은 타이틀 */



/* 사이트맵 */
.subTitle_SiteMap {text-align:center; font-size:17px; margin-bottom:21px;}

.siteMapWrap {width:100%;}
.siteMapWrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.siteMapWrap .col {float:left; width:16.66%; padding:0 1.5%;}
.siteMapWrap .col h2 {font-size:20px; font-weight:500; color:#555; padding:10px 5px 15px; border-bottom:2px solid #005daa; text-align:center; margin-bottom:10px;}
.siteMapWrap .col .mainSiteMap {width:100%;}
.siteMapWrap .col .mainSiteMap > li {border-bottom:1px dotted #bbb; padding:16px 5px 16px 15px; line-height:1.4;}
.siteMapWrap .col .mainSiteMap > li:last-of-type {border-bottom:none;}
.siteMapWrap .col .mainSiteMap > li > a {font-size:18px; word-break:keep-all; color:#777;}
.siteMapWrap .col .mainSiteMap > li:hover > a {font-weight:500; color:#444;}
.siteMapWrap .col .mainSiteMap > li .subSiteMap {width:100%; padding-left:5px; margin-top:10px; display:none;}
.siteMapWrap .col .mainSiteMap > li .subSiteMap li {position:relative; padding-left:13px; margin:10px 0;}
.siteMapWrap .col .mainSiteMap > li .subSiteMap li:last-of-type {margin-bottom:0;}
.siteMapWrap .col .mainSiteMap > li .subSiteMap li:before {content:""; position:absolute; left:0; top:9px; width:4px; height:4px; border-radius:50%; background-color:#444;}
.siteMapWrap .col .mainSiteMap > li .subSiteMap li a {font-size:15px; color:#999; word-break:keep-all;}
.siteMapWrap .col .mainSiteMap > li .subSiteMap li:hover a {font-weight:500; color:#666;}




@media all and (max-width:920px){
	
	/* 사이트맵 */
	.subTitle_SiteMap {font-size:14px; margin-bottom:20px;}
	
	.siteMapWrap .col {float:none; width:100%; padding:0 2%; margin-bottom:20px;}
	.siteMapWrap .col h2 {font-size:16px; padding:7px 5px 8px; }
	.siteMapWrap .col .mainSiteMap > li {padding:10px 5px 10px 10px;}
	.siteMapWrap .col .mainSiteMap > li > a {font-size:15px;}
	.siteMapWrap .col .mainSiteMap > li .subSiteMap {width:100%; padding-left:5px; margin-top:10px;}
	.siteMapWrap .col .mainSiteMap > li .subSiteMap li {position:relative; padding-left:13px; margin:10px 0;}
	.siteMapWrap .col .mainSiteMap > li .subSiteMap li:before {top:7px; width:3px; height:3px; top:11px;}
	.siteMapWrap .col .mainSiteMap > li .subSiteMap li a {font-size:13px;}

}


























































