@charset "utf-8";
/* CSS Document */

.researchTr:first-of-type .removeBtn{display: none;}

/*  메인 슬라이드  */
.mainSlideWrap {width:100%; margin-bottom:12px;}
.mainSlideWrap .inner1080 {}

.slideLetterBox {position:absolute;top: 13%;left:0;width:100%;z-index:800;text-align:center;}
.slideLetterBox h2 {margin: 70px 0 13px;color: #fff;/* font-family: 'Nanum Myeongjo', serif; */font-size: 35px;line-height: 1.2;font-weight: 500;letter-spacing: -2px;text-shadow: 1px 1px 5px rgba(0,0,0,0.5);} /*명조 regular : 400; bold : 700; extra-bold : 800 */

.slideLetterBox .btnBoxWrap {width:70%;margin: 0 auto 13px;text-align:center;}
.slideLetterBox .btnBoxWrap button {font-size:20px; color:#fff; font-weight:500;}
.slideLetterBox .btnBoxWrap .innerLine {display:inline-block;width:80%;margin:0 10px;position:relative;height:  20px;vertical-align:  middle;}
.slideLetterBox .btnBoxWrap .innerLine:before {content:""; width:100%; height:1px; background-color:#fff; position:absolute; top:40%; left:0;} /*중간 선*/

.slideLetterBox .btnBoxWrap .innerLine .circle_1 {position:absolute; top:0; width:17px; height:17px; border-radius:50%; background-color:#fff;}
.slideLetterBox .btnBoxWrap .innerLine .redOne {background-color:#ff0000; width:23px; height:23px;}

.slideLetterBox .btnBoxWrap .innerLine .leftOne {left:0;}
.slideLetterBox .btnBoxWrap .innerLine .middleOne {left:48.5%; top:-3px;}
.slideLetterBox .btnBoxWrap .innerLine .rightOne {right:0;}

.slideLetterBox h4 {margin-top:10px;color:#fff;/* font-family: 'Nanum Myeongjo', serif; */font-size: 19px;line-height:1.3;font-weight: 500;letter-spacing: -1.5px;height: 23px;text-shadow: 1px 1px 5px rgba(0,0,0,0.5);}

.mainSlidePagerBox {width:100%; text-align:center; margin-top:5px;}
.mainSlidePagerBox .mainSlidePagerUl {display:inline-block;}
.mainSlidePagerBox .mainSlidePagerUl:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.mainSlidePagerBox .mainSlidePagerUl li {float:left; margin:0 3px;}
.mainSlidePagerBox .mainSlidePagerUl li a {display:block;width: 15px;height: 15px;border-radius:50%;border: 2px solid #fff;}
.mainSlidePagerBox .mainSlidePagerUl li a.active {background-color:#fff;}

.mainSlideImgBox {position:relative;}

.mobileSlideLetterBox {display:none;}


@media all and (max-width:1000px){	
	.slideLetterBox h2 {margin-top: 45px;}
	.slideLetterBox .btnBoxWrap .innerLine {width:74%;}
}

@media all and (max-width:920px){	
	.slideLetterBox {display:none;}
	.mainSlideWrap {width:100%; margin-bottom:0px;}
	.mainSlideWrap .bx-wrapper {
	  height: 170px; //Just choose your height
	  display: block;
	  overflow: hidden;
	 }
	.mainSlideUl_01 img {height:170px; width: 100%;display: inline;}
	
	/*모바일 글씨*/
	.mobileSlideLetterBox {display:block; position:absolute; bottom:0; left:0; width:100%; z-index:1001; background-color:rgba(0,0,0,0.7); padding:5px 5px 7px;}
	.mobileSlideLetterBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
	.mobileSlideLetterBox .subjectBox {float:left; width:81%; padding:0 5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:14px; color:#fff; margin-top:5px;}
	.mobileSlideLetterBox .btnBox {float:left; width:19%; text-align:center;}
	
	.mobileSlideLetterBox .btnBox button {color:#fff; font-size:15px; margin:0 3px; vertical-align:middle;}	
	.mobileSlideLetterBox .btnBox button.mobileSlideBtnPrev {font-size:1.3em;}	
	.mobileSlideLetterBox .btnBox button.mobileSlideBtnNext {font-size:1.3em;}
}

@media all and (max-width:500px){	

	.mainSlideWrap .bx-wrapper {
	  height: 170px; //Just choose your height
	  display: block;
	  overflow: hidden;
	 }
	.mainSlideUl_01 img {height:170px;max-width: 500px !important; width:500px; display: inline;}

}

@media all and (max-width:380px){	


}

.emptyContent{text-align: center;}
.emptyContent .content{padding: 3%; border-bottom: 1px solid #ddd;}

/*  메인 컨텐츠 가운데 */
.mainContents01Wrap {width:100%;}
.mainContents01Wrap .inner1080 {}

/*가운데 네모*/
.mainContenMiddleUpWrap {width:100%; margin-bottom:11px;}
.mainContenMiddleUpWrap .row_1 {width:100%; height:200px;}
.mainContenMiddleUpWrap .row_1:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.mainContenMiddleUpWrap .row_1 .box01 {float:left; width:33.334%; height:100%; position:relative;}
.mainContenMiddleUpWrap .row_1 .box01:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.mainContenMiddleUpWrap .upBox .boxSame {padding: 2% 5% 0 5%;background-color:#4b4f5b;color:#fff;}
.mainContenMiddleUpWrap .upBox .boxSame h2 {font-size:22px; font-weight:500; color:#fff; margin-bottom:8px;}
.mainContenMiddleUpWrap .upBox .boxSame h5 {font-size:18px; color:#fff; letter-spacing:0;}

.mainContenMiddleUpWrap .majorBusi {background-color:#005aab !important;}
.mainContenMiddleUpWrap .majorBusi .btnBox {margin-top:13px;width: 178px;border:1px solid #fff;font-size:14px;padding:7px 10px;color:#fff;font-weight:400;}

.mainContenMiddleUpWrap .row4menu {float:left;}
.mainContenMiddleUpWrap .row4menu .mainMiddleContentUl_01 {width:100%; height:100%; border:1px solid #ddd; border-bottom:none;}
.mainMiddleContentUl_01 li {float:left; width:50%; height:50%; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:18px 5% 15px;}
.mainMiddleContentUl_01 li:nth-of-type(2n) {border-right:none;}
.mainMiddleContentUl_01 li:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.mainMiddleContentUl_01 li .iconBox {float:left; width:67px; height:65px; background:url(/resources/jcia/img/icon/icon_main_content_1.png) no-repeat 0 0px;}
.mainMiddleContentUl_01 li .icon01 {background-position:0px 0;}
.mainMiddleContentUl_01 li .icon02 {background-position:-67px 0;}
.mainMiddleContentUl_01 li .icon03 {background-position:-134px 0;}
.mainMiddleContentUl_01 li .icon04 {background-position:-201px 0;}
.mainMiddleContentUl_01 li .letterBox {float:left; padding-left:10px; position:relative; height:100%; width:50%;}
.mainMiddleContentUl_01 li .letterBox h4 {font-size:16px; font-weight:500; color:#333; position:absolute; top:50%; transform:translateY(-50%); width:100%;}

.mainMiddleContentUl_01 li.newsLatterBox {width:100%; border-right:none; padding:18px 5% 15px 8%;}
.mainMiddleContentUl_01 li.newsLatterBox .iconBox {}
.mainMiddleContentUl_01 li.newsLatterBox .letterBox {padding-left:30px; width:calc(100% - 67px); text-align:center;}
.mainMiddleContentUl_01 li.newsLatterBox .letterBox h3 {font-size:23px; font-weight:500; margin-bottom:5px;}
.mainMiddleContentUl_01 li.newsLatterBox .letterBox .newsLetterRequestBtn {display:block; width:100%; padding:5px; border:3px solid #eeeeee; font-size:14px;}
.mainMiddleContentUl_01 li.newsLatterBox .letterBox .newsLetterRequestBtn:hover {background-color:#f79858; border-color:#f79858; color:#fff; font-weight:500;}

.mainContenMiddleUpWrap .comeHow {float:right !important;}
.mainContenMiddleUpWrap .comeHow .iconBox {float:right;}


.mainContenMiddleUpWrap .menuArrowBox {background-color:#f3f3f5; text-align:center; padding:11px 0;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 {display:inline-block; width:70%;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 li {width:100%; text-align:left; border-top:1px solid #dddddd; position:relative;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 li:before {content:'\25B6'; position:absolute; right:15px; top:8px; color:#aaa; font-size:14px;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 li:first-of-type {border-top:none;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 li a {display:block; padding:8px 15px; font-size:15px; font-weight:500; color:#444; position:relative;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 li:hover a {color:#f79858;}
.mainContenMiddleUpWrap .menuArrowBox .mainMiddleContentUl_02 li:hover:before {color:#f79858;}

.mainContenMiddleUpWrap .row2menu {}
.mainContenMiddleUpWrap .row2menu .one_1 {width:50%;float:left;background-color:#f79858;height:100%;padding: 5% 10.5%; position:relative;}
.mainContenMiddleUpWrap .row2menu .one_1:before {content:''; width:25px; height:25px; background-color:#f79858; position:absolute; left:-12px; top:calc(50% - 12px); transform:rotate(45deg);}
.mainContenMiddleUpWrap .row2menu .one_1 h2 {font-size:21px;font-weight:500;color:#fff;margin-bottom: 8px;}
.mainContenMiddleUpWrap .row2menu .one_1 h5 {font-size:17px;color:#fff;font-weight:500;margin-bottom: 18px;}
.mainContenMiddleUpWrap .row2menu .one_1 .iconBox {}

.mainContenMiddleUpWrap .row2menu .orangeBg {background-color:#f79858; text-align:right;}
.mainContenMiddleUpWrap .row2menu .orangeBg:before {left:-12px; background-color:#f79858;}
.mainContenMiddleUpWrap .row2menu .brownBg {background-color:#b5ab92; text-align:left;}
.mainContenMiddleUpWrap .row2menu .brownBg:before {right:-12px; left:auto; background-color:#b5ab92; z-index:50;}

.mainContenMiddleUpWrap .menuWhitewBox {background-color:#f3f3f5; padding:2.8% 3% 1% 4%;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 {width:100%; margin-top: 15px;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li {float:left; width:100%; margin:0 1% 2% 1%; background-color:#fff; border:1px solid #999999;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li a {display:block; padding:7px 5px 6px 15px; font-size:15px; font-weight:500; position:relative;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li a:after {content:"GO \276F"; position:absolute; top:8px; right:15px; color:#999; font-size:13px;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li:hover {background-color:#b5ab92; border:1px solid #b5ab92;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li:hover a {color:#fff;}
.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li:hover a:after {color:#fff;}}

.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li.widthWide {width:98%;}

.mobileMainContent_01 {display:none;}



/*링크*/
.mainContentMiddleRinkWrap {width:100%; position:relative; margin-bottom:60px;}
.mainContentRinkUl {margin-bottom:10px;}
.mainContentRinkUl:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.mainContentRinkUl li {float:left;width: 32.66%;margin-left: 1%;background-color:#e1e1e1;background-image:url(/resources/jcia/img/icon/icon_mainBtnPattern_01.png);}
.mainContentRinkUl li:first-of-type {margin-left:0%;}
.mainContentRinkUl li a {padding: 8px 22px 9px 30px;display:block;}
.mainContentRinkUl li a:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.mainContentRinkUl li p {float:left; font-size:15px; font-weight:500; margin-top:10px;}
.mainContentRinkUl li a .btnBox {float:right; width:36px; height:36px; border-radius:50%; background-color:#fff; background-image:url(/resources/jcia/img/icon/icon_main_middleArrow_1.png); background-repeat:no-repeat; background-position: center center;}
.mainContentRinkUl li:hover a .btnBox {background-image:url(/resources/jcia/img/icon/icon_main_middleArrow_1_hover.png);}

.upRinkBox li:nth-of-type(2n-1) {background-color:#e6e6fe;}
.upRinkBox li:nth-of-type(2n) {background-color:#e1e1e1;}

.downRinkBox li:nth-of-type(2n-1) {background-color:#e1e1e1;}
.downRinkBox li:nth-of-type(2n) {background-color:#e6e6fe;}

.mouseIconWrap {position:absolute;right:-100px; display:none; bottom:58px; text-align:center;}
/* .mouseIconWrap {position:fixed; right:-100px; bottom:58px; text-align:center; top: 200px;display:none; } */
.mouseIconWrap h3 {font-size:15px; font-weight:500; margin-bottom:8px;}
.mouseIconWrap .iconWrap {width:65px; height:65px; border-radius:50%; border:1px solid #ddd; padding:4px;}
.mouseIconWrap .iconWrap a {display:block; width:100%; height:100%; border-radius:50%; border:1px solid #9c9ea1; text-align:center; overflow:hidden;}
.mouseIconWrap .iconWrap a .iconMouse {position:relative; top:5px;
        animation-duration:0.5s;
        animation-name:myani;
        animation-direction:alternate;
        animation-iteration-count:infinite;
}


@keyframes myani {
	0%{
		top:5px;
	}
	100% {
		top:15px;
	}
}



@media all and (max-width:1080px){				
	.mainContents01Wrap .inner1080 {padding:0 10px;}	
		
	.mainMiddleContentUl_01 li { padding:18px 2% 13px;}
	.mainMiddleContentUl_01 li .iconBox {width:60px; height:58px; background:url(/resources/jcia/img/icon/icon_main_content_1.png) no-repeat 0 0px; background-size:240px;}
	.mainMiddleContentUl_01 li .icon01 {background-position:0px 0;}
	.mainMiddleContentUl_01 li .icon02 {background-position:-60px 0;}
	.mainMiddleContentUl_01 li .icon03 {background-position:-120px 0;}
	.mainMiddleContentUl_01 li .icon04 {background-position:-180px 0;}
	.mainMiddleContentUl_01 li .letterBox {width:50%;}
	.mainMiddleContentUl_01 li .letterBox h4 {font-size:14px; position:relative; top:0; transform:none;}


	
	.mainContenMiddleUpWrap .row2menu .one_1 h2 {font-size:20px;}
	.mainContenMiddleUpWrap .row2menu .one_1 h5 {font-size:15px;}
	
	.mainContenMiddleUpWrap .menuWhitewBox {background-color:#f3f3f5; padding:2% 1.5% 1% 1.5%;}
	.mainContenMiddleUpWrap .menuWhitewBox .mainMiddleContentUl_03 li a {padding-left:10px; font-size:14px;}

	
}

@media all and (max-width:920px){	
	
	.mainContents01Wrap .inner1080 {padding:0 0px;}	
	
	.mainContentMiddleRinkWrap {display:none;}
	.mouseIconWrap {display:none;}
	
	
				
				
	/*가운데 네모 컨텐츠 윗박스 */
	
	.mainContenMiddleUpWrap {margin-bottom:0px;}
	.mainContenMiddleUpWrap .row_1 {height:auto;}
	.mainContenMiddleUpWrap .row_1 .box01 {float:none; width:100%; height:auto;}
	
	.mainContenMiddleUpWrap .upBox .boxSame {padding: 10px; background-color:#4b4f5b; color:#fff; position:relative;}
	.mainContenMiddleUpWrap .upBox .boxSame:before {content:'\276F';color:#fff;position:absolute;right: 15px;top: 8px;}
	.mainContenMiddleUpWrap .upBox .boxSame h2 {font-size:14px; font-weight:400; margin-bottom:0px;}
	.mainContenMiddleUpWrap .upBox .boxSame h5 {display:none;}
	
	.mainContenMiddleUpWrap .majorBusi {background-color:#005aab !important;}
	.mainContenMiddleUpWrap .majorBusi .btnBox {display:none;}
	
	.mainContenMiddleUpWrap .row4menu {float:none; width:100%; clear:both;}
	.mainContenMiddleUpWrap .row4menu .mainMiddleContentUl_01 {border:none; border-bottom:none;}
	.mainMiddleContentUl_01 li {float:left;width:50%;height:50%;border-bottom:none;border-right:none;padding: 4% 5% 3% 10%;}
	.mainMiddleContentUl_01 li:first-child {border-right: 1px solid #ddd;}
	.mainMiddleContentUl_01 li .iconBox {float:left; width:30px; height:33px; background-size:120px;}
	.mainMiddleContentUl_01 li .icon01 {background-position:0px 0;}
	.mainMiddleContentUl_01 li .icon02 {background-position:-30px 0;}
	.mainMiddleContentUl_01 li .icon03 {background-position:-60px 0;}
	.mainMiddleContentUl_01 li .icon04 {background-position:-90px 0;}
	.mainMiddleContentUl_01 li .letterBox {float:left; padding-left:10px; position:relative; height:100%; width:70%;}
	.mainMiddleContentUl_01 li .letterBox h4 {font-size:14px;}
	
	.mainContenMiddleUpWrap .comeHow {float:none !important; width:100%;}
	.mainContenMiddleUpWrap .comeHow .iconBox {display:none;}
	
	
	/*모바일 네모 컨텐츠*/	
	.mainContenMiddleUpWrap .downBox {display:none;}
	
	.mobileMainContent_01 {display:block;}
	.mobileMainContent_01 .title_01 {width:100%;}
	.mobileMainContent_01 .title_01 > a {display:block; font-size:14px; font-weight:400; color:#fff; padding: 10px; background-color:#4b4f5b; color:#fff; position:relative;}
	.mobileMainContent_01 .title_01 > a > svg {position:absolute; right:15px; top:8px; color:#fff; font-size: 22px;}
	.mobileMainContent_01 .title_01 > a.active > svg {transform:rotate(180deg);}
	
	.mobileMainContent_01 .contentBox {width:100%; padding:5px 15px; background-color:#f8f8f8;}
	.mobileMainContent_01 .contentBox ul {width:100%;}
	.mobileMainContent_01 .contentBox ul li {padding:5px 7px; border-top:1px solid #eee;}
	.mobileMainContent_01 .contentBox ul li:first-child {border-top:none;}
	.mobileMainContent_01 .contentBox ul li a {font-size:13px; color:#666;}
	
	.contactGuestTitle > a {background-color:#f79858 !important;}
	.buildingGuideTitle > a {background-color:#b5ab92 !important;}
	
	.mainMiddleContentUl_01 li.newsLatterBox {padding: 18px 7% 15px 15%; border-top: 1px solid #ddd;}
	.mainMiddleContentUl_01 li.newsLatterBox .iconBox {}
	.mainMiddleContentUl_01 li.newsLatterBox .letterBox {padding-left:30px; width:calc(100% - 30%); text-align:center;}
	.mainMiddleContentUl_01 li.newsLatterBox .letterBox h3 {font-size: 17px; margin-bottom:3px;}
	.mainMiddleContentUl_01 li.newsLatterBox .letterBox .newsLetterRequestBtn {padding: 3px; border:1px solid #eeeeee; font-size: 12px;}
	

	
	/*링크*/
	.mainContentRinkUl li {float:left; width:49%; margin-left:1%; background-color:#e1e1e1; background-image:url(/resources/jcia/img/icon/icon_mainBtnPattern_01.png);}
	.mainContentRinkUl li:nth-of-type(2n-1) {margin-left:0%;}
	
	.upRinkBox li:nth-of-type(2n-1) {background-color:#e6e6fe;}
	.upRinkBox li:nth-of-type(2n) {background-color:#e1e1e1;}
	
	.downRinkBox li:nth-of-type(2n-1) {background-color:#e1e1e1;}
	.downRinkBox li:nth-of-type(2n) {background-color:#e6e6fe;}
}




/*공지사항*/
.mainNoticeWrap {padding: 5px 0 50px;position:relative;}
.mainNoticeWrap .titleBox {text-align:center;margin-bottom: 9px;}
.mainNoticeWrap .titleBox h1 {font-size:30px; font-weight:500; color:#444; margin-bottom:5px;}
.mainNoticeWrap .titleBox h1 span {color:#005baa;}
.mainNoticeWrap .titleBox h5 {font-size:16px; color:#6d6e71;}

.noticeRealWrap {width:100%;}
.noticeRealWrap:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.noticeRealWrap .moreBtnBox {width:100%; text-align:right; margin-bottom:13px;}
.noticeRealWrap .moreBtnBox a {font-size:14px; font-weight:500;}
.noticeRealWrap .moreBtnBox a svg {color:#005aab; font-size:1.2em;}

.mainNoticeTabWrap {width:100%; border-top:1px solid #666; border-bottom:1px solid #666; padding:13px 0; position:relative;}
.mainNoticeTab {width:100%;}
.mainNoticeTab:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.mainNoticeTab li {float:left; width:25%; text-align:center; border-left:1px solid #d7d7d7;}
.mainNoticeTab li:first-of-type {border-left:none;}
.mainNoticeTab li a {display:block; font-size:16px; font-weight:500; color:#808285;}
.mainNoticeTab li.active a { font-weight:bold; color:#005baa;}

.btnNoticeSlideMobilePrev {display:none;}
.btnNoticeSlideMobileNext {display:none;}

.mainNoticeConWrap {width:100%;}
.mainNoticeConWrap .row {width:100%;/* border-bottom:1px solid #dddddd; *//* padding: 10px 0 12px; */}
.mainNoticeConWrap .row:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.mainNoticeConWrap .row .oneBox {float:left;width: 48%;padding:0 6px;margin: 0 1%;border-bottom: 1px solid #ddd;}
.mainNoticeConWrap .row .oneBox .dateBox {float:left;width:75px;height:68px;background-color:#f9fafc;margin-right:10px;text-align:center;padding-top: 5px;display: none;}
.mainNoticeConWrap .row .oneBox .dateBox h5 {font-size:14px; font-weight:500; color:#c8af5f;}
.mainNoticeConWrap .row .oneBox .dateBox h2 {font-size: 30px;font-weight:500;color:#c8af5f;}
.mainNoticeConWrap .row .oneBox .letterBox {float:left; width:100%; text-align:left; padding-top:0px; margin: 15px 0; position: relative;}
.mainNoticeConWrap .row .oneBox .letterBox .date {font-size: 13px;font-weight: 400;color: #b5ab92;margin-bottom:5px;position:absolute;top:1px;right:10px;}
.mainNoticeConWrap .row .oneBox .letterBox .title {font-size: 14px;font-weight: 700;color: #005baa;margin-bottom: 7px;}
.mainNoticeConWrap .row .oneBox .letterBox .content {font-size:15px; font-weight:500; color:#888; margin-bottom:4px;   overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.mainNoticeConWrap .row .oneBox .letterBox .attachment {font-size:14px; color:#888; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display: none;}




@media all and (max-width:920px){   
   .mainNoticeWrap {padding:25px 10px 30px;}
   .mainNoticeWrap .titleBox h1 {font-size:20px;}
   .mainNoticeWrap .titleBox h5 {font-size:14px;}
   
   .noticeRealWrap .moreBtnBox {display:none;}
   
   .mainNoticeTabWrap {padding:8px 0; position:relative;}
   .mainNoticeTab li {float:left; width:25%; border-left:none;}
   .mainNoticeTab li a {font-size:14px;}
   .mainNoticeTab li.active a { font-weight:bold; color:#005baa;}
   
   /*모바일 공지사항 슬라이드 버튼*/
   .btnNoticeSlideMobilePrev {display:block;position:absolute;top: 1px;left: 0px; font-size:20px;padding: 2px 10px 2px 15px;z-index: 200;}
   .btnNoticeSlideMobileNext {display:block; position:absolute; top:1px; right:0px; font-size:20px; padding: 2px 10px 2px 15px;z-index: 200;}
   
   
   .mainNoticeConWrap {}
   .mainNoticeConWrap .row {padding:0; display:none;}
   .mainNoticeConWrap .row:first-of-type {display:block;}
   
   .mainNoticeConWrap .row .oneBox {float:none; width:100%; padding:8px 6px;}
   .mainNoticeConWrap .row .oneBox:first-of-type {border-top:none;}
   .mainNoticeConWrap .row .oneBox:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
   
   .mainNoticeConWrap .row .oneBox .dateBox {float:left; width:60px; height:68px; padding-top:10px;}
   .mainNoticeConWrap .row .oneBox .dateBox h5 {font-size:12px;}
   .mainNoticeConWrap .row .oneBox .dateBox h2 {font-size:22px;}
   
   .mainNoticeConWrap .row .oneBox .letterBox {float:left; width:100%; text-align:left; padding-top:4px;}
	.mainNoticeConWrap .row .oneBox .letterBox .date {font-size: 13px; top: 2px;}
   .mainNoticeConWrap .row .oneBox .letterBox .title {font-size:14px;}
   .mainNoticeConWrap .row .oneBox .letterBox .content {font-size:13px;}
   .mainNoticeConWrap .row .oneBox .letterBox .attachment {font-size:12px;}

         
}


/*   소통하는 보도자료   */
.mainSnsContentWrap {width:100%; background-color:#f6f7f9; padding:49px 0;}
.mainSnsContentWrap .inner1080 {}
.mainSnsContentWrap .mainSnsTitleBox {text-align:center; margin-bottom:25px;}
.mainSnsContentWrap .mainSnsTitleBox h2 {font-size:30px; font-weight:500; color:#444444;}
.mainSnsContentWrap .mainSnsTitleBox h2 span {color:#005baa; margin-bottom:5px;}
.mainSnsContentWrap .mainSnsTitleBox h5 {font-size:16px; color:#6d6e71;}
.mainSnsContentWrap .mainSnsContentBox {width:100%;}
.mainSnsContentWrap .mainSnsContentBox ul {width:100%;}
.mainSnsContentWrap .mainSnsContentBox ul li {float:left; width:25%; padding:0 2px; text-align:center;}
.mainSnsContentWrap .mainSnsContentBox ul li a {display:block; border:1px solid #e4e4e4;}
/*SNS링크*/
.mainSnsSlideWrap {position:absolute; right: -108px;top: 122px; overflow:hidden; width:74px; min-height:74px; border-radius:37px; background-color:#fff;}
.mainSnsSlideWrap .bgBlueColor {position:absolute; top:0; left:0; width:100%; height:37px; background-color:#005aaa; z-index:1;}
.mainSnsSlideWrap .bgSkyColor {position:absolute; bottom:0; left:0; width:100%; height:37px; background-color:#3eafdd; z-index:1;}
.mainSnsSlideWrap .innerBox {margin:10px; position:relative; z-index:100;}
.mainSnsSlideWrap .nameBox {background-color:#fff;width:54px;height:54px;border-radius:50%;text-align:center;padding-top: 10px;}
.mainSnsSlideWrap .nameBox button {font-size: 14px;font-weight: bold;color:#005aaa;line-height: 1.1;}

.mainSnsSlideWrap .snsIconBox {text-align:center;}
.mainSnsSlideWrap .snsIconBox ul {}
.mainSnsSlideWrap .snsIconBox ul li {margin:5px 0;}
.mainSnsSlideWrap .snsIconBox ul li:first-of-type {margin-top:3px;}

.mainSnsSlideWrap .closeBtnBox { text-align:center;}
.mainSnsSlideWrap .closeBtnBox button {margin-top: 12px;color:#fff;font-size: 18px;}


@media all and (max-width:1080px){	
	.mainSnsContentWrap .inner1080 {padding:0 10px;}
}

@media all and (max-width:920px){	
	.mainSnsSlideWrap {display:none;}
	
	/*   소통하는 보도자료   */
	.mainSnsContentWrap {padding:25px 0px 35px;}
	.mainSnsContentWrap .mainSnsTitleBox {margin-bottom:15px;}
	.mainSnsContentWrap .mainSnsTitleBox h2 {font-size:20px;}
	.mainSnsContentWrap .mainSnsTitleBox h5 {font-size:14px;}
	.mainSnsContentWrap .mainSnsContentBox {width:100%; padding:0 30px;}
	.mainSnsContentWrap .mainSnsContentBox ul {width:100%;}
	.mainSnsContentWrap .mainSnsContentBox ul li {float:none; width:100%; padding:0 0px; display:none;}
	.mainSnsContentWrap .mainSnsContentBox ul li a img {width:100%;}
	.mainSnsContentWrap .mainSnsContentBox ul li:first-of-type {display:block;}
	
}





/*  메인 밑에 배너  */
.mainBottomBannerWrap {width:100%; border-top:1px solid #dddddd;}
.mainBottomBannerWrap .inner1080 { padding:15px 0;}

.mainBottomBannerWrap .mainBannerBtnPrev {float:left; width:5%; text-align:center;}
.mainBottomBannerWrap .mainBannerBSlideBox {float:left; width:90%; padding-top:5px;}
.mainBottomBannerWrap .mainBannerBSlideBox ul {width:100%;}
.mainBottomBannerWrap .mainBannerBSlideBox ul li {float:left; width:20%; text-align:center; padding:0 5px;}
.mainBottomBannerWrap .mainBannerBtnNext {float:left; width:5%; text-align:center;}



@media all and (max-width:920px){
		
	.mainBottomBannerWrap {display:none;}
		
}













