
/* ********************************************************************************** 

* ê¸°ë³¸ íƒœê·¸ ì„ ì–¸ 

* *********************************************************************************** */

@CHARSET "UTF-8";
/*
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Poppins);
*/
@import url(/resources/jcia/font/notosans_kr_stylesheet.css);
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
 	font-weight: 400; 
	font-style: inherit;
	vertical-align:inherit;
	font-family:'notokr', sans-serif;
 	color:#444;
	box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; 
    -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;  
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
body,input,textarea,select,button,table,caption,option,a, label{}

img {border:0; vertical-align:middle; max-width:100%;}   
html {}
body { width:100%; height:100%; padding: 0; margin: 0; position:relative; overflow-x:hidden; font-size:16px; letter-spacing:-0.5px; line-height:1.3; -webkit-text-size-adjust:none;}
a { text-decoration:none !important; padding: 0; margin: 0;  color:#444; }   
a:hover {text-decoration: underline;}
ul {}
ul li {list-style: none;}
button {border:none; background-color:transparent; padding:0; margin:0; cursor:pointer;}
caption {position:absolute; left:-10000px}

legend{display:none;}
table { border-collapse:collapse; border-spacing: 0;}

input {vertical-align: middle; font-family:'notokr', sans-serif;}
input[type=radio],
input[type=checkbox] {vertical-align:middle; margin:0 5px 0 0; border:1px solid #cfcfcf;}
input[type=text],
input[type=number],
input[type=password] {vertical-align:middle; border:1px solid #ddd; padding:0 10px;} 
input[type=file] {vertical-align:middle; border:1px solid #ddd; padding:3px; background:#fff;}
input[type=file] button {font-size:50px;}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {color:#888 !important; letter-spacing:-0px; }

input::-webkit-input-placeholder {color:#888 !important; letter-spacing:-0.5px; font-size:14px; font-family:'notokr', sans-serif;}
input::-moz-placeholder {color:#888 !important; letter-spacing:-0.5px; font-size:14px; font-family:'notokr', sans-serif;}
input:-ms-input-placeholder {color:#888 !important; letter-spacing:-0.5px; font-size:14px; font-family:'notokr', sans-serif;}
input:-moz-placeholder {color:#888 !important; letter-spacing:-0.5px; font-size:14px; font-family:'notokr', sans-serif;}


fieldset {border:none;border:solid 0 transparent;} /* for Opera7 Bug */
select {vertical-align: middle; border:1px solid #cfcfcf; padding:3px;}
textarea {vertical-align: middle; border:1px solid #cfcfcf; padding:5px;}


h1 {letter-spacing:-0.7px; line-height:1.4;}
.title {letter-spacing:-1px; line-height:1.4;}


/* ************************************************************************************** *

* ê³µí†µ CSS
* 
/* ************************************************************************************** */

/* ê¸€ìžë„˜ì–´ê°€ë©´ ì ì²˜ë¦¬ */
.letterOver {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.letterOverTable { max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/* 2ì¤„ ì´ìƒì¼ë•Œ ì ì²˜ë¦¬ */
.letterOver_02 {
	display:-webkit-box;
	height:20px; /* ë†’ì´ê°’ ì¶”ê°€ */
	overflow:hidden; /* ìˆ¨ê¹€ì²˜ë¦¬ */
	text-overflow:ellipsis;
	-webkit-line-clamp:2; /*ë¼ì¸ìˆ˜ ì„¤ì •*/
	word-wrap:break-word;
	-webkit-box-orient:vertical;	
}

/* ê³µí†µ í´ëž˜ìŠ¤ Css */
.left {float:left; } 
.right {float:right;} 
.clear {clear: both; } 
.pointer {cursor: pointer; }
.bold {font-weight: bold; }  
.bolderLight {font-weight:500;}


/* ê³µí†µ í´ëž˜ìŠ¤ ClearFix Css */
.clearfix:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.clearfix { display: inline-block; *display:inline; *zoom:1; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* BORDER */
.line_b1_w {border-bottom: 1px solid #737b7e;}
.line_t1_w {border-top: 1px solid #737b7e;}

.line_b1_b {border-bottom: 1px solid #000;}
.line_t1_b {border-top: 1px solid #000;}

.border_aaa {border:1px solid #aaa;}

.borderBblack {}


/* TEXT-ALING */
.textC { text-align:center !important; }
.textL { text-align:left !important; }
.textR { text-align:right !important; }

/* MARGIN */
.mgA0 { margin:0; }

.mgT0 { margin-top:0px }
.mgT5 { margin-top:5px }
.mgT10 { margin-top:10px }
.mgT15 { margin-top:15px }
.mgT20 { margin-top:20px }
.mgT25 { margin-top:25px }
.mgT30 { margin-top:30px }
.mgT35 { margin-top:35px }
.mgT40 { margin-top:40px }
.mgT45 { margin-top:45px }
.mgT50 { margin-top:50px }
.mgT55 { margin-top:55px }
.mgT60 { margin-top:60px }
.mgT65 { margin-top:65px }
.mgT70 { margin-top:70px }

.mgL5 { margin-left:5px }
.mgL10 { margin-left:10px }
.mgL15 { margin-left:15px }
.mgL20 { margin-left:20px }
.mgL25 { margin-left:25px }
.mgL30 { margin-left:30px }
.mgL35 { margin-left:35px }
.mgL40 { margin-left:40px }
.mgL45 { margin-left:45px }
.mgL50 { margin-left:50px }
.mgL55 { margin-left:55px }
.mgL60 { margin-left:60px }
.mgL65 { margin-left:65px }

.mgR1 { margin-right:1px }
.mgR5 { margin-right:5px }
.mgR10 { margin-right:10px }
.mgR15 { margin-right:15px }
.mgR20 { margin-right:20px }
.mgR25 { margin-right:25px }
.mgR30 { margin-right:30px }
.mgR35 { margin-right:35px }
.mgR40 { margin-right:40px }
.mgR45 { margin-right:45px }
.mgR50 { margin-right:50px }
.mgR55 { margin-right:55px }
.mgR60 { margin-right:60px }
.mgR80 { margin-right:80px }

.mgB5 { margin-bottom:5px }
.mgB10 { margin-bottom:10px }
.mgB15 { margin-bottom:15px }
.mgB20 { margin-bottom:20px }
.mgB25 { margin-bottom:25px }
.mgB30 { margin-bottom:30px }
.mgB35 { margin-bottom:35px }
.mgB40 { margin-bottom:40px }
.mgB45 { margin-bottom:45px }
.mgB50 { margin-bottom:50px }
.mgB55 { margin-bottom:55px }
.mgB70 { margin-bottom:70px }


/* PADDING */
.pdA0{padding:0;}
.pdA5{padding:5px;}
.pdA10{padding:10px;}
.pdA20{padding:20px;}

.pdT5{padding-top:5px}
.pdT6{padding-top:6px}
.pdT10{padding-top:10px}
.pdT15{padding-top:15px}
.pdT20{padding-top:20px}
.pdT25{padding-top:25px}
.pdT30{padding-top:30px}
.pdT35{padding-top:35px}
.pdT40{padding-top:40px}
.pdT45{padding-top:45px}
.pdT50{padding-top:50px}

.pdL5{padding-left:5px}
.pdL10{padding-left:10px}
.pdL15{padding-left:15px}
.pdL20{padding-left:20px}
.pdL25{padding-left:25px}
.pdL30{padding-left:30px}
.pdL35{padding-left:35px}
.pdL40{padding-left:40px}
.pdL45{padding-left:45px}

.pdR5{padding-right:5px}
.pdR10{padding-right:10px}
.pdR15{padding-right:15px}
.pdR20{padding-right:20px}
.pdR25{padding-right:25px}
.pdR30{padding-right:30px}
.pdR35{padding-right:35px}
.pdR40{padding-right:40px}
.pdR45{padding-right:45px}

.pdB5{padding-bottom:5px}
.pdB10{padding-bottom:10px}
.pdB15{padding-bottom:15px}
.pdB20{padding-bottom:20px}
.pdB25{padding-bottom:25px}
.pdB30{padding-bottom:30px}
.pdB35{padding-bottom:35px}
.pdB40{padding-bottom:40px}
.pdB45{padding-bottom:45px}


/* FONT-SIZE */
.fs18{font-size: 18px !important;}
.fs16{font-size: 16px !important;}
.fs14{font-size: 14px !important;}
.fs12{font-size: 12px !important;}
.fs10{font-size: 10px !important;}

.fontBigger_01 {font-size:1.1em;}
.fontBigger_02 {font-size:1.2em;}

.fontSmaller_01 {font-size:0.9em;}
.fontSmaller_02 {font-size:0.8em;}


/* COLOR */
.btnBgBlue {background-color:#105baa; color:#fff;}
.btnBgBlue:hover {}

.btnWhiteLine {background-color:#fff; color:#444444; border:1px solid #ddd;}

.colorR {color:#ed1c24 !important;}
.colorB {color:#0e4e96 !important;}



/* DISPLAY */
.hide { visibility:hidden; }
.block { display:block; }
.none { display:none; }


/* FLOAT */
.leftF { float:left; }
.rightF { float:right; }
.floatN { float:none; }


/* TRANSITION */
.transDefault {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* BUTTON */
.btnDefault {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	padding:5px 10px;
	cursor:pointer;	
	min-height:35px;
	vertical-align:middle;
	font-size: 15px;	
	font-weight:500;
}

/*ê²Œì‹œë¬¼ë²„íŠ¼ê¸°ë³¸*/
.btnTDefault {font-size:15px; border:1px solid #ddd; padding:9px 17px;}

.btnBigger {font-size:1.04em; padding:0.9em 2em;}
.btnSmaller {font-size:0.9em; padding:0.9em 0.95em;}


/* Select */
.selectDefault {height:32px; border:1px solid #ddd; vertical-align:middle; font-size:15px; color:#888;}


/* Input */
.txtDefault {height:32px; border:1px solid #ddd; vertical-align:middle; font-size:15px; color:#888;}
.radioDefault { vertical-align:top;}


/* Width ê°’ */
.selWSearch {width:150px;}
.txtWSearch {width:370px;}
.btnWSearch {width:100px;}

.txtWUploadS {width:140px;}
.txtWUploadM {width:397px;}
.txtWUploadL {width:658px;}
.txtWUploadL2 {width:480px;}
.txtWUploadPhone {width:60px;}
.txtWUploadPwd {width:160px;}

.width100Per {width:100%;}
.widthAuto {width:auto;}

.txtSearch_Size01 {height:40px;}

.btnSizeM {}
.btnSizeSearch {height:40px; min-width:80px;}
.btnSizeM_2 {font-size:1.1em; padding:10px 45px;}
.btnSizeM_3 {font-size: 0.95em;padding: 6px 41px; }

.bg_gray_01 {background-color:#ccc !important; color:#fff !important;}
.bg_gray_01:hover {background-color:#105baa;}

/* ëª¨ë°”ì¼ í´ëž˜ìŠ¤ */
.viewPc {display:inline-block;}
.viewMobile {display:none;}

/* ëª¨ë°”ì¼ - PC ë³€ê²½ ë²„íŠ¼ */	
#versionDIV {text-align: center;  margin-top: 10px;}
#versionDIV a {padding: 5px 20px;font-size:13px;font-weight:500;color: #ddd;background-color: #555;}


/* ë³¸ë¬¸ë°”ë¡œê°€ê¸° */
.skip{display: block;float: left;overflow:hidden;height: 14px;color:#fff;font-size:12px;margin: 10px 10px 0 0px; padding:1px 0 0 0; line-height:12px;width:0px;}
.txtSkip {text-indent: -9999px !important;}

pre {word-wrap: break-word;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-break:break-all;}

.txtDecoUnderLine {text-decoration:underline;}

/* ********************************************************************************** 
* ì„¸ë¡œ ê°€ìš´ë° ì •ë ¬

.layer{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center}
.layer .content{display:inline-block;background:#f00;vertical-align:middle}
.layer .blank{display:inline-block;width:0;height:100%;vertical-align:middle}

* *********************************************************************************** */

.blank {display:inline-block;width:0;height:100%;vertical-align:middle}


.row {width:100%; position:relative;}
.row:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}


/* ********************************************************************************** 
	Flex ë©”ë‰´ì‚¬ìš© ë°©ë²• 
* *********************************************************************************** */
ul.flexible {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
ul.flexible:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1; }
ul.flexible li {flex-grow:1; cursor:pointer; text-align:center;}


/* ********************************************************************************** 

	ë°˜ì‘í˜•

* *********************************************************************************** */

@media all and (max-width:920px){
	
	/* Width */	
	.selWSearch {width:100% !important;}
	.txtWSearch {width:100% !important;}
	.btnWSearch {width:100% !important;}
	
	.txtWUploadS {width:90% !important;}
	.txtWUploadM {width:100% !important;}
	.txtWUploadL {width:100% !important;}
	.txtWUploadL2 {width:100% !important;}
	.txtWUploadPwd {width:100%;}
	
	/* View*/
/* 	.viewPc {display:none;} */
	.viewMobile {display:block;}
	.fontBlock {display:inline-block;}
	.mobileW100 {width:100%; margin:0 0 5px 0;}
	
	
	/* Select */
	.selectDefault {height:auto; padding:5px; font-size:13px;}
		
	/* Input */
	input::-webkit-input-placeholder {font-size:13px;}
	input::-moz-placeholder {font-size:13px;}
	input:-ms-input-placeholder {font-size:13px;}
	input:-moz-placeholder {font-size:13px;}
	
	input[type=radio],
	input[type=checkbox] {vertical-align:middle; margin:0 5px 0 0; border:1px solid #cfcfcf;}
	
	input[type=text],
	input[type=number],
	input[type=password] {vertical-align:middle; border:1px solid #ddd; padding:10px 10px;} 
		
	.txtDefault {height:auto; padding:10px 5px; font-size:13px;}
	
	
	/* Button */	
	.btnTDefault {font-size:13px; padding:5px;}	
	.btnSizeSearch {height:auto;}
	
	
	/* Size */
	.btnSizeM_2 {font-size:0.9em; padding:5px 20px;}
	
		
	/* ëª¨ë°”ì¼ì—ì„œ í…Œì´ë¸” ì²˜ë¦¬ - ìŠ¤í¬ë¡¤ë°” ìƒì„± */
	.table_wrap_mobile {overflow-x:scroll;}
	.table_wrap_mobile table {width:780px;}
	.table_wrap_mobile table th {font-size:0.80em !important;}
	.table_wrap_mobile table td {font-size:0.80em !important;}
	/* ìŠ¤í¬ë¡¤ ì²˜ë¦¬ í•˜ì§€ ì•Šì„ í…Œì´ë¸”ì— dontwantScroll í´ëž˜ìŠ¤ ì¶”ê°€ */
	.table_wrap_mobile .dontwantScroll {width:100%;}
	.m_table_wrap { overflow-x:scroll; }
		
}

@media all and (max-width:450px){	
	
}

/* 로딩박스 */
.loading_box{width:100%; height:100%; position: fixed; top:0; left:0; z-index: 20000 ; display: none; }
.loading_box .bg{width:100%; position: absolute; top:0; left: 0; height: 100%; background-color: #000; opacity : 0.5; }
.loading_box img{position: absolute; top:50%; margin-top: -150px; left: 50%; margin-left: -150px; }

