@charset "utf-8";
/* CSS Document */
.warp-All {width:100%;}
.warp-All:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.inner1200 {width:1200px; margin:0 auto; position:relative;}
.inner1200:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

@media all and (max-width:1200px){
	.inner1200 {width:100%; padding:0 10px;}
}




/*****event_01*****/
/*탑헤더*/
#topHeader {width:100%; background-color:#f5f6f6; padding:100px 0 80px; background-image:url('../img/pattern.jpg'); background-repeat:repeat-x; background-position:bottom left;}
#topHeader:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
#topHeader .title-b {width:45%; float:left; }
#topHeader .title-b:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
#topHeader .title-b .tit { width: 58%;}
#topHeader .bg {float:right; width: 55%; text-align: left;}
#topHeader .letter {font-size: 18px; color:#565656;}
.letter{padding-top:20px; font-weight: 500;}



@media all and (max-width:1000px){
	/*탑헤더*/
	#topHeader {padding:30px 0 40px; background-image:url('../img/pattern.jpg'); background-repeat:repeat-x; background-position:bottom left;}
	#topHeader .title-b .tit{width:93%;}
	#topHeader .title-b {width:100%; float:none; }
	#topHeader .letter {font-size:15px;}
	#topHeader .bg{float:none;width:100%;}
	.bg{width:100%;f}
	.tit{width:100%;}
	.letter{float:none;}
	.letter br{display:none;}

}




/*컨텐츠*/
.warp-All{background:#0b7f5a;}
.gift_text{font-size:19px; color:#ddd;padding-bottom:25px;}
.Renewal_Text{padding-top:70px;padding-bottom:20px;}
.yellow_point{color:#fcda14;}
.event_01{width:49%;background: #fff;border-radius: 50px; padding: 17px 40px; overflow: auto;float:left;margin-right:1%;} 
.event_02{width:50%;background: #fff;border-radius: 50px; padding: 17px 40px; overflow: auto;float:left;}
.small_txt{font-size:13px;}
.num_01{ border-radius: 20px;float:left; width:15%;}
.num_01 p:nth-child(1){color:#077e58; font-size:15px; font-weight: 500;}
.one{color:#077e58; font-size:42px; font-weight: 500; line-height: 1;}
.height_border{width:1%; height:50px;border-right:1px solid #077e58;float:left; margin-top:7px;}
.quiz_event_wrap{width:84%;float:left;padding-left:25px;}
.quiz_text{width:53%;float:left;margin-right:40px;}
.quiz_text p:nth-child(1){color:#565656; font-size:20px;}
.quiz_text p:nth-child(2){color:#0b7f5a; font-size:24px;}
.PP_btn{padding-top:8px;}
#PP_btn{width:35%;float:right;background:#077e58; color:#fff; border:none; border-radius: 20px;padding:10px; vertical-align: middle;font-size:15px;}
.arrow_space{padding-left:10px;}
.event_wrap{clear:both;}
.date{clear:both;padding-top:40px;}
.date p{color:#fcda14; font-size:20px;padding-bottom:10px;}
.x_line{border-bottom: 1px solid #fcda14; width:2%;}
.date_list{width:100%; padding-bottom:10px;}
.date_list li{width:28%;display: inline-block; color:#fff;padding:10px;font-size:16px;list-style-image:url("img  /list_style.png");}
.date_list li :before{list-style-image: url("../img/list_style.png");}
.rhombus{color:#fcda14;font-size:2px;padding-right:5px;}
.Y_one{color:#fcda14;font-size:26px;}
.Y_two{color:#fcda14;font-size:19px;}
.date_list_02{padding-bottom:60px;}
.date_list_02 li{width:18%;display: inline-block; color:#fff;padding:10px; font-size:16px;}
.date_list_02 li:nth-child(4){width:22%;color:#fcda14; font-size:16px;}
.Y_three{color:#fcda14;font-size:16px;padding-right:10px;}
.bottom_inner{width:90%;padding-top:10px;background: #565555;}
.bottom_Wrap{width:100%;background:#565555;padding-bottom:30px;padding-top: 20px;}
.Notice{color:#fcda14; font-size:18px;padding-bottom: 10px; }
.info{font-size:15px; color:#fff;padding-left: 20px;}
.info li{ line-height: 1.5;}
.Y_info{color:#fcda14; font-weight: 500;}
.bottom_left{float:left;}
.B_logo{float:right;}


@media all and (max-width:1200px){

	.date_list{}
	.date_list li{width:33.33%; float: left;font-size:15px;}

	.date_list_02{padding-bottom:60px;}
	.date_list_02 li{width:auto; display: inline-block; color:#fff;padding:10px; font-size:16px;}
	.date_list_02 li:nth-child(4){width: auto;}
}

@media all and (max-width:1100px){
	
	.quiz_event_wrap{width:84%; float:left; padding-left:10px;}
	.quiz_text{width:53%;float:left;margin-right:0px;}
	.quiz_text p:nth-child(1){color:#565656; font-size:18px;}
	.quiz_text p:nth-child(2){color:#0b7f5a; font-size:20px;}
}

@media all and (max-width:1000px){
	/*컨텐츠*/

	.inner1200{padding:20px;}
	.Renewal_Text{width:80%;padding-top:30px;}
	.gift_text{font-size:14px;}
	.gift_text br{display:none;}
	.event_01{margin-bottom:10px;}
	.event_01,.event_02{float:none;width:100%;padding:7px 20px;}
	.quiz_event_wrap{padding-left:10px;}
	.num_01 p:nth-child(1){font-size:10px;}
	.num_01{width:14%;}
	.one{font-size:30px;}
	.num_01 p:nth-child(1){font-size:13px;}
	.quiz_text{width:59%;margin-right:2px;padding-top:8px;}
	.quiz_text p:nth-child(1){color:#565656; font-size:14px;}
	.quiz_text p:nth-child(2){color:#0b7f5a; font-size:16px;}
	.small_txt{font-size:10px;}
	#PP_btn{font-size:13px;width:40%;padding:7px;margin-top:6px;}
	.date{padding-top:25px;}
	.date p{font-size:16px;padding-bottom:5px;}
	.date_list li{width:100%;display:block; padding:0; line-height: 1px;font-size:14px;letter-spacing: 0.5px;}
	.Y_one{font-size:17px;}
	.Y_two{font-size:15px;}
	.Y_three{font-size:14px;}
	.date_list_02{padding-bottom:18px;}
	.date_list_02 li{width:100%;display:block; padding:0;font-size:14px;letter-spacing: 0.5px;}
	.date_list_02 li:nth-child(4){width:100%; font-size:13px;padding-top:5px;}
	.bottom_inner{width:100%;}
	.bottom_left,.B_logo{float:none;}
	.Notice{font-size:15px;}
	.info{font-size:13px;padding-bottom: 30px;}

}




/*****event_03*****/
.one_step_wrap_01,.one_step_wrap_02{background:#fff;border-radius: 10px;padding: 51px 65px;overflow:auto;}
.one_step_wrap_02{margin-bottom:70px;}
.C_title_01{padding-top:50px;padding-bottom:20px;}
.C_title_01 li{display:inline-block; color:#fff;font-size:28px;}
.C_title_01 li:nth-child(1){font-size:15px;color:#fcda14;}
.C_title_01 li:nth-child(3){padding-left:15px;}
.Line_Y{width:1%; height:25px; border-right:1px solid #dee5e0;padding-left:10px;}
.E_one{font-size:49px;font-weight: 500;color:#fcda14;padding-left:5px;}
.E_text{font-size:28px;color:#fcda14;}
.content_step_01,.content_step_02{/* width:9%; */widht: 30px;widht: 30%;text-align: center;h: #fcda14;font-size: 25px;width: 100px;height: 102px;background:#0b7f5a;padding: 36px 20px;border-radius:100px;color:#fcda14;font-size:16px;float:left;margin-right:30px;}
.content_step_01 p,
.content_step_02 p{font-size: 19px;font-weight: 600;}
.content_step_02 p span {font-weight:600;}
.C_first{overflow: auto;border-bottom:1px dotted #bbbbbb;width: 100%;padding-bottom:35px;margin-bottom:30px;overflow: hidden;}
.C_step_1{float: left;/* padding-left:25px; */padding-top:20px;}
.C_step_1 p,.C_step_2 p{font-size:21px;color:#565656;font-weight: 500;margin-top: 10px;}
.C_step_2 {padding-bottom:25px;}
.G_text{font-size:21px; color:#0b7f5a; font-weight: 500;}
.J_text{font-size:20px;color:#0b7f5a; font-size:16px;font-weight: 500;}
.G_loginBtn{float:right;/* width:13%; */padding-top:40px;}
#Login_btn{width: 150px;background:#0b7f5a;color:#fff;padding:12px;border-radius: 25px;margin: 24px auto 0;}
#Login_btn img{padding-left:10px;}
.step_right_01{/* width: 100%; */}
.step_right_02{width:86%;float:left;padding-top:40px;}
.Question{padding-bottom:15px;font-weight: 500;font-size:20px; color:#0b7f5a; font-weight: 500;}
.answer{color:#4d4d4f;font-size:17px;border-bottom:1px solid #bbb;padding-bottom:10px;margin-bottom: 10px;width: 100%;}
.hint p{color:#0b7f5a; font-size:15px;padding-bottom:50px;}
.C_second{width:94%;}
.Event_02_Step_01 p{padding-top:20px;line-height:0.5;}
.Event_02_Step_01 p:nth-child(1){color:#565656; font-size:22px;}
.Event_02_Step_01 p:nth-child(2){color:#0b7f5a;font-size:17px;padding-bottom:20px;}
.Step2_G{color:#0b7f5a;}
.C_first_B{overflow: auto;width:94%;padding-bottom:10px;}


/*개인정보동의*/
	.table_wrap{background:#fff;border-radius: 10px;padding:40px 40px;margin-bottom:100px;}
	.info_agree{border-collapse:collapse;margin:0 auto;width:93%;}
	.agree_title{font-size:27px;color:#0b7f5a; text-align:center;padding-bottom:18px;}
	.info_agree td{border:1px solid #ddd; padding:20px 60px;color:#555655;font-size:15px;}
	.tr_01 td{font-size:20px;color:#0b7f5a;font-weight: 500; text-align:center; background:#ecf7f3;}
	.no_event{color:#0b7f5a}
	.ok_agree{color:#0b7f5a;font-size:20px;}
	.btn{text-align: center;padding-top:30px;}
	#event_btn{width:23%;background:#0b7f5a;color: #ffffff;border-radius: 28px;padding:13px;font-size:17px;}
	#event_btn img{vertical-align: middle;padding-left:10px;}
	label{padding-right:10px;}
	#name,#number{padding:8px;border:1px solid #dededd;width:39%;margin-left:15px;}
	.agree_Btn{margin-right:50px;}

	




@media all and (max-width:1000px){
	/*event_03*/

	.C_title_01{padding-top:10px;padding-bottom:15px;text-align: center;}
	.C_title_01 li:nth-child(1){font-size:13px;}
	.E_one{font-size:30px;/* display: none; */}
	.C_first,.C_second{width:100%;}
	.C_title_01 li{font-size:16px;}
	.E_text{font-size:16px;}
	.C_title_01 li:nth-child(3){padding-left:10px;letter-spacing: 1;}
	.Line_Y{height:18px;display: none;}
	.one_step_wrap_01, .one_step_wrap_02{width:100%;margin-bottom:35px;}
	.content_step_01, .content_step_02{width:80px;height:80px;padding: 25px 5px;float:none;text-align: center;display: block;margin: 0 auto 10px;}
	.content_step_01, .content_step_02 p{font-size: 16px;}
	.C_step_1{padding-left:0px;text-align: center;width: 100%;}
	.C_step_1 img{width: 150px;text-align: center;}
	.C_step_1 p, .C_step_2 p,.G_text{font-size:16px;/* text-align: left; */}
	.J_text{font-size:14px;}
	.step_right_02{float:none;width:100%;padding-top:10px;padding-bottom:5px;}
	.Question{font-size:17px;padding-bottom:7px;}
	.answer{font-size:15px;}
	.hint p{padding-bottom:25px;font-size:13px;}
	.G_loginBtn{float:none;width: 100%;padding:5px;text-align: center;}
	.table_wrap{margin-bottom:50px;width:100%;padding:40px 10px;}
	.info_agree td{padding: 15px 20px;font-size: 14px;}
	.Event_02_Step_01 p{line-height:1.5;padding-top:5px;}
	.Event_02_Step_01 p:nth-child(1){font-size:18px;text-align: center;}
	.Event_02_Step_01 p br{display: none;}
	.Event_02_Step_01 p:nth-child(2){font-size:14px;padding-bottom:5px;text-align: center;}
	.C_first_B{margin-bottom:0px;}
	#event_btn{width:70%; font-size:14px;}
	#name, #number{width:90%;margin-left:0px;}
	#name{margin-bottom:10px;}

	.ok_agree {font-size:14px;}
	.agree_title {font-size:15px; vertical-align:middle;}
	.agree_title img {width:30px;}
	.sns_text{text-align:center;}


}





/*****event_04*****/
.korea_text {padding-top:60px;padding-bottom:15px;}
.Y_TEXT{font-size:28px; color:#fcda14;}
.korea_content p{font-size:28px;color:#fff;padding-bottom:20px;}
.korea_content p:nth-child(2){font-size:20px;}
.link_list{background: #fff; border-radius: 10px;padding:50px 20px 15px 20px;text-align:center;margin-bottom:40px;}
.link_list li{width:19%;display: inline-block; border-right:1px dotted #bbb;text-align:center;font-size:18px;}
.link_list li a{color:#0b7f5a;}
.link_list li img:nth-child(1){padding-bottom:20px;}
.B_a_icon{padding:20px;}
.link_list li:nth-child(5){border-right:none;}
.G_strong{font-weight: 500; }
.mini_youtube{text-align:center;padding-bottom:80px;}
#youtube_Btn{width:34%;background:#fff; color:#555655; font-size:20px;padding:10px; border-radius:50px;font-weight: 500; vertical-align: middle;}
#youtube_Btn img{float:left;}
#youtube_Btn br{display:none;}
.apply{color:#d2272c;font-weight: 500;}
.subscribe{padding-top:10px;}


.txt_qu {width: 100%;}





/*event_04*/
@media all and (max-width:1000px){
	/*컨텐츠*/
	.korea_text{padding-top:25px;}
	.korea_text img{width:80%;}
	.Y_TEXT{font-size:19px;}
	.korea_content p{font-size:19px;color:#fff;padding-bottom:20px;}
	.korea_content p:nth-child(2){font-size:15px;}
	.korea_content p br{display:none;}
	.link_list{width:100%;padding:30px 20px 15px 20px;}
	.link_list li{width:49%;border:none;}
	.link_list li a {font-size: 15px;}
	.link_list li img {width: 50px;}
	#youtube_Btn{width:80%; font-size:16px;word-break: 5px;padding:5px;}
	.apply{font-size:16px;}
	.mini_youtube{padding-bottom:20px;padding-right:0;}
	#youtube_Btn img{float:left;padding-right:0px;}
	.subscribe{padding-top:5px;}
	#youtube_Btn br{display:block;width:65%;}


}










